@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
$primary-color: #222;
$btn-color: #faf0d3;
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin max-width-page {
  width: 1372px;
  margin: 0 auto;
  @media screen and (max-width: 1199px) {
    width: 100%;
  }
}
@mixin reset-a ($color) {
  text-decoration: none;
  color: $color;
}
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin btn-cat ($width, $height, $color, $color-hover) {
  .btn-img__btn {
    transition: all 0.5s;
    width: $width;
    height: $height;
    background: $color;

    &:hover {
      background: $color-hover;
      transition: all 0.5s;
    }
  }
}
@mixin lookbook-img ($width, $height) {
  width: $width;
  height: $height;
}
@mixin img ($w, $h) {
  width: $w;
  height: $h;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
}