.about {
  margin-top: 95px;
  margin-bottom: 140px;
  position: relative;

  &__title {
    margin-bottom: 86px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 144px;
    padding-left: 10px;
  }

  &__item {
    flex-basis: 12%;

    p {
      font-family: 'Glober-free';
      font-weight: bold;
      font-size: 21px;
      color: #545454;
      margin: 0;
    }
  }

  &__img {
    min-height: 75px;

    img {
      padding-right: 10px;
    }
  }
}

.double__btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 0 86px;
  min-height: 157px;
  width: 671px;
  background: #FFEFEF;
  @include border-radius(24px);
  font-family: 'Glober-book';
  font-size: 20px;
  color: #828282;
  transition: all 0.5s;

  &:hover {
    color: #828282;
    text-decoration: none;
    background: #FCE2E2;
    transition: all 0.5s;
  }

  img {
    margin-left: 32px;
  }
}

.double {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  &__content {
    font-size: 19px;
    font-family: 'Glober-book';
    line-height: 30px;
    color: #000;
    // padding-top: 30px;
    padding-right: 100px;
  }

  &__more {
    position: relative;
  }

  &__img {
    position: absolute;
    left: 27px;
    top: -6px;
  }
}

.about-left__heart-dots {
  left: -50px;
  top: -190px;
}

.about-right__heart-dots {
  right: -50px;
  top: -30px;
}