.top-info__content {
  .top-info__col {
    font-size: 16px;
    line-height: 30px;
    font-family: 'Glober-book';
    color: #000;
  }
}

.top-title {
  font-family: 'Glober-free';
  font-weight: bold;
  line-height: 60px;
  font-size: 53px;
  margin-bottom: 56px;
  color: #454C4F;
}

.top-info__small-link {
  font-size: 21px;
  margin: 71px 0 0;
}

.about-page__slider {
  width: 1005px;
  height: 568px;

  .slider__item img {
    @include border-radius(28px);
  }

  .slider__container {
    @include border-radius(28px);
    margin-right: 22px;
  }
}

.about-page {
  &__bg {
    background: #C0E5EE;
    height: 526px;
    right: -69px;
    top: auto;
    bottom: -20px;
  }
}

.minify-top-info {
  min-height: 589px;
}

.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 109px;
  margin-top: 100px;

  &__item {
    display: block;
    margin-bottom: 35px;

    &:hover {
      text-decoration: none;

      .category__link {
        background: #FCE2E2;
        padding-left: 20px;
        transition: all 0.5s;
      }

      .category__green {
        background: #D7F9CC;
        transition: all 0.5s;
      }

      .category__yellow {
        background: #FCF3CD;
        transition: all 0.5s;
      }
    }
  }

  &__img {
    @include img(442px, 441px);
    @include border-radius(28px 28px 0 0);
  }

  &__link {
    @include border-radius(0 0 28px 28px);
    min-height: 86px;
    font-size: 20px;
    color: #5E5E5E;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFEFEF;
    transition: all 0.5s;

    img {
      margin-left: 27px;
    }
  }

  &__green {
    background: #EDFCE8;
    transition: all 0.5s;
  }

  &__yellow {
    background: #FCF8E8;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 1439px) {
  .category__item {
    width: 31%;
  }

  .category__img {
    width: 100%;
    height: 325px;
  }
}
@media screen and (max-width: 1200px) {
  .category__img {
    height: 250px;
  }
}
@media screen and (max-width: 1023px) {
  .category__img {
    height: 205px;
  }

  .category__link {
    font-size: 16px;
    min-height: 65px;
  }
}
@media screen and (max-width: 767px) {
  .category {
    flex-wrap: wrap;
  }

  .category__item {
    width: 48.7%;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 500px) {
  .category {
    flex-direction: column;
  }

  .category__item {
    width: 100%;
  }
}