.us {
  &__bg {
    bottom: -30x;
    height: 580px;
    background: #C0E5EE;
  }

  &__bg-second {
    bottom: -30px;
    height: 580px;
  }
}

.history {
  margin-top: 94px;
  margin-bottom: 173px;

  &__title {
    margin-bottom: 16px;
  }
}

.btn-slider {
  display: flex;
  align-items: center;

  &__content-item {
    display: flex;
  }

  &__img {
    @include img(590px, 590px);
  }

  &__info {
    flex: 1;
    background: #fff;
    padding: 68px 28px 49px 38px;
  }

  &__label {
    font-family: 'Glober-free';
    font-size: 27px;
    font-weight: 700;
    line-height: 30px;
    color: #515151;
    margin-bottom: 48px;

    span {
      color: #E10486;
    }
  }

  &__article {
    font-size: 16px;
    line-height: 30px;
    color: #515151;
    margin: 0;
  }

  &__content-item {
    display: none;
  }

  &__content-side {
    @include border-radius(28px);
    box-shadow: 0 3px 39px rgba(0, 0, 0, 0.07%);
    overflow: hidden;
  }

  &__btn-item {
    height: 37px;
    width: 105px;
    background: #F5D6E2;
    color: #515151;
    font-family: 'Glober-book';
    line-height: 18px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all 0.5s;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;

    &:hover {
      transition: all 0.5s;
      color: #fff;
      background: #F599BD;
    }
  }

  &__btn-active {
    background: #F599BD;
    color: #fff;
  }

  &__content-active {
    display: flex;
  }
}

.gallery {
  &__title {
    margin-bottom: 18px;
  }
}

.btn-slider__mobile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5d6e2;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 1px 15px rgba(0,0,0, 0.1%);
  @include border-radius(50%);
  user-select: none;
  transition: all 0.2s;

  &:active {
    transition: all 0.2s;
    background: #f599bd;
  }
}

.btn-slider__btn-nav {
  display: none;
}