.articlep {
  margin-bottom: 194px;
  position: relative;

  .lb-page__heart-top {
    top: -128px;
  }

  .lb-page__heart-bottom {
    bottom: -60px;
  }

  .lb-page__heart-right {
    top: 80%;
  }

  &__top-banner {
    position: relative;
    width: 100%;
  }

  &__img {
    position: relative;
    z-index: 10;
    @include img(100%, 506px);
    @include border-radius(28px);

    img {
      @include border-radius(28px);
    }
  }

  &__bg-top {
    right: 0;
    bottom: -21px;
  }

  &__subscribe {
    display: block;
    background: url("../img/main/subscribe.svg")center center no-repeat;
    width: 34px;
    height: 30px;
    transition: all 0.5s;

    &:hover {
      transition: all 0.3s;
      background: url("../img/main/subscribe-active.svg")center center no-repeat;
    }
  }

  &__title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    margin-top: 30px;
    border-bottom: 1px solid #D4D4D4;
    margin-bottom: 26px;
  }

  &__title {
    color: #000;
  }

  &__paragraph {
    font-family: 'Glober-book';
    font-size: 16px;
    line-height: 30px;
    color: #000;
    margin: 0;
  }

  &__double {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px;

    .articlep__paragraph {
      flex-basis: 65%;
      padding-top: 17px;
    }
  }

  &__content-img {
    flex-basis: 32.5%;
    box-sizing: border-box;
    @include img(100%, 326px);
    @include border-radius(28px);

    img {
      @include border-radius(28px);
    }
  }
}

.articlep-img1 {
  margin-right: 33px;
}

.articlep-img2 {
  flex-basis: 32.5%;
  margin-right: 0;
  margin-left: 33px;
}

.articlep__title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0 0;
  margin-top: 0;
  border-bottom: 1px solid #D4D4D4;
  margin-bottom: 26px;
}

.articlep__title {
  color: #000;
}

.articlep__paragraph {
  font-family: 'Glober-book';
  font-size: 16px !important;
  line-height: 30px;
  color: #000 !important;
  margin: 0;
}

.articlep__content-top {
  width: 49.45%;
}

.articlep__slider {
  justify-content: flex-end;
  width: 49.5%;
  height: 515px;
}

.articlep__top-info {
  align-items: baseline;
}