.auth-form {
  width: 563px;
  padding: 39px 32px;
  box-sizing: border-box;
  margin: 62px auto 0;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16%);
  @include border-radius(28px);

  &__label {
    font-family: 'Glober-free';
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: #454C4F;
    text-align: center;

    span {
      color: #E10486;
      font-size: 18px;
    }
  }

  &__text {
    width: 100%;
    background: #F5F5F5;
    box-sizing: border-box;
    margin-bottom: 24px;

    input {
      width: 80%;
      height: 39px;
      padding: 0 18px;
      font-size: 18px;
      background: none;
      border: none;
      outline: none;
    }
  }

  &__reg {
    font-size: 16px;
    color: #000;
    text-align: center;
    margin: 0;

    a {
      color: #65053E;
      text-decoration: underline;

      &:hover {
        color: #E10486;
      }
    }
  }

  &__password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 11px;

    img {
      cursor: pointer;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
  }

  &__login {
    width: 200px;
    margin: 43px auto 10px;
    text-align: center;
    text-transform: uppercase;
    padding-right: 0;
    box-sizing: border-box;
    font-size: 18px;
    cursor: pointer;
  }
}

.remember {
  display: flex;
  justify-content: space-between;

  &__label {
    font-size: 14px;
    color: #686868;
    margin: 0;
  }

  &__recovery {
    font-size: 14px;
    color: #3E3E3E;
    text-decoration: underline;

    &:hover {
      color: #E10486;
    }
  }
}

.auth-wrap {
  position: relative;
}

.auth-dot-top {
  left: -330px;
}

.auth-dot-bottom {
  right: -320px;
  bottom: -50%;
}

.reg {
  padding: 0;
  overflow: hidden;
  margin-bottom: 50px;

  &__pad {
    padding: 39px 32px;
    display: none;
  }

  &__cont-active {
    display: block;
  }

  &__top-nav {
    display: flex;
  }

  &__top-item {
    text-align: center;
    flex-basis: 50%;
    background: #F5F5F5;
    display: flex;
    height: 62px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
  }

  &__top-active {
    background: #fff;
  }

  &__steps {
    display: none;
  }

  &__steps-active {
    display: block;
  }

  &__next {
    padding-left: 60px;
  }

  &__chechbox {
    &::before {
      top: 2px;
    }
  }

  &__reg-btn {
    width: 300px;
  }

  .btn-arrow-cat {
    margin-left: 15px;
  }
}

.auth-form__rec-pass-btn {
  width: 100%;
  font-size: 17px;
  box-sizing: border-box;
  margin: 0;
  padding-left: 10px;
  padding-right: 0;

  &:hover {
    padding-left: 25px;
  }

  .btn-arrow-cat {
    margin-left: 10px;
  }
}

.empty {
  border: 1px solid #e10486;
}

.uk-notification-message {
  background: #e10486;
  color: #fff;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.15%);
  display: flex;
  align-items: center;

  div {
    display: flex;
  }

  span {
    margin-right: 10px;
  }
}

.uk-notification-center {
  top: 39%;
  left: 50%;
  transform: translate(-50%, -39%);
}