.basket-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1036px;
  margin-bottom: 13px;
  margin-top: 40px;

  &__right {
    display: flex;
    align-items: center;
  }

  &__count {
    font-family: 'Glober-free';
    font-size: 25px;
    font-weight: 700;
    color: #444040;
  }

  &__link {
    display: block;
    text-decoration: underline;
    font-family: 'Glober-free';
    font-size: 16px;
    font-weight: 700;
    color: #000;

    &:hover {
      color: #e10486;
    }
  }
}

.basket__checkbox {
  width: auto;
  margin-bottom: 10px;
  margin-right: 25px;

  .ha-check__text {
    margin-left: 5px;
    font-family: 'Glober-free';
    font-size: 16px;
    font-weight: 700;
    color: #000;
  }

  .ha-check__mark {
    width: 16px;
    height: 16px;
    top: 2px;

    &:after {
      left: 5px;
      top: 1px;
    }
  }
}

.basket-double {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.basket-content {
  border-radius: 28px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16%);
  width: 1036px;
  padding: 0 22px 19px 18px;
  margin-bottom: 50px;
}

.basket-item {
  display: flex;
  align-items: center;
  border-top: 1px solid #EEEEEE;
  padding-top: 25px;
  margin-bottom: 19px;

  .basket__checkbox {
    margin-right: 0;
  }

  &:first-child {
    border: none;
  }

  &__info {
    margin: 0;
    border-right: 1px solid #EEEEEE;
    padding-right: 25px;
    width: 54%;
  }

  &__info_img {
    @include img(193px, 257px);
    box-shadow: none;
  }

  &__label {
    font-size: 18px;
  }

  &__btn {
    position: inherit;
    margin: 0 18px 0 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .popup-info__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__icobar {
    display: flex;
    align-items: center;
  }

  &__table {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    .size-table {
      width: 90%;
    }
  }

  &__price {
    font-family: 'Glober-free';
    font-size: 18px;
    font-weight: 700;
    color: #444040;
    margin-top: 25px;
  }
}

.basket-havent-label {
  font-family: 'Glober-free';
  font-size: 20px;
  font-weight: 700;
  color: #444040;
  margin-bottom: 16px;
}

.pink-link {
  font-family: 'Glober-free';
  font-size: 16px;
  font-weight: 700;
  color: #E10486;
  text-decoration: underline;

  &:hover {
    color: #E10486;
  }
}

.basket-info {
  width: 307px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16%);
  border-radius: 28px;
  padding: 21px 17px 36px 25px;
  box-sizing: border-box;

  &__label {
    font-family: 'Glober-free';
    font-size: 18px;
    font-weight: 700;
    color: #000;
  }

  &__line-name {
    font-size: 16px;
  }

  &__line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &__line-cur {
    font-size: 16px;
    font-family: 'Glober-free';
    font-weight: 700;
    color: #000;
  }

  &__auth {
    text-align: center;
    font-size: 17px;
    color: #444040;
    margin-top: 45px;
  }

  &__btn {
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 18px;
    padding: 10px;
    width: 90%;

    &:hover {
      padding-left: 20px;
    }

    .btn-arrow-cat {
      margin-left: 15px;
    }
  }
}

.basket-divider {
  height: 1px;
  background: #E8E8E8;
  width: 100%;
  margin: 25px 0;
}