.btn-anim {
  transition: all 0.5s;

  &:hover {
    padding-left: 10px;
    transition: all 0.5s;
  }
}

.btn-anim-span {
  transition: all 0.5s;

  &:hover {
    span {
      margin-right: -10px;
      transition: all 0.5s;
    }
  }
}

.link-half {
  transition: all 0.5s;

  &:hover {
    background-color: #f5d6e2;
    padding-left: 40px;
    transition: background-color 1s, padding-left 0.5s;
  }
}

.magazine__half-lnk,
.opt__link {
  &:hover {
    background-color: #f5d6e2;
    padding-left: 10px;
    transition: background-color 1s, padding-left 0.5s;
  }
}