.lk-buy-list {
  @include border-radius(28px);

  &__content {
    @include border-radius(28px);
  }

  .lk-date__item {
    border-bottom: none;
    border-top: 1px solid #e8e8e8;

    &:first-child {
      border-top: none;
    }
  }
}