.map {
  width: 1090px;
  height: 547px;

  &__wrap {
    width: 100%;
    height: 100%;
    @include border-radius(28px 0 0 28px);
    overflow: hidden;
    position: relative;
    z-index: 10;
  }

  &__tower {
    display: flex;
    justify-content: space-between;
  }

  &__wrap-bg {
    position: absolute;
    bottom: -27px;
    right: -61px;
    background: #FCE2E2;
    width: 100%;
    height: 100%;
    @include border-radius(28px 0 0 28px);
  }
}

.map-info {
  width: 444px;
}

.map-contacts {
  &__item {
    display: flex;
    align-items: baseline;
    margin-bottom: 24px;
  }

  &__img {
    min-width: 14px;
  }

  &__ico-wrap {
    min-width: 20px;
  }

  &__text {
    font-size: 16px;
    font-family: 'Glober-free';
    font-weight: 700;
    line-height: 19px;
    color: #000;
    margin-left: 14px;
  }
}

.map__tower {
  margin-top: 163px;
}

.map__tower-item {
  @include img(210px, 184px);
  @include border-radius(28px);
}

.map-rel {
  position: relative;
  width: 100%;
}

.select {
  margin-top: 30px;
  margin-bottom: 67px;

  &__label {
    font-family: 'Glober-book';
    font-size: 16px;
    line-height: 30px;
    color: #000;
    width: auto !important;
  }

  &__item {
    width: 174px;
    outline: none;
    font-family: 'Glober-book';
    line-height: 30px;
    color: #000;
  }

  .select__item-wrap {
    margin-left: 20px;
  }
}

.selected-city {
  display: none;
  transition: all 1s;
}

.selected-active {
  display: block;
  transition: all 1s;
}

.deliv {
  .sf-terms__list-item,
  .sf-terms__paragraph {
    font-family: 'Glober';
    font-size: 20px;
    line-height: 35px;
    color: #000;
  }
}

.light-green {
  background: #E8FCF7;
}

.triple-img {
  display: flex;
  justify-content: space-between;
  margin-top: 22px;

  &__item {
    @include img(374px, 564px);
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}