.hl-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__label {
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 27px;
    color: #444040;
    margin: 0;
  }

  &__ico-bar {
    display: flex;
    align-items: center;
  }
}

.hl-circle-btn {
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16%);
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s;

  &:hover {
    background: #E10486;

    .hl-circle-img__active {
      display: block;
    }

    .hl-circle-img {
      display: none;
    }
  }

  &:active {
    transform: scale(1.1);
  }

  picture {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hl-circle-img {
  &__active {
    display: none;
  }

  &:hover {}
}

.btn-click-active {
  background: #E10486;

  .hl-circle-img__active {
    display: block;
  }

  .hl-circle-img {
    display: none;
  }
}

.my-rating-6 {
  display: flex;
  padding-top: 5px;
}

.my-rating-7 {
  display: flex;
  padding-top: 0;

  .jq-star {
    margin-right: 15px;

    &:last-child {
      margin: 0;
    }
  }
}

.my-rating-8 {
  display: flex;
}

.rating-wrap {
  display: flex;
  padding-top: 5px;
  margin-left: 25px;
}

.rating-count {
  user-select: none;
  display: inline-block;
  margin-left: 15px;
  color: #CCCCCC;
  font-family: 'Glober-free';
  font-weight: 700;
  font-size: 24px;
}

.hl-card-articul {
  font-family: "Glober-book";
  font-size: 22px;
  color: #919191;
  line-height: 27px;
}

.hl-card {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  &__left {
    width: 674px;
  }

  &__nav-slick {
    width: 128px;
  }

  &__right {
    padding-top: 20px;
    box-sizing: border-box;
    width: 50%;
  }

  &__price {
    color: #E10486;
    font-size: 41px;
    font-family: 'Glober-free';
    font-weight: 700;
  }

  &__price-through {
    color: #444040;
    font-size: 28px;
    font-family: 'Glober-free';
    font-weight: 700;
    text-decoration: line-through;
    margin-left: 10px;
  }

  &__price-content {
    display: flex;
    align-items: baseline;
  }

  &__price-wrap {
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;
  }

  &__please-auth {
    color: #444040;
    font-size: 16px;

    a {
      color: #E10486;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.color-slider {
  width: 447px;
  position: relative;
  margin-left: 23px;
  margin-bottom: 47px;

  &__item {
    width: 77px;
    display: block;
  }

  &__color {
    width: 100%;
    height: 95px;
    background: #E5E5E5;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.09%);
    border-radius: 12px;
    @include img(77px, 95px);
  }

  &__li {
    padding-left: 11px;
  }

  &__ul {
    margin-left: 0;
  }

  &__label {
    color: #454C4F;
    font-size: 14px;
    text-align: center;
    margin-top: 13px;
  }

  &__arr-right {
    margin: 0;
    background: url("../img/main/sc-arr-right.svg")center center no-repeat;
    width: 15px;
    height: 15px;
    margin-left: 12px;
  }

  &__arr-left {
    margin: 0;
    background: url("../img/main/sc-arr-left.svg")center center no-repeat;
    width: 15px;
    height: 15px;
    margin-right: 2px;
  }
}

.cs {
  &__red {
    background: #d92323;
  }

  &__green {
    background: #29a13a;
  }

  &__blue {
    background: #2360d9;
  }

  &__white {
    background: #fff;
  }

  &__black {
    background: #000;
  }
}

.hl-card {
  &__label {
    color: #444040;
    font-size: 16px;
    margin-bottom: 16px;
  }
}

.step {
  width: 31px;
  height: 71px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #F6F6F6;
  margin: 0 auto;

  &__plus {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F6F6F6;
    height: 23px;
    width: 100%;
    cursor: pointer;

    &:after {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      background: url("../img/main/step-plus.svg")center center no-repeat;
    }

    &:active {
      background: #e3e3e3;
      box-shadow: inset 0 3px 16px rgba(0, 0, 0, 0.1%);
      transition: all 0.1s;
    }
  }

  &__minus {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F6F6F6;
    height: 23px;
    width: 100%;
    cursor: pointer;

    &:after {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      background: url("../img/main/step-minus.svg")center center no-repeat;
    }

    &:active {
      background: #e3e3e3;
      box-shadow: inset 0 3px 16px rgba(0, 0, 0, 0.1%);
      transition: all 0.1s;
    }
  }

  &__input {
    box-sizing: border-box;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    border: none;
    user-select: none;
    padding: 0;
    height: 25px;
    font-size: 14px;
    color: #515151;
    padding-top: 3px;

    &::selection {
      background: transparent;
      color: #000;
    }

    &:active,
    &:focus,
    &:hover {
      outline: 0;
      outline-offset: 0;
    }
  }
}

.size-table {
  border-bottom: 1px solid #e5e5e5;
  width: 364px;

  &__container {
    margin: 0;
  }

  &__label {
    height: 87px;
    display: flex;
    align-items: center;
    padding: 0 !important;
    font-family: 'Glober-free';
    font-size: 16px;
    color: #444040;
    font-weight: 700;
  }

  &__td {
    width: 15%;
    text-align: center;
    vertical-align: middle !important;
    padding: 9px 0 !important;
  }

  .size-table__th {
    text-align: center;
    padding: 0;
    color: #191010;
    font-family: 'Glober-free';
    font-weight: 700;
  }

  .size-table__th-disable {
    color: #CCCCCC;
  }
}

.hl-card__bl-link {
  display: inline-block;
  font-family: 'Glober-free';
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  text-decoration: underline;
  margin-top: 36px;
  transition: all 0.2s;

  &:hover {
    // text-decoration: none;
    padding-left: 10px;
    color: #e10486;
    transition: all 0.2s;
  }
}

.hl-card__buy-btn {
  display: inline-block;
  margin-top: 30px;
  font-size: 20px;
}

.hl-card__btn-align {
  display: flex;
  justify-content: flex-end;
}

.hl-description {
  margin-bottom: 70px;

  &__label {
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 24px;
    border-bottom: 1px solid #E10486;
    padding-bottom: 7px;
  }

  &__sets {
    display: flex;
  }

  &__set-name {
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 16px;
    color: #BCBCBC;
  }

  &__param {
    font-family: 'Glober-book';
    font-size: 16px;
    color: #444040;
  }

  &__item {
    margin-right: 30px;
  }

  &__more {
    font-size: 16px;
    color: #444040;
    margin-top: 21px;
  }
}

.hl-similar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  &__item {
    width: 324px;
  }
}

.hl-card__title {
  font-family: 'Glober-free';
  font-weight: 700;
  font-size: 24px;
  color: #454C4F;
  margin-bottom: 15px;
}

.hl-review {
  display: flex;
  margin-bottom: 80px;

  &__textarea {
    width: 72%;
    resize: none;
    border: 1px solid #DFDFDF;
    border-radius: 12px;
    font-size: 20px;
    color: #9A9A9A;
    outline: none;
    padding: 25px 28px;
    min-height: 270px;
  }

  &__label {
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 18px;
    color: #454C4F;
    margin-right: 22px;
  }
}

.all-rev {
  padding-bottom: 40px;

  &__item {
    margin-bottom: 84px;
  }

  &__stars {
    .jq-star {
      margin-right: 15px;
    }
  }

  .rating-wrap {
    margin: 11px 0 32px;
  }

  &__name {
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 22px;
    color: #454C4F;
    margin-right: 20px;
  }

  &__date {
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 22px;
    color: #B9B9B9;
  }

  &__content {
    font-family: 'Glober-book';
    font-size: 16px;
    color: #000000;
  }

  &__title {
    margin-bottom: 32px;
  }

  &__photo-item {
    @include img(92px, 90px);
    border-radius: 12px;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.09%);
  }

  &__photo {
    margin-top: 11px;
    display: flex;
  }

  &__card {
    padding-left: 22px;
  }

  .uk-grid {
    margin-left: -22px;
  }

  &__like-wrap {
    font-family: 'Glober-free';
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    display: flex;
    align-items: baseline;
  }

  &__files {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__like {
    display: flex;
    align-items: baseline;
    margin-left: 15px;

    span {
      margin-left: 7px;
    }
  }

  &__active {
    display: none;
    margin-top: -6px;
    cursor: pointer;
  }

  &__default {
    margin-top: -6px;
    cursor: pointer;
  }

  &__like-active {
    display: flex;
    align-items: baseline;

    .all-rev__active {
      display: initial;
    }

    .all-rev__default {
      display: none;
    }
  }
}

.all-rev__answer {
  border-left: 1px solid #707070;
  padding-left: 15px;
  margin-top: 32px;

  &_title {
    color: #454C4F;
    font-size: 22px;
    font-family: 'Glober-free';
    font-weight: 700;
    margin-bottom: 19px;
  }

  &_p {
    color: #454C4F;
    font-size: 16px;
    font-family: 'Glober-book';
    line-height: 30px;
    margin: 0;
  }
}

.hl-modal {
  &__body {
    border-radius: 42px;
    width: 828px;
    padding-bottom: 70px;
  }

  &__close {
    right: 10px;
    top: 10px;
    color: #FCE2E2;
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;

    img {
      transition: all 0.4s;
    }

    &:hover {
      img {
        transition: all 0.2s;
        transform: scale(1.2);
      }
    }
  }

  &__label {
    font-family: 'Glober-free';
    font-size: 25px;
    font-weight: 700;
    color: #444040;
    text-align: center;
    margin-top: 37px;
  }

  &__tabel {
    width: 682px;
    margin: 40px auto 0;

    th {
      border: 1px solid #CCCCCC;
    }

    td {
      border: 1px solid #CCCCCC;
      font-size: 16px;
      color: #444040;
      text-align: center;
      text-transform: none;
      padding: 5px 0;
    }

    thead {
      th {
        font-size: 16px;
        color: #444040;
        text-align: center;
        text-transform: none;
      }
    }
  }

  &__rowspan {
    vertical-align: middle !important;
  }

  &__mini {
    width: 462px;
    padding-bottom: 35px;
  }
}

.hl-card__price-content {
  margin-right: 18px;
}

.color-slider__item {
  &:hover {
    .color-slider__color {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    }
  }
}

.slider-vertical__mob-arr {
  display: none !important;
}

.popup-double {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  margin-top: 50px;

  .popup-table-scroll {
    width: 47%;
  }
}

.table-mini {
  width: 100%;
  margin: 0;
  height: 100%;

  td {
    vertical-align: middle;
    padding: 5px;
  }
}

.popup-right-info {
  width: 50%;

  &__label {
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 20px;
    color: #000;
    text-align: center;
  }

  p {
    font-size: 19px;
    color: #000;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
  }
}