.catalog {
  margin-bottom: 110px;
  position: relative;

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 23px;
  }

  &__double {
    display: flex;
    flex-direction: column;

    div:first-child {
      margin-bottom: 10px;
    }
  }
}

.btn-img {
  position: relative;
  display: inline-block;

  &__btn {
    position: relative;
    width: 674px;
    background: #FBEAF6;
    height: 179px;
    box-sizing: border-box;
    padding: 0 39px;
    font-size: 22px;
    font-family: 'Glober-book';
    @include border-radius(24px);

    a {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      color: #7B7B7B;
      z-index: 10;

      &:hover {
        text-decoration: none;
        color: #7B7B7B;
      }
    }
  }

  &__img {
    position: absolute;
    right: 61px;
    bottom: 0;
  }
}

.btn-arrow-cat {
  margin-left: 47px;
}

.woman-cat {
  transition: all 0.5s;

  &:hover {
    background: #FFD4F2;
    transition: all 0.5s;
  }
}

.man-cat {
  @include btn-cat(674px, 179px, #E8F7FC, #D3F1FB);

  .btn-img__img {
    top: 0;
    right: 20px;
  }
}

.gloves-cat {
  @include btn-cat(442px, 428px, #E8EFFC, #D8E5FE);

  a {
    align-items: flex-start;
    padding-top: 70px;
  }

  .btn-img__img {
    bottom: 0;
    left: 20px;
  }
}

.tights-cat {
  @include btn-cat(442px, 205px, #FCE8E8, #F9D3D3);

  a {
    align-items: center;
    justify-content: flex-end;
    padding-right: 26px;
    box-sizing: border-box;
    line-height: 36px;

    img {
      margin: 0;
    }
  }

  .btn-img__img {
    top: 0;
    left: 0;
  }
}

.childs-cat {
  @include btn-cat(442px, 205px, #FCF8E8, #FCF3CD);

  a {
    padding-right: 26px;
    box-sizing: border-box;
    line-height: 36px;

    img {
      margin: 0;
    }
  }

  .btn-img__img {
    top: -55px;
    right: -15px;
  }
}

.leggings-cat {
  @include btn-cat(442px, 428px, #EDFCE8, #D7F9CC);

  a {
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 54px;
    box-sizing: border-box;
    line-height: 36px;
    padding-top: 111px;

    img {
      margin: 36px 0 0;
    }
  }

  .btn-img__img {
    top: 0;
    left: 30px;
  }
}

.specials-cat {
  @include btn-cat(674px, 126px, #EAFBF4, #D4F9EA);

  a {
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    line-height: 36px;

    img {}
  }

  .btn-img__img {
    top: -46px;
    right: 0;
  }
}

.full-cat {
  a {
    padding-top: 10px;
    padding-left: 58px;

    img {
      margin-left: 96px;
    }
  }
}

.catalog-top__heart-dots {
  left: -339px;
  top: 339px;
}

.catalog-right__heart-dots {
  right: -250px;
  top: -100px;
}

.cat-izbr {
  &__item {
    &:hover {
      .cat__under {
        display: none !important;
      }
    }
  }
}

.izbr__basket {
  background: #E10486;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: transform 0.2s;

  &:active {
    transition: transform 0.1s;
    transform: scale(1.1);
  }

  &:after {
    content: '';
    display: block;
    width: 22px;
    height: 19px;
    background: url("../img/main/basket-izbr.svg")center center no-repeat;
  }
}

.izbr__doted {
  background: #fff;
  margin-left: 11px;

  &:after {
    content: '';
    width: 26px;
    background: url("../img/main/izbr-dots.svg")center center no-repeat;
  }
}

.izbr-nav {
  display: flex;
  margin-top: 13px;
}

.izbr-drop {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 12px;
  padding: 15px 0 18px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -17px;
    width: 19px;
    left: 50%;
    height: 17px;
    background: url("../img/main/drop-hvost.svg")center center no-repeat;
    transform: translate(-50%);
  }

  &__link {
    display: flex;
    height: 42px;
    align-items: center;
    padding: 0 18px;
    color: #000;
    font-size: 16px;
    box-sizing: border-box;

    &:hover {
      background: #FCD8D8;
      color: #000;
      text-decoration: none;
    }
  }
}