.hl-catalog {
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
}

.hl-filter {
  max-width: 268px;
  padding-bottom: 60px;
  padding-top: 47px;

  &__label {
    display: flex;
    margin-bottom: 10px;
    flex-direction: row-reverse;
    justify-content: flex-end;
    color: #454C4F;

    &:active,
    &:hover {
      color: #e842a4;
    }

    &::before {
      float: none;
      display: block;
      background-image: url("../img/ico/filter-arr-down.svg");
      margin-left: 0;
    }
  }

  &__label-active {
    color: #e842a4 !important;
    text-decoration: underline;
  }
}

.uk-open > .hl-filter__label::before {
  background-image: none;
}

.ha-check__mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border: 1px solid #707070;
  background-color: #fff;
}

.ha-check__mark::after {
  content: "";
  position: absolute;
  display: none;
  left: 8px;
  top: 4px;
  width: 5px;
  height: 8px;
  border: solid #E10486;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.ha-check__input:checked ~ .ha-check__mark::after {
  display: block;
}

.ha-check__container {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  line-height: 120%;
  cursor: pointer;
  margin-bottom: 15px;
  width: 100%;
}

.ha-check__input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.ha-check__input:checked + .ha-check__text {
  font-weight: 700;
}

.ha-check__text {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  top: 5px;
  user-select: none;
  color: #454C4F;
  margin-left: 15px;
}

.ha-check__container_radio .ha-check__mark::after {
  left: 2px;
  top: 2px;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  background-color: #e10486;
  overflow: hidden;
}

.ha-check__container_radio .ha-check__mark {
  border-radius: 50%;
}

.hl-filter {
  &__block {
    margin-bottom: 20px;
    border-top: 1px solid #E9E9E9;
    padding-top: 18px;
  }

  &__radio {
    width: 19px;
    height: 19px;
  }

  &__subtitle {
    font-family: 'Glober-free';
    font-size: 18px;
    font-weight: 700;
    color: #454C4F;
    margin-bottom: 5px;
  }

  &__container {
    padding-left: 10px;
    margin-top: 10px;
  }

  &__name {
    font-family: "Glober-free";
    font-weight: 700;
    font-size: 18px;
    color: #454C4F;
  }

  &__btn {
    font-size: 20px;
    font-weight: 400;
    margin: 37px auto 5px;
    text-align: center;
    width: 216px;
    box-sizing: border-box;

    &:hover {
      padding-left: 0;
    }

    .btn-arrow-cat {
      margin-left: 15px;
    }
  }

  &__clear {
    font-family: 'Glober-free';
    font-size: 15px;
    font-weight: 700;
    color: #BCBCBC;
    display: block;
    text-align: center;
    text-decoration: underline;
    transition: all 0.5s;

    &:hover {
      color: #E10486;
      transition: all 0.5s;
    }
  }
}

.fl {
  &__border-gray {
    border-color: #E6E6E6;
  }

  &__rainbow {
    background: url("../img/ico/rainbow.svg")left top no-repeat;
  }

  &__beige {
    background: #F3EBD1;
  }

  &__turquoise {
    background: #62DFE4;
  }

  &__burgundy {
    background: #870C31;
  }

  &__blue {
    background: #82C2EE;
  }

  &__yellow {
    background: #F1DB16;
  }

  &__green {
    background: #39BA13;
  }

  &__gold {
    background: url("../img/ico/gold.svg")left top no-repeat;
  }

  &__brick {
    background: #B26943;

    &::after {
      border-color: #fff;
    }
  }

  &__coral {
    background: #F8A084;
  }

  &__brown {
    background: #5D290E;
  }

  &__red {
    background: #FF2C00;

    &::after {
      border-color: #fff;
    }
  }

  &__melanj {
    background: url("../img/ico/melanj.svg")left top no-repeat;
  }

  &__milk {
    background: #F9F5EA;
  }

  &__oliv {
    background: #889A6D;
  }

  &__orange {
    background: #FFB200;
  }

  &__persik {
    background: #F9E0E0;
  }

  &__pink {
    background: #F3A7C5;
  }

  &__light-green {
    background: #8CE56C;
  }

  &__gray {
    background: #CCCCCC;
  }

  &__dark-blue {
    background: #315BE5;
  }

  &__violet {
    background: #BB44C8;

    &::after {
      border-color: #fff;
    }
  }

  &__black {
    background: #000;
  }
}
/*Цена ползунок*/
.polzunok-container-5 * {
  box-sizing: border-box;
  outline: none;
}

.polzunok-container-5 {}

.polzunok-container-5:after {
  content: "";
  clear: both;
  display: table;
}

.polzunok-container-5 .ui-slider {
  position: relative;
  background: #F5F5F5;
  height: 5px;
  border-radius: 10px;
}

.polzunok-container-5 .ui-slider .ui-slider-handle {
  position: absolute;
  width: 17px;
  height: 17px;
  cursor: pointer;
  border-radius: 50%;
  top: -6px;
  background: #F5D6E2;
  z-index: 2;
  transition: transform 0.2s, border 0.4s;
}

.polzunok-container-5 .ui-slider .ui-slider-handle:focus,
.polzunok-container-5 .ui-slider .ui-slider-handle:hover {
  transform: scale(1.2);
  border: 4px solid #f1659b;
}

.polzunok-input-5-left,
.polzunok-input-5-right {
  display: inline-block;
  height: 25px;
  border: none;
  box-sizing: border-box;
  text-align: center;
  width: 75%;
  background: none;
  font-size: 14px;
}

.polzunok-input-5-left {
  text-align: left;
}

.polzunok-input-5-right {
  text-align: right;
}

.polzunok-container-5 .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  height: 5px;
  border: 0;
  background: #F5F5F5;
  background: #F5D6E2;
  border-radius: 10px;
}

.ha-price__bottom {
  color: #9ba5b1;
  font-size: 16px;
  font-weight: 700;
}

.ha-filter__price-bottom {
  margin-top: 5px;
}

.ha-top__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  width: 87px;
  padding: 0 5px;
  border: 1px solid #E3E3E3;
  padding-top: 2px;
}

.ha-filter__item-price {
  padding-right: 63px;
}

.polzunok-container-5 .ui-slider .ui-slider-handle:last-child {
  margin-left: -16px;
}

.ha-filter {
  &__price-top {
    display: flex;
    margin-top: 20px;
  }
}

.hl-filter__span {
  margin-right: 7px;
  font-size: 14px;
}
//Ползунок конец

.catalog-maincontent {
  width: 1391px;
}

.hl-catalog {
  flex: 1;
  margin-left: 59px;
}

.hl-select {
  display: flex;
  align-items: center;
  width: 43%;

  &__label {
    font-family: 'Glober-book';
    font-size: 16px;
  }

  &__item {
    width: 164px;
    border-radius: 19px;
  }
}
//select

.hl-catalog-select {
  flex-basis: 164px;
  border-radius: 19px;
  background: #fff;
  border: 1px solid #DBDBDB;
  margin-left: 10px;

  .__select__title {
    font-size: 15px;
    font-family: 'Glober-book';
  }
}
//end-select

.hl-catalog-models {
  font-size: 16px;

  span {
    font-family: 'Glober-free';
    font-weight: 700;
    color: #000;
  }
}

.hl-top-nav__left {
  display: flex;
  align-items: center;
  flex: 1;
}

.hl-top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;
}

.hl-catalog-right {
  display: flex;
}

.hl-items-count {
  &__link {
    margin-left: 7px;
    font-size: 16px;
    color: #B4B4B4;

    &:hover {
      color: #E842A4;
      text-decoration: none;
    }
  }

  &__link-active {
    color: #E842A4;
    font-family: 'Glober-free';
    font-weight: 700;
  }
}

.cat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 45px;

  &__under {
    display: none;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    min-width: 478px;
    height: 618px;
    z-index: 10;
    overflow: hidden;
    background: #FFFF;
    box-shadow: 0 3px 18px rgba(0, 0, 0, 0.11%);
    padding: 0 15px 15px;
    border-radius: 16px;
  }

  &__flex-wrap {
    display: flex;
    align-items: flex-start;
  }

  &__img {
    display: block;
    @include img(295px, 394px);
    border-radius: 24px;
    margin: 0 auto;
  }

  &__label {
    color: #454C4F;
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 18px;
    margin-top: 16px;
  }

  &__art {
    font-size: 18px;
    color: #B1B1B1;
    margin: 7px 0;
  }

  &__price-main {
    color: #E10486;
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 22px;
  }

  &__price-through {
    font-size: 17px;
    color: #454C4F;
    text-decoration: line-through;
  }

  &__tab-wrap {
    position: absolute;
    top: -17px;
    z-index: 2;
    transition: margin-left 0.2s;
  }

  &__item {
    width: 31%;
    position: relative;
    margin-bottom: 66px;

    &:hover {
      .cat__under {
        display: block;
      }

      .cat__tab-wrap {
        z-index: 20;
        margin-left: 70px;
        transition: margin-left 0.5s;
      }
    }
  }

  &__tab {
    position: relative;
    display: inline-block;
    padding: 8px 13px 2px 42px;
    font-family: 'Glober-free';
    font-size: 18px;
    font-weight: 700;
    color: #525364;
    background: #D5EAF5;
    border-radius: 11px;

    &:before {
      position: absolute;
      left: 11px;
      top: 6px;
      content: '';
      background: url("../img/main/black-bear.svg")center top no-repeat;
      width: 24px;
      height: 24px;
    }
  }
}

.hl-slider-btn {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16%);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
  box-sizing: border-box;
}

.hl-panel {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 295px;
    height: 394px;
  }
}

.cat-sl {
  &__img {
    // @include img(261px, 398px);
    overflow: hidden;
  }

  &__mini {
    @include img(98px, 131px);
  }
}

.btn-korz {
  position: relative;
  display: inline-block;
  padding: 9px 39px 5px 56px;
  font-family: 'Glober-free';
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background: #E10486;
  border-radius: 11px;
  transition: all 0.2s;

  &:hover {
    color: #fff;
    text-decoration: none;
    transition: all 0.2s;
    transform: scale(1.02);
  }

  &:before {
    position: absolute;
    left: 23px;
    top: 9px;
    content: '';
    background: url("../img/main/korz.svg")center top no-repeat;
    width: 19px;
    height: 17px;
  }
}

.cat-izbr {
  z-index: 10;
  position: absolute;
  top: 20px;
  right: 14px;
}

.cat {
  &__tab_pink {
    background: #F5D6E2;
  }

  &__tab_green {
    background: #D7F9CC;
  }
}

.cat__img-bar {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;

  &_item {
    @include img(70px, 110px);
    border-radius: 15px;
    margin: 0 5px 7px 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.06%);

    &:hover {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3%);
      transition: all 0.3s;
    }
  }
}

.popup-info {
  margin-top: 38px;
  margin-bottom: 50px;
  display: flex;

  &__img {
    margin-right: 20px;
    @include img(106px, 160px);
    border-radius: 24px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16%);
  }

  &__content {
    flex: 1;
  }

  &__title {
    font-size: 16px;
    font-family: 'Glober-free';
    font-weight: 700;
    color: #000;
    margin-bottom: 25px;
  }

  &__label {
    font-size: 15px;
    color: #000;
  }

  &__curent {
    font-size: 15px;
    font-family: 'Glober-free';
    font-weight: 700;
    color: #000;
  }
}

.hl-modal__btn-korz {
  display: block;
  margin: 40px auto 0;
  width: 195px;
  box-sizing: border-box;
}

.hl-filter-btn-mob {
  display: none;
  margin-right: 20px;
  background: #e842a4;
  color: #fff;
  border-radius: 8px;
  padding: 10px 15px 10px 10px;
  cursor: pointer;
  font-weight: 700;
  user-select: none;

  span {
    margin-right: 10px;
  }
}

.hl-select-mob {
  display: none;
}

.cat {
  &__block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  &__block-label {
    display: block;
    font-size: 30px;
    font-family: 'Glober-free';
    font-weight: 700;
    color: #454c4f;
    margin-bottom: 20px;

    &:hover {
      color: #e10486;
    }
  }
}

.earlier-label {
  font-size: 24px;
  font-family: 'Glober-free';
  font-weight: 700;
  color: #454c4f;
  margin-bottom: 0;
}