.map-top-label {
  font-family: 'Glober-free';
  font-size: 53px;
  font-weight: 700;
  line-height: 44px;
  color: #454C4F;
  margin-bottom: 47px;
}

.cp-info {
  flex-basis: 27%;
  margin-left: 60px;
  margin-top: 100px;

  &__text {
    font-family: 'Glober-book';
    line-height: 30px;
    color: #000;
    font-size: 16px;
  }

  &__btn {
    margin: 0;
  }
}

.cp-form {
  &__wrap {
    flex-basis: 100%;
  }

  &__label {
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    color: #454C4F;
    margin-bottom: 33px;
  }

  &__textarea {
    margin-top: 20px;
  }
}