* {
  font-family: 'Glober';
}

header {
  min-height: 160px;
}

footer {}

main {
  min-height: calc(100vh - (160px + 70px));
  overflow: hidden;
}

.main-content {
  @include max-width-page;
  box-sizing: border-box;
}

.title {
  font-family: 'Glober-free';
  font-weight: bold;
  font-size: 53px;
  margin: 0;
  color: #454C4F;
}

.to-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  position: fixed;
  right: 60px;
  bottom: 100px;
  z-index: 20;
  transition: all 0.5s;
  opacity: 0;
  transition: all 1s;

  &:hover {
    text-decoration: none;
    transform: scale(1.1);
    transition: all 1s;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    @include border-radius(50%);
    background: #FBEEF3;
    flex-direction: column;
    box-shadow: 2px 5px 13px rgba(0, 0, 0, 0.1);
  }

  span {
    font-size: 14px;
    margin-top: 10px;
    color: #444B4E;
  }
}

.glab-link {
  color: #2f2e2e;

  &:hover {
    color: #2f2e2e;
  }
}

.modal {
  @include border-radius(12px);
}

.breadcrumb {
  font-family: 'Glober';
  color: #000;
  font-size: 16px;
  line-height: 19px;
  border-top: 0.5px solid #B4B4B4;
  padding-top: 14.5px;

  a {
    color: #000;
    font-family: 'Glober';
    font-size: 16px;
  }

  li::before {
    margin: 0 5px !important;
    color: #000 !important;
  }

  span {
    color: #E10486 !important;
    font-family: 'Glober-free';
    font-weight: bold;
    font-size: 16px;
  }
}

.hb-burger {
  background: none;
  border: none;
  outline: none;
  display: none;
  padding: 0;
}

.mob-search {
  display: none;
}

.mb-menu {
  display: none;
}

.pagination {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: flex;
  width: fit-content;

  &__item {
    margin-right: 15px;

    a {
      font-family: 'Glober-free';
      font-weight: 700;
      font-size: 20px;
      line-height: 63px;
      color: #454C4F;
      padding: 10px 15px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__active {
    color: #E10385 !important;
  }
}

.top-title-mob {
  display: none;
  font-family: 'Glober-free';
  font-weight: 700;
  line-height: 60px;
  font-size: 53px;
  margin-bottom: 20px;
  margin-top: 30px;
  color: #454c4f;
}

.p-call {
  &__body {
    width: 907px;
    padding: 0;
    background: none;
  }

  &__double {
    display: flex;
    justify-content: space-between;
    border-radius: 28px;
    overflow: hidden;
  }

  &__img {
    @include img(453px, 426px);
  }

  &__right {
    padding: 0 37px 0 28px;
    box-sizing: border-box;
    flex: 1;
    background: #fff;

    .hl-modal__label {
      margin-top: 27px;
    }
  }

  &__btn {
    width: 60%;
    margin: 0 auto !important;
  }

  &__pers {
    margin: 43px 0 17px;
  }
}