// @font-face {
//   font-family: 'Glober';
//   src: url("../fonts/ofont_ru_Glober.ttf");
//   src: url("../fonts/ofont_ru_Glober.eot?iefix") format('eot'), url("../fonts/ofont_ru_Glober.ttf") format('woff'), url("../fonts/ofont_ru_Glober.ttf") format('truetype'), url("../fonts/ofont_ru_Glober.ttf") format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Glober-free';
//   src: url("../fonts/Glober Bold Free.otf");
//   src: url("../fonts/Glober Bold Free.eot?iefix") format('eot'), url("../fonts/Glober Bold Free.otf") format('woff'), url("../fonts/Glober Bold Free.otf") format('truetype'), url("../fonts/Glober Bold Free.otf") format('svg'), url("../fonts/Glober Bold Free.otf") format("opentype");
//   font-weight: bold;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Glober-free';
//   src: url("../fonts/Glober Thin Free.otf");
//   src: url("../fonts/Glober Thin Free.eot?iefix") format('eot'), url("../fonts/Glober Thin Free.otf") format('woff'), url("../fonts/Glober Thin Free.otf") format('truetype'), url("../fonts/Glober Thin Free.otf") format('svg'), url("../fonts/Glober Thin Free.otf") format("opentype");
//   font-weight: 300;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'Glober-book';
//   src: url("../fonts/Glober_Book.otf");
//   src: url("../fonts/Glober_Book.eot?iefix") format('eot'), url("../fonts/Glober_Book.otf") format('woff'), url("../fonts/Glober_Book.otf") format('truetype'), url("../fonts/Glober_Book.otf") format('svg'), url("../fonts/Glober_Book.otf") format("opentype");
//   font-weight: normal;
//   font-style: normal;
// }
//
// * {
//   font-family: 'Glober', Tahoma, sans-serif;
// }