.footer-bottom {
  font-size: 14px;
  color: #6A6A6A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 47px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.footer {
  box-sizing: border-box;
  box-shadow: 0 -6px 17px rgba(0,0,0,.04);
  padding-top: 29px;

  &__socials {
    align-items: baseline;
  }

  &__form {
    h6 {
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 15px;
      color: #444B4E;
    }
  }

  &__nav {
    list-style: none;
    column-count: 2;
    text-align: right;
    padding-top: 25px;
  }

  &__item {
    font-size: 19px;
    line-height: 30px;
    color: #7B7B7B;
    font-weight: 600;

    a {
      color: #7B7B7B;

      &:hover {
        color: #7B7B7B;
      }
    }
  }

  &__logo {
    margin-right: 106px;
  }
}

.input {
  input {
    border: 1px solid #808080;
    @include border-radius(9px);
    padding-left: 27px;
    height: 44px;
    width: 357px;
    outline: none;
    font-size: 16px;
  }

  input::-webkit-input-placeholder {
    color: #BFBFBF;
  }

  input::-moz-placeholder {
    color: #BFBFBF;
  }

  button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }

  img {
    margin-left: 12px;
  }
}

.footer__label {
  display: block;
  margin-top: 20px;
  position: relative;
  padding-left: 24px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 13px;
    height: 13px;
    border: 1px solid #707070;
  }

  a {
    font-size: 16px;
    color: #444B4E;
    text-decoration: underline;

    &:hover {
      color: #444B4E;
    }
  }
}

.custom-checkbox {
  display: none;
}

.custom-checkbox:checked+label::before {
  background: url("../img/ico/checked.svg")left top no-repeat;
  background-size: contain !important;
}