.header-top {
  border-bottom: 0.5px solid #B4B4B4;
  height: 97px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #9EAAB2;
  width: 442px;

  &__input {
    border: none;
    outline: none;
    padding: 5px 6px;
    color: #191919;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 6px 5px 0;
  }
}

.header-contacts {
  a {
    display: block;
    font-size: 16px;
    line-height: 19px;
    @include reset-a(#616161);

    &:first-child {
      margin-bottom: 8px;
    }
  }
}

.icon-nav {
  width: 274.47px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  @include reset-a(#fff);

  &__sum {
    font-size: 13px;
    color: #191919;
  }
}

.basket-count {
  position: relative;

  &__counter {
    position: absolute;
    width: 16px;
    height: 16px;
    right: -5px;
    top: -5px;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    font-size: 11px;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    color: #191919;
    @include border-radius(50%);
  }
}

.header-bottom {
  height: 63px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.nav {
  height: 100%;
  width: 100%;

  &__list {
    height: 100%;
    @include reset-list;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {}

  &__link {
    @include reset-a(#000);
    font-size: 20px;
    padding-bottom: 3px;
    border-bottom: 1px solid #fff;

    &:hover {
      font-family: 'Glober-free';
      font-weight: bold;
      color: #000;
      text-decoration: none;
    }
  }

  &__dropdown {
    border-radius: 0 12px 12px 12px;
  }
}

.dropdown {
  padding: 0;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    &:hover {
      background: #FCD8D8;

      &:first-child {
        // border-radius: 0 12px 0 0;
        @include border-radius(0 12px 0 0);
      }

      &:last-child {
        @include border-radius(0 0 12px 12px);
      }
    }
    color: #000;
  }

  &__link {
    font-size: 16px;
    line-height: 19px;
    color: #000;
    display: flex;
    width: 100%;
    align-items: center;
    height: 42px;
    padding: 0 25px;

    &:hover {
      text-decoration: none;
      color: #000;
    }
  }
}

.icon-nav__dropdown {
  @include border-radius(12px);
  padding: 17px 26px;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  min-width: 175px;

  a {
    color: #E10486;
    text-decoration: underline;
  }
}

.header__fixed {
  position: fixed;
  // top: -300px;
  width: 100%;
  top: 0;
  display: none;
  z-index: 100;
  transition: all 1s;
}

.sticky {
  display: flex;
  min-height: 77px;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 0 19px;
}

.nav-fixed {
  width: 68%;
}

.icon-nav__fixed {
  margin-left: 20px;
}

.header-fixed {
  display: none;
}