.lk-switcher {
  display: flex;
  list-style: none;
  border: 1px solid #ECECEC;
  @include border-radius(15px);
  padding: 0;
  width: fit-content;
  overflow: hidden;
  margin-bottom: 38px;

  &__item {
    min-width: 128px;
    padding: 5px 10px;
    font-size: 13px;
    color: #000;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid #ECECEC;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      background: #ececec;
      transition: all 0.5s;
    }

    &:last-child {
      border: none;
    }
  }

  &__item-active {
    background: #F5D6E2;

    &:hover {
      background: #F5D6E2;
    }
  }
}

.lk-sw-content {
  &__item {
    display: none;
  }

  &__active {
    display: block;
  }
}

.lk-date {
  @include border-radius(28px 28px 0 0);
  overflow: hidden;
  margin-bottom: 21px;

  &__top {
    background: #F9F1F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 29px 8px 49px;
  }

  &__label {
    font-size: 16px;
    color: #000;
    font-family: 'Glober-free';
    font-weight: 700;
  }

  &__label-price {
    font-size: 16px;
    color: #000;
    font-family: 'Glober-free';
    font-weight: 700;
  }

  &__content {
    @include border-radius(0 0 28px 28px);
    overflow: hidden;
    padding: 3px 26px 19px 33px;
    border: 1px solid #E8E8E8;
  }

  &__item {
    border-bottom: 1px solid #E8E8E8;
    padding: 13px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    transition: all 0.2s;

    &:hover {
      background: #f7f7f7;
      transition: all 0.3s;
    }
  }

  &__left-side {
    display: flex;
    align-items: center;
  }

  &__img {
    @include img(79px, 79px);
  }

  &__title-wrap {
    margin-left: 24px;
  }

  &__title {
    font-size: 16px;
    color: #000;
    font-family: 'Glober-free';
    font-weight: 700;
  }

  &__art {
    font-size: 16px;
    color: #000;
  }

  &__info {
    font-size: 16px;
    color: #000;
    border-left: 1px solid #E8E8E8;
    padding: 0 12px 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    height: 100%;
  }

  &__count {
    width: 98px;
  }

  &__price {
    width: 113px;
  }

  &__basket {
    width: 54px;
  }

  &__right-side {
    display: flex;
  }

  &__btn-wrap {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
  }

  &__btn {
    font-size: 15px;
    color: #000;
    text-decoration: underline;
    transition: all 0.2s;

    &:hover {
      color: #000;
      margin-right: 10px;
      transition: all 0.5s;
    }
  }
}

.lk-history {}