.lk {
  display: flex;
  margin-top: 20px;
  margin-bottom: 100px;
}

.lk-sidebar {
  width: 169px;
  margin-right: 63px;
  margin-top: 25px;

  &__logo {
    width: 169px;
    height: 169px;
    @include border-radius(50%);
    border: 2px solid #F5D6E2;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;

    &:hover {
      .lk-sidebar__redact {
        display: block;
      }
    }
  }

  &__redact {
    display: none;
    width: 31px;
    height: 31px;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background: url("../img/ico/redact.svg")center center no-repeat;
    z-index: 100;
  }
}

.lk-menu {
  list-style: none;
  padding: 0;
  margin: 52px 0 0;

  &__item {
    margin-bottom: 15px;
    font-size: 16px;
    color: #000;
    line-height: 20px;

    a {
      color: #000;
    }
  }

  &__active {
    font-family: 'Glober-free';
    font-weight: 700;
    color: #E10486;

    a {
      color: #E10486;
    }
  }
}

.lk-profile {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  @include border-radius(28px);
  padding: 36px 36px 98px;

  &__data {
    display: flex;
    margin-top: 32px;
    margin-bottom: 58px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__red-link {
    color: #E10486;
    font-family: 'Glober-free';
    font-size: 15px;
    font-weight: 700;
    padding-left: 23px;
    text-decoration: underline;
    margin-top: 10px;

    &:hover {
      color: #E10486;
    }
  }

  &__col {
    flex-basis: 30%;
  }

  &__title {
    color: #000;
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    padding-left: 23px;
  }

  &__label {
    font-family: 'Glober-free';
    font-size: 13px;
    font-weight: 700;
    color: #B4B4B4;
    padding-left: 23px;
  }

  &__val {
    font-family: 'Glober-free';
    font-size: 16px;
    font-weight: 700;
    color: #000;
    position: relative;
    padding-left: 20px;
    background: url('../img/ico/red-data.svg')left center no-repeat;
  }

  &__item {
    margin-bottom: 17px;
  }

  &__input {
    outline: none;
    border: 1px solid #fff;
    font-family: 'Glober-free';
    font-size: 16px;
    font-weight: 700;
    color: #000;
    padding: 4px 3px;
    transition: all 0.3s;
    width: 86%;
    box-sizing: border-box;

    &::placeholder {
      color: #000;
    }

    &:focus {
      border: 1px solid #b4b4b4;
      transition: all 0.5s;
    }
  }
}

.lk-content {
  flex: 1;
}

#logo-load {
  display: none;
}
//__chechbox

.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 200px;
  height: 140px;
  box-sizing: border-box;
}

.button-cover {
  height: 100px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6;
  border-radius: 4px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  width: 39px;
  height: 21px;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #EEEEEE;
  transition: 0.3s ease all;
  z-index: 1;
}
/* Button 1 */
#button-1 .knobs:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 3px;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before {
  content: '';
  left: 20px;
  background-color: #E10486;
}

#button-1 .checkbox:checked ~ .layer {
  background-color: #F5D6E2;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
  transition: 0.3s ease all;
}
//checkbox end

.lk-subscribe {
  padding-left: 23px;
  margin-top: 18px;

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
  }

  &__text {
    font-size: 16px;
    color: #000;
    padding-top: 5px;
    margin-left: 19px;

    a {
      text-decoration: underline;
      color: #658EBC;
    }
  }
}

.change-pass {
  &__link {
    font-size: 15px;
    text-decoration: underline;
    font-family: Glober-free;
    font-weight: 700;
    color: #7b7b7b;

    &:hover {
      color: #7b7b7b;
    }
  }

  &__bottom-nav {
    margin-top: 40px;
  }

  &__body {
    width: 516px !important;
  }

  &__body-2 {
    width: 590px !important;
  }

  &__logn-btn {
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    padding: 0 0 0 10px;

    .btn-arrow-cat {
      margin-left: 10px !important;
    }
  }
}