.lookbook {
  min-height: 673px;
  display: flex;
  justify-content: center;

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
  }

  &__img-top {
    // width: ;
    height: 392px;
  }

  &__img-bottom {
    // width: ;
    height: 280px;
  }
  $padding-size: 0 35px;

  &__title {
    padding: $padding-size;
  }

  &__content {
    width: 503px;

    p {
      color: #454C4F;
      font-family: 'Glober-book';
      font-size: 16px;
      line-height: 30px;
      padding: $padding-size;
    }
  }
}

.link-half {
  display: block;
  font-size: 22px;
  line-height: 30px;
  padding: 10px 28px;
  text-decoration: underline;
  color: #7B7B7B;
  background-image: linear-gradient(to bottom, #FBEEF3 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%, #FBEEF3 100%);

  &:hover {
    color: #7B7B7B;
    font-family: 'Glober-free';
    font-weight: bold;
    background-image: linear-gradient(to bottom, #f5d6e2 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%, #f5d6e2 100%);
  }

  .btn-arrow-cat {
    margin-left: 42px;
  }
}

.lookbook__link {
  margin: 45px 53px 0 13px;
}

.lookbook__img-wrap {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
}

.lookbook {
  height: 673px;

  &__l1 {
    @include lookbook-img(458px, 383px);
  }

  &__l2 {
    @include lookbook-img(458px, 291px);
  }

  &__l3 {
    @include lookbook-img(503px, 350px);
  }

  &__l4 {
    @include lookbook-img(415px, 357px);
  }

  &__l5 {
    @include lookbook-img(449px, 357px);
  }

  &__l6 {
    @include lookbook-img(431px, 357px);
  }

  &__l7 {
    @include lookbook-img(952px, 315px);
  }

  &__l8 {
    @include lookbook-img(192px, 315px);
  }
}