.lb-album {
  position: relative;

  &__title {
    margin: 41px 0 15px;
  }

  &__article {
    font-family: 'Glober-book';
    font-size: 16px;
    line-height: 30px;
    color: #000000;
  }

  &__banner-img {
    z-index: 10;
    position: relative;
    @include border-radius(28px);
    @include img(100%, 881px);

    img {
      @include border-radius(28px);
      width: 100%;
    }
  }

  &__banner {
    position: relative;
    margin-bottom: 80px;
  }
}

.bg-left-bottom {
  width: 97%;
  height: 100%;
  position: absolute;
  right: -28px;
  bottom: -40px;
  background: #FCE2E2;
  @include border-radius(28px);
}

.lb-album {
  &__double {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 41px;
  }

  &__double-item {
    flex-basis: 48%;
    position: relative;

    .bg-left-bottom {
      bottom: -42px;
      height: 97%;
    }
  }

  &__double-img {
    width: 100%;
    height: auto;
    @include border-radius(28px);

    img {
      position: relative;
      z-index: 10;
      @include border-radius(28px);
    }
  }
}

.bg-green {
  background: #E7F9E1;
}

.bg-yellow {
  background: #FCF3CD;
}

.bg-green2 {
  background: #D7F9CC;
}

.bg-blue {
  background: #E8FCF7;
}

.lb-album-heart-bottom {
  bottom: 14%;
}

.lb-album-heart-right {
  right: -302px;
  top: 22%;
}

.lb-album-heart-bottom-right {
  right: -303px;
  top: 61%;
}