.lb-page {
  margin-top: 41px;
  margin-bottom: 100px;

  &__title {
    margin-bottom: 15px;
  }

  &__grid {
    display: flex;
    justify-content: space-between;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 906px;
    margin-right: 22px;
  }

  &__col {
    max-width: 442px;
  }

  &__col-first {
    margin-right: 22px;
  }

  &__item-mini {
    flex-basis: 100%;
    @include border-radius(28px);
    height: 278px;
    overflow: hidden;
    padding: 30px 45px 0;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: none;
      // .lb-page__label {
      //   transition: all 1s;
      //   margin-right: -10px;
      // }
    }
  }

  &__item-midle {
    flex-basis: 100%;
    @include border-radius(28px);
    height: 586px;
    overflow: hidden;
    text-align: center;

    &:hover {
      text-decoration: none;
      // .lb-page__label {
      //   transition: all 1s;
      //   margin-right: -10px;
      // }
    }
  }

  &__bg1 {
    background: url("../img/main/lbp1.jpg")center center no-repeat;
    background-size: cover;
    margin-bottom: 26px;
  }

  &__bg2 {
    background: url("../img/main/lbp2.jpg")center center no-repeat;
    background-size: cover;
  }

  &__bg3 {
    background: url("../img/main/lbp3.jpg")center center no-repeat;
    background-size: cover;
    margin-bottom: 26px;
  }

  &__bg4 {
    background: url("../img/main/lbp4.jpg")center center no-repeat;
    background-size: cover;
    padding: 7px 20px 0;
  }

  &__bg5 {
    background: url("../img/main/lbp5.jpg")center center no-repeat;
    background-size: cover;
    justify-content: flex-start;
    padding: 0 70px;
  }

  &__bg6 {
    background: url("../img/main/lbp6.jpg")center center no-repeat;
    background-size: cover;
    margin-bottom: 26px;
  }

  &__bg7 {
    background: url("../img/main/lbp7.jpg")center center no-repeat;
    background-size: cover;
    margin-bottom: 30px;
  }

  &__bg8 {
    background: url("../img/main/lbp8.jpg")center center no-repeat;
    background-size: cover;
  }

  &__label {
    font-family: 'Glober-free';
    font-size: 42px;
    line-height: 63px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    transition: all 1s;
  }

  &__bottom-text {
    display: flex;
    align-items: flex-end;
    padding: 0 50px 73px;
    box-sizing: border-box;
  }

  &__top-text {
    display: flex;
    padding: 90px 50px 0;
    box-sizing: border-box;
  }

  &__full-width {
    flex-basis: 100%;
    margin-top: 26px;

    .lb-page__label {
      text-align: left;
    }
  }

  &__right {}
}

.lb-page {
  position: relative;

  &__heart-top {
    left: -341px;
    top: -114px;
  }

  &__heart-bottom {
    left: -341px;
    bottom: -106px;
  }

  &__heart-right {
    right: -341px;
    top: 43%;
  }
}