.magazine {
  margin-top: 120px;
  box-shadow: 0 3px 17px rgba(0,0,0,0.25);
  margin-bottom: 20px;
  padding: 54px 0 65px;

  &__title {
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 45px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    flex-basis: 32.25%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__img {
    @include img(442px, 220px);
  }

  &__label {
    font-size: 17px;
    font-family: 'Glober-free';
    font-weight: bold;
    line-height: 25px;
    color: #000;
    margin: 28px 0 37px;
  }

  &__content {
    font-size: 16px;
    line-height: 23px;
    color: #000;
    margin: 0;
  }

  &__content-wrap {
    position: relative;
    min-height: 206px;
    padding-bottom: 20px;
    box-sizing: border-box;
    height: 100%;
  }

  &__lnk {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 18px;
    line-height: 30px;
    color: #7B7B7B;
    text-decoration: underline;

    &:hover {
      color: #7B7B7B;
    }
  }

  &__wrap-link {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  &__half-lnk {
    width: 299px;
    text-align: right;
    margin-top: 76px;
    margin-right: 105px;

    img {
      margin-right: -78px;
    }
  }
}