.magazinep {
  margin-top: 53px;
  margin-bottom: 73px;
  position: relative;

  &__link {
    width: 50%;
    color: #7B7B7B;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 44px;

    .btn-arrow-cat {
      margin-left: 25px;
    }
  }

  &__news {
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
  }

  &__item {
    flex-basis: 32%;
    margin-right: 21px;
    display: flex;
    flex-direction: column;
    margin-bottom: 31px;

    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }

  &__content {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.1%);
    background: #fff;
    padding: 34px 23px;
    @include border-radius(0 0 28px 28px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }

  &__label {
    font-family: 'Glober-free';
    font-weight: 700;
    line-height: 31px;
    font-size: 21px;
    color: #454C4F;
    margin-bottom: 32px;
  }

  &__article {
    margin: 0;
    font-family: 'Glober-book';
    font-size: 16px;
    line-height: 30px;
    color: #000;
  }
}