@media screen and (max-width: 1199px) {
  .input input {
    width: 74%;
  }

  .cat__item {
    &:hover {
      .cat__under {
        display: none;
      }
    }
  }

  .lbc1 {
    display: none;
  }

  .basket-item__info {
    width: 90%;
    border-right: none;
  }

  .basket-item__table {
    width: 100%;
    margin-top: 30px;
  }

  .basket-info {
    width: 35%;
  }

  .basket-content {
    width: 65%;
  }

  .basket-nav {
    width: 100%;
  }

  .basket-item {
    flex-wrap: wrap;
  }

  .hl-similar__item {
    &:hover {
      .cat__under {
        display: none;
      }
    }
  }

  .cat__item {
    width: 50%;
  }

  .cat__img {
    height: 400px;
  }

  .hl-select {
    width: 68%;
  }

  .hl-catalog-models,
  .hl-select__label {
    font-size: 14px;
  }

  .hl-catalog {
    margin-left: 20px;
  }

  .slider-vertical__mob-arr {
    display: block !important;
  }

  .hl-card__left .slider-vertical {
    margin: 0;
  }

  .hl-card__nav-slick {
    display: none;
  }

  .slider-vertical-wrap-card {
    height: 600px;
  }

  .slider-vertical__item-card {
    height: 550px;
  }

  .slider-vertical-nav-card.slick-vertical div.slick-slide {
    width: 90px !important;
    height: 130px;
  }

  .slider-vertical-nav-card {
    display: none;
  }

  .hl-card__left {
    width: 50%;
  }

  .circle-list__item::before {
    padding-right: 30px;
  }

  .prod-tech {
    margin-bottom: 160px;
  }

  .btn-slider__content-active {
    flex-direction: column-reverse;
  }

  .lk-profile__col {
    flex-basis: 50%;
  }

  .btn-slider__content-side {
    height: auto;
  }

  .btn-slider__img {
    display: none;
  }

  .btn-slider__info {
    height: auto;
    overflow: auto;
    min-height: 500px;
  }

  .search {
    display: none;
  }

  .icon-nav {
    flex-basis: 27%;
  }

  .main-title {
    font-size: 47px;
  }

  .title {
    font-size: 38px;
  }

  .top-info {
    align-items: flex-start;
  }

  .top-info__content {
    width: 100%;
  }

  .top-info__content {
    margin-top: 20px;
  }

  .top-info__slider {
    width: 65%;
    height: 488px;
    top: 155px;
  }

  .slider__bg {
    top: 28px;
  }

  .top-info__heart-dots {
    left: 600px;

    img {
      width: 50%;
    }
  }

  .about__item p {
    font-size: 16px;
  }

  .double__btn {
    width: 500px;
    padding: 0 30px;
  }

  .double__img {
    left: -50px;
  }

  .double__content {
    font-size: 16px;
  }

  .btn-img {
    width: 49%;
  }

  .triple-row {}

  .catalog__double,
  .gloves-cat,
  .leggings-cat {
    width: 32%;
  }

  .btn-img__btn,
  .man-cat .btn-img__btn,
  .specials-cat .btn-img__btn,
  .specials-cat .btn-img__btn {
    width: 100%;
  }

  .childs-cat .btn-img__btn,
  .gloves-cat .btn-img__btn,
  .leggings-cat .btn-img__btn,
  .tights-cat .btn-img__btn {
    width: 100%;
  }

  .childs-cat,
  .tights-cat {
    width: 100%;
  }

  .btn-img__btn {
    font-size: 18px;
  }

  .gloves-cat .btn-img__btn img {
    margin-left: 0;
    margin-top: 10px;
  }

  .btn-arrow-cat {
    margin-left: 10px;
  }

  .woman-cat .btn-img__img {
    right: -10px;
  }

  .btn-img__btn a {
    box-sizing: border-box;
  }

  .leggings-cat a {
    padding-right: 0;
  }

  .tights-cat .btn-img__img {
    top: 0;
    left: -50px;
  }

  .childs-cat .btn-img__img {
    right: -32px;
  }

  .full-cat a {
    padding-left: 0;
  }

  .full-cat a img {
    margin-left: 30px;
  }

  .specials-cat .btn-img__img {
    right: -31px;
  }

  .opt__wrap {
    flex-direction: column-reverse;
  }

  .opt__slider {
    position: relative;
  }

  .opt__link {
    position: relative;
    left: 0;
  }

  .opt__content {
    width: 100%;
  }

  .opt__slider-bg {
    right: 20px;
    top: -9px;
  }

  .opt__title {
    margin-bottom: 20px;
  }

  .opt__wrap {
    margin-bottom: 50px;
  }

  .icon-nav__fixed {
    flex-basis: 23%;
  }

  .nav-fixed {
    .nav__link {
      font-size: 15px;
    }
  }

  .about-page__slider {
    margin-top: 67px;
  }

  .production__slider {
    margin-top: 65px;
  }

  .video {
    margin-top: 240px;
  }

  .production__slider {
    margin-top: 120px;
  }

  .production__bottom-wrap {
    margin-top: 225px;
  }

  .lb-page__col-first,
  .lb-page__main {
    margin-right: 13px;
  }

  .lb-page__main {
    max-width: none;
    flex-basis: 100%;
  }

  .lb-page__grid {
    flex-wrap: wrap;
  }

  .lb-page__col {
    display: flex;
    flex-basis: 100%;
    margin-right: 0;
    justify-content: space-between;
  }

  .lb-page__item-midle,
  .lb-page__item-mini {
    background-size: cover !important;
    height: 100%;
    flex-basis: 48%;
  }

  .lb-page__main {
    margin-right: 0;
  }

  .lb-page__col-second {}

  .lb-page__col {
    height: 355px;
    margin-bottom: 20px;
  }

  .lb-page__full-width {
    min-height: 355px;
  }

  .lb-page_right {
    display: flex;
    flex-basis: 100%;
  }

  .lb-page__grid {
    display: block;
  }

  .lb-page__col-last {
    margin-top: 26px;

    .lb-page__item-midle,
    .lb-page__item-mini {
      flex-basis: 32%;
    }
  }

  .servicep .category__img {
    height: 200px;
  }

  .magazinep__item {
    margin-right: 18px;
  }

  .magazinep__link {
    width: 70%;
  }

  .articlep__img {
    height: 360px;
  }

  .articlep__double {
    display: block;
  }

  .articlep-img2 {
    margin-left: 0;
    margin-top: 20px;
  }

  .articlep__slider {
    width: 100%;
    height: 100%;
  }

  .sf-top-info {
    min-height: 740px;
  }

  .our-tech-mob-label {
    font-size: 38px;
  }

  .select-top-info {
    .top-info__wrap {
      display: flex;
      flex-direction: column;
    }

    .top-info__slider {
      position: inherit;
      width: 100%;
    }

    .top-info__content {
      margin-bottom: 30px;
    }
  }

  .map__tower {
    margin-top: 40px;
    width: 440px;
  }

  .map__wrap {
    @include border-radius(28px);
  }
}
@media screen and (max-width: 1023px) {
  .about-page__slider {
    margin-top: 0;
  }

  #modal-tabel-varejki {
    padding: 90px 10px;
  }

  .popup-double {
    flex-direction: column-reverse;
  }

  .popup-right-info {
    width: 100%;
  }

  .lookbook__content {
    width: 90%;
  }

  .popup-table-scroll {
    overflow-x: scroll;
  }

  .izbr-drop:after {
    display: none;
  }

  .order-nav-mob {
    display: flex;
    margin-top: 20px;
  }

  .order-nav-desktop {
    display: none;
  }

  .order {
    margin-top: 40px;
  }

  .basket-double {
    flex-direction: column-reverse;
  }

  .hl-catalog__wrap {
    flex-direction: column;
  }

  .basket-info {
    width: 100%;
  }

  .basket-content {
    width: 100%;
    margin-top: 20px;
  }

  .hl-card-top {
    margin-top: 40px;
  }

  .hl-modal__close {
    top: 0;
    // left: 0;
  }

  .hl-filter-btn-mob {
    display: block;
  }

  .hl-filter {
    display: none;
    max-width: 100%;
    width: 100%;
  }

  .hl-catalog {
    margin: 0;
  }

  .cat__img {
    height: 440px;
  }

  .hl-select-desktop {
    display: none;
  }

  .hl-select-mob {
    display: flex;
  }

  .hl-top-nav {
    margin-top: 15px;
    border-bottom: 1px solid #ececec;
  }

  .cat__item {
    width: 48%;
  }

  .hl-card-top__label {
    font-size: 22px;
  }

  .hl-card-articul {
    font-size: 16px;
  }

  .hl-card {
    margin-top: 25px;
  }

  .hl-card-top__ico-bar .rating-wrap {
    margin-left: 10px;
  }

  .hl-card-top__label {
    margin-top: 15px;
  }

  .slider-vertical__item-card {
    height: 400px;
  }

  .hl-circle-btn {
    margin: 0 10px 0 0;
  }

  .slider-vertical-wrap-card {
    height: 435px;
  }

  .color-slider {
    width: 270px;
  }

  .slider-vertical-wrap-card {
    margin: 0;
  }

  .hl-card__price-through {
    font-size: 20px;
  }

  .hl-card__price {
    font-size: 30px;
  }

  .hl-card__btn-align .lookbook__link {
    margin: 20px 0 0;
  }

  .hl-card-top {
    flex-direction: column-reverse;
    align-items: baseline;
  }

  .hl-similar {
    flex-wrap: wrap;
  }

  .hl-card__title {
    margin-bottom: 35px;
  }

  .hl-similar__item {
    width: 45%;
    margin-right: 0;

    .cat__img {
      height: 415px;
    }
  }

  .lk-profile__col {
    flex-basis: 100%;
  }

  .triple-img__item {
    height: 375px;
  }

  .top-title-mob {
    display: block;
  }

  .label-mob-wrap {
    display: block;
  }

  .lk-history-wrap {
    flex-direction: column;

    .lk-sidebar {
      display: flex;
      width: 100%;
      margin-top: 70px;
      margin-right: 0;
      align-items: center;
      margin-bottom: 30px;
    }

    .lk-menu {
      margin-top: 0;
      column-count: 2;
      margin-left: 40px;
    }
  }

  .main-sub-title,
  .main-title,
  .top-title {
    display: none;
  }

  .not-hide-mob {
    display: block;
  }

  .sf-about {
    margin-bottom: 60px;
  }

  .sf-terms {
    margin-bottom: 40px;
  }

  .articlep__img {
    height: 295px;
  }

  .staff__img {
    width: 100%;
    height: 420px;
  }

  .staff__img-bg {
    width: 100%;
    height: 100%;
  }

  .staff__row {
    margin-bottom: 45px;
  }

  .prod-tech {
    margin-bottom: 60px;
  }

  .video {
    margin-top: 40px;
  }

  .production__slider {
    margin-top: 0;
  }

  .top-info__content {
    margin-top: 30px;
  }

  .about-page__content {
    margin-top: 32px;
  }

  .to-top {
    right: 20px;
  }

  .nav__link {
    font-size: 17px;
  }

  .header-bottom {
    display: none;
  }

  .top-info__wrap {
    display: flex;
    flex-direction: column-reverse;
  }

  .top-info__slider {
    position: relative;
    width: 100%;
    top: 0;
  }

  .slider__bg,
  .slider__container,
  .slider__item img {
    @include border-radius(28px);
  }

  .top-info__bg {
    left: 84px;
  }

  .top-info__heart-dots {
    left: -46px;
    top: -46px;
  }

  .main-content {
    padding: 0 25px;
  }

  .top-info__link {
    width: 86%;
    text-align: right;
  }

  .top-info__socials {
    justify-content: flex-end;
  }

  .about-left__heart-dots {
    top: -220px;
  }

  .about-right__heart-dots {
    top: 188px;
  }

  .double {
    flex-direction: column;
  }

  .lookbook__l4,
  .lookbook__l5,
  .lookbook__l7 {
    display: none;
  }

  .opt {
    margin-top: 70px;
  }

  .opt__slider {
    right: -14%;
  }

  .opt__link {
    width: 50%;
  }

  .link-half {
    font-size: 18px;
  }

  .about__list {
    margin-bottom: 60px;
  }

  .header {
    min-height: auto;
    height: 50px;
    width: 100%;
    padding: 0;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1%);
  }

  .header-top {
    border-bottom: none;
    height: auto;
  }

  .logo {
    text-align: center;

    img {
      width: 58%;
    }
  }

  .header-contacts,
  .icon-nav,
  .nav-fixed {
    display: none;
  }

  .top-info {
    margin-top: 65px;
  }

  .header {
    position: relative;
    z-index: 10001;
    background: #fff;
    position: fixed;
    padding: 0 22px 0 17px;
  }

  .hb-burger {
    display: block;
  }

  .mob-search {
    display: block;
  }

  .mb-menu {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 10001;
    width: 100%;
    justify-content: space-between;
    height: 54px;
    box-sizing: border-box;
    padding: 10px 28px 4px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1%);

    &__item {
      display: flex;
      flex-direction: column;
      text-align: center;

      span {
        font-family: 'Glober-book';
        font-size: 9px;
        color: #000000;
        line-height: 11px;
        margin-top: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    &__active {
      .img-svg path {
        fill: #C21C7E;
      }
    }
  }

  .to-top {
    &__img {
      width: 50px;
      height: 50px;
    }

    span {
      display: none;
    }
  }

  .nav-left {
    padding-top: 35px;
    color: #000;

    a,
    li {
      color: #000 !important;
    }

    .uk-nav-parent-icon > .uk-parent > a::after {
      background: url("../img/ico/plus-left-menu.svg")center 5px no-repeat;
    }

    .uk-nav-parent-icon > .uk-parent.uk-open > a::after {
      background: url("../img/ico/minus-left-menu.svg")center 9px no-repeat;
    }

    &__li-parent {
      font-family: 'Glober';
      font-size: 16px;
      line-height: 19px;
      color: #000;
      border-bottom: 1px solid #EEEEEE;
      padding: 11px 0;
    }

    .uk-nav-sub {
      font-size: 13px;
      line-height: 15px;
      padding: 0;
      margin-top: 13px;

      li {
        margin-bottom: 8px;
      }

      li:last-child {
        margin-bottom: 0;
      }
    }
  }

  .left-menu {
    &__red-link {
      font-family: 'Glober-free';
      font-size: 14px;
      font-weight: 700;
      color: #E10486 !important;
      text-decoration: none;
      margin-top: 20px;
      display: block;
    }

    &__contacts {
      display: block;
      margin-top: 17px;

      a {
        font-size: 14px;
      }
    }

    &__socials {
      margin-top: 22px;
      margin-bottom: 60px;

      .socials__item {
        width: 9%;
        margin-right: 11px;
      }
    }
  }

  .footer__logo {
    display: none;
  }

  .footer__nav {
    text-align: left;
    padding: 0;
  }

  .footer__item a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }

  .footer__form h6 {
    font-size: 13px;
  }

  .footer {
    margin-bottom: 50px;
  }

  .production__slider {
    margin-top: 0;
  }

  .production__video {
    margin-top: 50px;
  }

  .minify-top-info {
    margin-top: 35px;
  }

  .vacancies__form {
    flex-direction: column;
  }

  .vacancies__form-title {
    margin-bottom: 20px;
  }

  .lb-page__col {
    height: 250px;
  }

  .lb-page__label {
    font-size: 24px;
  }

  .lb-page__item-mini,
  .lb-page__top-text {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lb-page__bg5 {
    justify-content: flex-start;
    padding-left: 40px;
  }

  .lb-album__banner-img {
    height: 450px;
  }

  .magazinep__item {
    flex-basis: 45%;
  }

  .magazinep__item:nth-child(3n+3) {
    margin-right: 18px;
  }

  .sf-about__list {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0;
  }

  .opt__title {
    display: none;
  }

  .opt__title-mob {
    display: block;
    margin-bottom: 40px;
  }

  .concept-work__title {
    font-family: Glober-free;
    font-weight: 700;
    font-size: 38px;
    color: #454c4f;
  }

  .map__tower {
    // width: 60%;
  }

  .order-content-wrap {
    margin-top: 0;
  }
}

.magazine-mob {
  display: none;
}

.copy-mob {
  display: none;
}

.gallery__mobile-slider {
  display: none;
}
@media screen and (max-width: 767px) {
  .top-info__slider {
    height: auto;
  }

  .lbc2 {
    display: none;
  }

  .popup-double {
    padding: 0;
  }

  .hl-top-izbr {
    margin-top: 80px;
  }

  .order {
    margin-top: 70px;
  }

  .order-nav__select {
    padding: 10px 10px 5px;
    font-size: 14px;
  }

  .order-nav__select-active {
    font-size: 15px;
    padding-top: 13px;
    padding-bottom: 9px;
  }

  .order-content {
    padding: 25px 10px 20px;
  }

  .order__inputs-field {
    flex-direction: column;
  }

  .order-nav__select {
    margin-left: 5px;
  }

  .order-nav-mob {
    padding: 0;
    justify-content: center;
    width: 100%;
  }

  .order-combo-label {
    flex-direction: column;
    align-items: flex-start;
  }

  .order-back-link {
    margin-bottom: 15px;
  }

  .order-bottom-nav {
    flex-direction: column;
  }

  .label-input {
    width: 100%;
    margin-bottom: 15px;
  }

  .order__radio-wrap .ha-check__text {
    font-size: 14px;
  }

  .order__radio-wrap .ha-check__container {
    line-height: 110%;
  }

  .order__companyes-item {
    width: 44%;
    font-size: 14px;
  }

  .ha-check__text,
  .hl-filter__name {
    font-size: 16px;
  }

  .basket-nav__count {
    width: 100%;
  }

  .basket-nav {
    flex-wrap: wrap;
    margin-top: 70px;
  }

  .basket-item__info_img {
    height: 174px;
  }

  .basket-item__icobar {
    margin-top: 10px;
    flex-wrap: wrap;

    .pink-link {
      width: 100%;
      font-size: 13px;
      margin-top: 15px;
    }
  }

  .basket-havent-label {
    font-size: 17px;
  }

  .basket-item__info {
    padding: 0;
  }

  .hl-review__textarea {
    font-size: 16px;
  }

  .hl-review {
    flex-direction: column;
  }

  .hl-card__left .slider-vertical {
    display: block;
  }

  .rating-wrap {
    margin: 15px 0 0;
  }

  .hl-card {
    flex-direction: column;
  }

  .hl-card__left,
  .hl-card__right {
    width: 100%;
  }

  .slider-vertical__item-card {
    height: 475px;
  }

  .slider-vertical-wrap-card {
    height: 505px;
  }

  .hl-card-top {
    margin-top: 65px;
  }

  .size-table {
    width: auto;
  }

  .hl-description__item {
    margin-right: 18px;
  }

  .hl-description__param,
  .hl-description__set-name {
    font-size: 14px;
  }

  .all-rev__date,
  .all-rev__name {
    font-size: 20px;
  }

  .all-rev__photo {
    width: 100%;
    margin-bottom: 15px;
  }

  .hl-review__textarea {
    width: 100%;
    box-sizing: border-box;
  }

  .all-rev__card {
    padding-left: 10px;
  }

  .all-rev .rating-wrap {
    margin: 0 0 20px;
  }

  .all-rev .uk-grid {
    margin-left: -10px;
  }

  .hl-card__title {
    margin-bottom: 25px;
  }

  .all-rev__item {
    margin-bottom: 50px;
  }

  .all-rev__files {
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
  }

  .lk-profile__input {
    width: 100%;
  }

  .lk {
    flex-direction: column;
  }

  .lk-menu {
    margin-top: 0;
    column-count: 2;
    margin-left: 40px;
  }

  .lk-sidebar {
    display: flex;
    width: 100%;
    margin-top: 70px;
    margin-right: 0;
    align-items: center;
    margin-bottom: 30px;
  }

  .auth-form {
    margin-top: 100px;
    width: 95%;
    margin-bottom: 50px;
    padding: 25px 15px;

    &__label {
      font-size: 20px;
    }
  }

  .reg__reg-btn {
    width: 95%;
  }

  .reg__top-item {
    font-size: 13px;
  }

  .reg {
    padding: 0;
  }

  .cp-form__label {
    font-size: 24px;
  }

  .cp-info {
    flex-basis: 100%;
  }

  .map-top-label {
    margin-top: 50px;
    font-size: 40px;
  }

  .deliv .sf-terms__list-item,
  .deliv .sf-terms__paragraph {
    font-size: 18px;
  }

  .triple-img__item {
    height: 250px;
  }

  .btn-slider__btn-nav {
    display: flex;
    padding: 0 28px 30px 38px;

    .slider__next,
    .slider__prev {
      width: 40px;
      height: 40px;
    }
  }

  .title {
    margin-top: 70px;
  }

  .breadcrumb {
    display: none;
  }

  .opt__title-mob {
    margin-bottom: 20px;
  }

  .sf-top-title {
    margin-bottom: 20px;
  }

  .articlep__subscribe {
    width: 25px;
    height: 20px;
    background-size: contain !important;
  }

  .articlep__content-img {
    height: 450px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .articlep__img {
    height: 265px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  .magazinep__article {
    font-size: 14px;
    line-height: 26px;
  }

  .magazinep__item,
  .magazinep__item:nth-child(3n+3) {
    margin-right: 0;
  }

  .magazinep__label {
    font-size: 17px;
    margin-bottom: 15px;
  }

  .magazinep__content {
    padding: 10px 15px;
  }

  .magazinep__link {
    margin-top: 10px;
  }

  .servicep .category__img {
    img {
      width: 100%;
      height: 100%;
    }
  }

  .servicep {
    justify-content: center;
  }

  .servicep__item,
  .servicep__item-full-width {
    flex-basis: 87%;
  }

  .servicep__item-full-width {
    .category__img {
      height: 145px;
    }
  }

  .lb-album__banner-img {
    height: 300px;
  }

  .lb-page__item-midle,
  .lb-page__item-mini {
    flex-basis: 100%;
    height: 250px;
    margin-bottom: 22px;
    box-sizing: border-box;
    justify-content: center;
  }

  .lb-page__col {
    height: auto;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .lb-page__full-width {
    margin-top: 0;
  }

  .lb-page__bg5 {
    height: 100%;
  }

  .lb-page__col-last .lb-page__item-midle,
  .lb-page__col-last .lb-page__item-mini {
    flex-basis: 100%;
  }

  .__select,
  .form__input {
    flex-basis: 45%;
  }

  .staff__item {
    flex-basis: 45%;
  }

  .staff__img {
    height: 445px;
  }

  .slider-vertical {
    display: none;
  }

  .gallery {
    margin-bottom: 50px;
  }

  .gallery__mobile-slider {
    display: block;
  }

  .video {
    margin-top: 0;
  }

  .production__video {
    margin-top: 50px;
  }

  .prod-tech {
    margin-top: 0;
  }

  .production__video {
    margin-bottom: 100px;
  }

  .top-info__bg {
    height: 200px;
    top: -8px;
  }

  .main-title {
    font-size: 36px;
  }

  .top-info__content p {
    font-size: 23px;
  }

  .top-info__link {
    width: auto;
    text-align: left;
    margin-top: 25px;
  }

  .about__item {
    flex-basis: 38%;
    margin-top: 0 !important;
    margin-bottom: 20px;
  }

  .double__content {
    padding-right: 0;
  }

  .double__btn {
    width: 100%;
    justify-content: flex-start;
  }

  .double__img {
    left: auto;
    right: -16px;
    top: -4px;
    width: 57%;
  }

  .double__btn img {
    margin-left: 15px;
  }

  .catalog__row {
    flex-wrap: wrap;
  }

  .btn-img,
  .catalog__double {
    width: 100%;
  }

  .btn-img__img {
    width: 30%;
  }

  .btn-img .woman-cat,
  .btn-img__btn,
  .man-cat .btn-img__btn {
    height: 130px;
  }

  .gloves-cat .btn-img__btn,
  .leggings-cat .btn-img__btn {
    height: 230px;
  }

  .btn-img {
    margin-bottom: 30px;
  }

  .leggings-cat .btn-img__btn .btn-img__img {
    width: 22%;
  }

  .leggings-cat a {
    padding-top: 33px;
    justify-content: center;
  }

  .specials-cat .btn-img__img {
    width: 30%;
  }

  .full-cat a img {
    margin-left: 10px;
  }

  .tights-cat .btn-img__img {
    left: 6px;
  }

  .lookbook__l1,
  .lookbook__l2 {
    width: 250px;
    height: 250px;
  }

  .lookbook__content p,
  .lookbook__title {
    padding: 0 15px;
  }

  .lookbook__content {
    width: 320px;
  }

  .lookbook {
    min-height: 460px;
    height: auto;
  }

  .lookbook__l3 {
    width: 320px;
    height: 180px;
  }

  .opt__slider {
    width: 100%;
    right: auto;
    height: 336px;
  }

  .opt__slider-bg {
    height: 200px;
    width: 100%;
    right: -11px;
    top: 14px;
  }

  .top-info__heart-dots {
    background-size: contain !important;
    width: 257px;
    height: 251px;
  }

  .title {
    font-size: 28px;
  }

  .opt__link {
    width: 60%;
    text-align: right;
    position: inherit;
    font-size: 16px;
  }

  .link-half .btn-arrow-cat {
    margin-left: 10px;
  }

  .magazine__list {
    display: none;
  }

  .magazine-mob {
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;

    &__wrap {
      overflow: hidden;
    }

    &__label {
      color: #454C4F !important;
      font-family: 'Glober-free';
      font-weight: bold;
      font-size: 17px;
    }

    &__content {
      color: #454C4F !important;
      font-size: 16px;
    }

    &__item {
      width: 100%;
    }
    // li {
    //   width: 400px;
    // }
    &__img {
      @include img (400px, 199px);
    }

    &__lnk {
      color: #7B7B7B !important;
      width: 100%;
      text-align: right;
      display: block;
    }
  }

  .magazine-mob__slider-item {
    width: 400px;
    margin-right: 20px;
  }

  .magazine-mob__img {
    width: 100%;
  }

  .magazine__title {
    margin-bottom: 20px;
  }

  .link-half {
    font-size: 16px;
  }

  .magazine__half-lnk {
    width: 35%;
    padding: 10px 0;
  }

  .top-info__slider {
    // height: 282px;
  }

  .slider__next,
  .slider__prev {
    width: 30px;
    height: 30px;
    background-size: contain !important;
  }

  .footer-top {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .input input {
    font-size: 16px;
    width: 55%;
    height: 31px;
  }

  .footer__form {
    width: 100%;
    border-top: 1px solid #D8D8D8;
    border-bottom: 1px solid #D8D8D8;
    padding: 20px 0;
  }

  .copy-desktop {
    display: none;
  }

  .copy-mob {
    display: block;
    width: 100%;
    text-align: center;
    border-top: 1px solid #D8D8D8;
    margin-top: 20px;
    padding-top: 15px;
  }

  .footer-bottom {
    flex-direction: column;
    padding-bottom: 25px;
  }

  .footer__label a {
    font-size: 11px;
  }

  .footer__label {
    display: flex;
  }

  .footer-top {
    margin-bottom: 20px;
  }

  .about-page__bg {
    height: 270px;
  }

  .staff__label {
    font-size: 23px;
  }

  .accordion .uk-accordion-content {
    padding: 29px 15px 20px 25px;
  }

  .vacancies {
    margin-top: 50px;
  }

  .sf-top-info {
    min-height: auto;
  }

  .sf-terms__content {
    padding: 20px 15px 20px 25px;
  }

  .sf-terms__title {
    font-size: 25px;
  }

  .sf-terms__full {
    padding-right: 0;
  }

  .sf-terms__double {
    flex-direction: column;
  }

  .sf-terms__half {
    flex-basis: 100%;
    margin-bottom: 40px;
  }

  .sf-terms__full {
    margin-bottom: 60px;
  }

  .concept-work__title {
    font-size: 28px;
  }

  .history {
    margin-bottom: 0;
    margin-top: 0;
  }

  .history__title {
    margin-top: 40px;
  }

  .production__bottom-info {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .video__label {
    margin-top: 40px;
  }

  .video {
    margin-bottom: 40px;
  }

  .about__list {
    margin-bottom: 20px;
  }

  .about {
    margin-bottom: 125px;
  }

  .catalog__row {
    margin-bottom: 0;
  }

  .catalog__double div:first-child {
    margin-bottom: 15px;
  }

  .childs-cat {
    margin-bottom: 15px;
  }

  .lookbook__title {
    margin-top: 0;
  }

  .opt__title-mob {
    margin-top: 0;
  }

  .magazine__title {
    margin-top: 0;
  }

  .category {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .staff__title {
    margin-top: 0;
  }

  .staff {
    margin-top: 40px;
  }

  .staff__row {
    margin-bottom: 0;
  }

  .vacancies__form-title {
    margin-top: 0;
  }

  .servicep {
    margin-top: 70px;
  }

  .sf-about {
    margin-bottom: 40px;
  }

  .magazinep__news {
    justify-content: space-around;
  }

  .our-tech-mob-label {
    font-size: 28px;
  }

  .map__wrap {
    min-height: 330px;
  }

  .select-top-info {
    margin-bottom: 70px;
  }

  .select {
    margin-bottom: 10px;
  }

  .not-hide-mob {
    margin-top: 70px !important;
  }

  .lk-date__item {
    flex-direction: column;
  }

  .lk-date__info {
    min-height: 60px;

    &:first-child {
      border: none;
      padding-left: 0;
      justify-content: center;
    }
  }

  .lk-date__content {
    padding: 3px 15px 19px;
  }

  .lk-date__right-side {
    margin-top: 20px;
  }

  .cat-main-content {
    margin-top: 70px;
  }
}
@media screen and (max-width: 700px) {
  .hl-similar__item .cat__img {
    height: 238px;
  }

  .cat__img {
    height: 325px;
  }

  .cat__art,
  .cat__label {
    font-size: 16px;
  }

  .cat__price-main {
    font-size: 20px;
  }
}
@media screen and (max-width: 561px) {
  .btn-slider {
    flex-direction: column;
  }

  .izbr-drop-wrap {
    left: 0 !important;
  }

  .hl-select__label {
    display: none;
  }

  .hl-select {
    width: 48%;
  }

  .__select[data-state=active] .__select__label+.__select__input+.__select__label,
  .hl-catalog-select .__select__title {
    font-size: 14px;
  }

  .cat__item {
    width: 70%;
    margin: 0 auto 50px;
  }

  .lk-menu__item {
    font-size: 14px;
  }

  .lk-sidebar__logo {
    @include img(80px, 80px);

    .lk-sidebar__logo-img {}
  }

  .lk-sidebar {
    flex-direction: column;
  }

  .lk-menu {
    margin-left: 0;
    margin-top: 15px;
  }

  .lk-date__top {
    padding-left: 30px;
    flex-direction: column;
    align-items: baseline;
  }

  .lk-date__item {
    padding: 13px 0;
  }

  .lk-date__img {
    width: 60px;
    height: 60px;
  }

  .lk-switcher {
    flex-wrap: wrap;
  }

  .lk-switcher__item {
    flex-basis: 50%;

    &:nth-child(even) {
      border: none;
    }

    &:nth-child(-n+2) {
      border-bottom: 1px solid #ececec;
    }
  }

  .lk-date__label,
  .lk-date__label-price {
    font-size: 14px;
  }

  .lk-history-wrap {
    .lk-menu {
      margin-left: 0;
      margin-top: 15px;
    }
  }

  .lk-profile {
    padding: 20px 15px 50px;
  }

  .lk-subscribe__text {
    width: 80%;
    font-size: 14px;
  }

  .lk-profile__title {
    padding-left: 0;
    font-size: 20px;
  }

  .lk-profile__red-link,
  .lk-subscribe {
    padding-left: 0;
  }

  .lk-profile__data {
    margin: 20px 0;
  }

  .triple-img {
    flex-direction: column;

    &__item {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  .top-title-mob {
    font-size: 40px;
  }

  .concept-work__title {
    font-size: 28px;
  }

  .sf-about__item {
    flex-basis: 100%;
  }

  .articlep__img {
    height: 155px;
  }

  .articlep__content-img {
    height: 225px;
  }

  .magazinep__item {
    flex-basis: 85%;
  }

  .magazinep__news {
    justify-content: center;
  }

  .lb-album__banner-img {
    height: 190px;
  }

  .bg-left-bottom {
    bottom: -20px;
  }

  .lb-album__banner {
    margin-bottom: 40px;
  }

  .lb-album__double {
    flex-direction: column;
  }

  .lb-album__double-img {
    margin-bottom: 30px;
  }

  .lb-album__double-item .bg-left-bottom {
    bottom: 11px;
  }

  .lb-album__double {
    margin-bottom: 25px;
  }

  .__select,
  .form__input {
    flex-basis: 100%;
  }

  .form__btn-wrap {
    flex-direction: column;
  }

  .form__wrap {
    padding: 20px 17px 19px;
  }

  .vacancies__form-title {
    font-size: 24px;
  }

  .form__textarea {
    margin-top: 30px;
    height: 170px;
  }

  .circle-list__item::before {
    padding-right: 10px;
  }

  .accordion__item .uk-accordion-title {
    padding: 27px;
    font-size: 16px;
  }

  .circle-list__item {
    font-size: 15px;
  }

  .staff__item {
    flex-basis: 100%;
  }

  .staff__img {
    width: 80%;
  }

  .staff__img-bg {
    width: 80%;
    right: auto;
    left: 10px;
  }

  .btn-slider__btn-side {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .btn-slider__btn-item {
    flex-basis: 24%;
  }

  .btn-slider__info {
    padding: 29px 20px 25px 29px;
    min-height: 300px;
  }

  .lookbook__l1,
  .lookbook__l2 {
    display: none;
  }

  .top-title {
    font-size: 40px;
  }

  .lookbook__content {
    width: 100%;
  }

  .lookbook__l3 {
    width: 100%;
    height: 260px;
  }

  .btn-img__img {
    width: 42%;
  }

  .leggings-cat .btn-img__btn .btn-img__img {
    width: 27%;
  }

  .magazine__half-lnk {
    width: 55%;
    margin: 55px 78px 20px 0;
  }

  .opt__link {
    padding: 10px;
    text-align: left;
  }

  .main-title {
    font-size: 30px;
    line-height: 50px;
  }

  .top-info__content p {
    margin-top: 15px;
  }

  .top-info__link {
    font-size: 22px;
  }

  .top-info {
    min-height: 450px;
  }

  .about__title {
    margin-bottom: 45px;
  }

  .catalog {
    margin-bottom: 33px;
  }

  .opt__slider {
    height: auto;
  }

  .input input {
    width: 79%;
    box-sizing: border-box;
    padding-left: 13px;
    padding-top: 5px;
  }

  .double__img {
    display: none;
  }

  .staff__item,
  .staff__item:nth-child(3n+3) {
    margin-right: 0;
  }

  .our-tech-mob-label {
    font-size: 28px;
  }

  .map__tower {
    width: 100%;
  }

  .map__tower-item {
    margin-right: 5px;
    width: 100%;

    &:last-child {
      margin: 0;
    }
  }
}
@media screen and (max-width: 468px) {
  .btn-img__img {
    width: 48%;
  }

  .man-cat .btn-img__img {
    right: -10px;
  }

  .basket-item__info_img {
    height: 270px;
    margin: 0 0 15px;
  }

  .childs-cat .btn-img__img {
    top: -38px;
    right: -20px;
    width: 70%;
  }

  .gloves-cat .btn-img__img {
    bottom: 0;
    left: auto;
    width: 70%;
    right: -20px;
  }

  .basket-item__info {
    flex-direction: column;
  }

  .map__tower {
    flex-direction: column;
  }

  .map__tower-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .sf-top-title {
    font-size: 32px;
  }

  .magazinep__item {
    flex-basis: 100%;
  }

  .opt__slider-bg {
    height: 161px;
  }

  .leggings-cat .btn-img__btn .btn-img__img {
    width: 32%;
  }

  .specials-cat .btn-img__img {
    width: 37%;
  }

  .btn-img__btn {
    padding: 0 20px;
  }

  .magazine-mob {
    li {
      width: 100%;
    }

    &__img {
      margin-bottom: 10px;
    }
  }

  .opt__link {
    width: 90%;
  }

  .link-half {
    font-size: 15px;
  }

  .main-content {
    padding: 0 15px;
  }

  .top-info__bg {
    height: 183px;
  }

  .magazine__half-lnk {
    width: 60%;
  }
}
@media screen and (max-width: 425px) {
  .staff__img {
    width: 90%;
  }

  .cat__item {
    width: 90%;
  }

  .cat__img {
    height: 455px;
  }

  .hl-similar__item {
    width: 100%;

    .cat__img {
      height: 500px;
    }
  }

  .staff__img-bg {
    width: 90%;
  }

  .servicep .category__img {
    height: 137px;
  }

  .category__link {
    font-size: 13px;
  }
}
@media screen and (max-width: 369px) {
  .sf-top-title {
    font-size: 30px;
  }

  .select-mob-next-line {
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
  }

  .cat__img {
    height: 410px;
  }

  .cat__item {
    width: 100%;
  }

  .select .select__item-wrap {
    margin: 0;
  }

  .hl-similar__item {
    .cat__img {
      height: 370px;
    }
  }
}