.not-found-page {
  &__label {
    font-size: 46px;
    color: #454c4f;
    margin: 0 0 104px;
  }

  &__link {
    width: 40%;
    font-size: 18px;
  }
}

.nfp {
  &__mob {
    display: none;
  }
}
@media screen and(max-width: 1023px) {
  .nfp {
    &__mob {
      display: block;
    }

    &__desktop {
      display: none;
    }

    &__title {
      text-align: center;
    }
  }

  .not-found-page__label {
    margin-bottom: 0;
    text-align: center;
  }

  .nfp__slider {
    display: none;
  }

  .not-found-page__link {
    margin: 0 auto;
  }

  .nfp__top-info {
    align-items: center;
  }
}
@media screen and(max-width: 561px) {
  .not-found-page__link {
    width: 70%;
    text-align: center;
  }

  .not-found-page__label {
    font-size: 30px;
  }

  .nfp__title {
    margin-bottom: 0;
  }
}