.opt {
  position: relative;
  min-height: 538px;
  margin-top: 143px;

  &__content {
    width: 506px;
    padding-top: 18px;

    p {
      font-size: 16px;
      line-height: 30px;
      color: #454C4F;
    }
  }

  &__title {
    line-height: 57px;
    margin-bottom: 38px;
  }

  &__wrap {
    display: flex;
  }

  &__slider {
    width: 995px;
    height: 538px;
    position: absolute;
    right: 38px;
    top: 0;
    display: flex;
  }

  &__slider-wrap {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__link {
    font-size: 22px;
    line-height: 30px;
    text-align: right;
    position: absolute;
    left: 189px;
    margin-top: 124px;
    width: 462px;

    img {
      margin-right: -96px;
    }
  }

  &__slider-container {
    @include border-radius(18px);
  }

  &__slider-item {
    img {
      @include border-radius(18px);
    }
  }

  &__slider-bg {
    background: #E8EFFC;
    @include border-radius(28px);
    width: 978px;
    height: 518px;
    right: -38px;
    top: -38px;
  }
}

.opt__title-mob {
  display: none;
}