.order-nav {
  display: flex;
  align-items: flex-end;
  padding-left: 20px;

  &__select {
    border-radius: 15px 15px 0 0;
    background: #F5D6E2;
    text-align: center;
    font-size: 16px;
    color: #9F3535;
    margin-left: 19px;
    padding: 14px 32px 7px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__select-active {
    background: #F599BD;
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    box-sizing: content-box;
    padding-top: 16px;
    padding-bottom: 9px;
  }
}

.order-content {
  display: none;
  padding: 33px 46px 40px;

  &__active {
    display: block;
  }
}

.order-count {
  font-family: 'Glober-free';
  font-weight: 700;
  font-size: 25px;
  color: #444040;

  span {
    margin-right: 5px;
  }
}

.order-mrg-label {
  margin-top: 20px;
}

.order {
  &__label {
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 16px;
    color: #000;
  }

  &__inputs-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 21px;
  }

  &__radio-wrap {
    margin-top: 14px;
    margin-bottom: 43px;

    .ha-check__text {
      font-size: 16px;
      margin-left: 5px;
    }

    .ha-check__container {
      margin-bottom: 12px;
    }

    .hl-filter__radio {
      width: 14px;
      height: 14px;
    }

    .ha-check__container_radio .ha-check__mark::after {
      width: 8px;
      height: 8px;
    }

    .ha-check__mark {
      top: 4px;
    }
  }

  &__companyes {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 45px;
  }

  &__companyes-item {
    width: 168px;
    height: 115px;
    border-radius: 14px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.07%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 17px;
    color: #000;
    cursor: pointer;
    transition: all 0.2s;
    object-fit: contain !important;
    margin-right: 12px;
    margin-bottom: 14px;
    position: relative;
    user-select: none;

    &:hover {
      transition: all 0.3s;
      box-shadow: 0 0 14px rgba(0, 0, 0, 0.18%);
    }
  }

  &__companyes-checked {
    &::before {
      content: '';
      position: absolute;
      bottom: 10px;
      right: 15px;
      width: 23px;
      height: 18px;
      background: url("../img/main/order-check.svg")center center no-repeat;
    }
  }
}

.label-input {
  width: 30%;

  &__title {
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 13px;
    color: #B4B4B4;
  }

  &__field {
    width: 100%;
    box-sizing: border-box;
    border-radius: 9px;
    border: 1px solid #C9C9C9;
    height: 34px;
    outline: none;
    padding: 0 15px;
  }
}

.label-input-wrap {
  display: flex;
  justify-content: space-between;
}

.label-input__half {
  width: 45%;
}

.order__fileds-top {
  margin-bottom: 0;
}

.order {
  &__pink-link {
    text-decoration: underline;
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 12px;
    color: #F599BD;

    &:hover {
      color: #F599BD;
    }
  }
}

.order-combo-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.oreder-textarea {
  width: 100%;
  resize: none;
  border: 1px solid #DBDBDB;
  border-radius: 9px;
  height: 196px;
  margin-top: 6px;
  margin-bottom: 38px;
}

.order-bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order-back-link {
  text-decoration: underline;
  font-family: 'Glober-free';
  font-weight: 700;
  font-size: 12px;
  color: #7B7B7B;
}

.order-btn-get {
  margin: 0;
  font-size: 18px;

  .btn-arrow-cat {
    margin-left: 20px;
  }
}

.order-popup {
  width: 890px;

  p {
    font-size: 16px;
    margin: 30px 0;
  }

  b {
    display: block;
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 16px;
    color: #454C4F;
  }
}

.order-nav-mob {
  display: none;
}