.production {
  &__content {
    width: 48%;
  }

  &__slider {
    max-width: 965px;
    height: 530px;
  }

  &__bg {
    height: 560px;
    width: 880px;
    top: auto;
    bottom: -35px;
    background: #FCF3CD;
  }

  &__bottom-info {
    margin-bottom: 98px;
  }
}

.production__bg-bottom {
  top: 193px;
  left: -60px;
}

.video {
  margin-top: 100px;
  margin-bottom: 163px;
  position: relative;

  &__wrap {
    margin-top: 15px;
    position: relative;
  }

  &__video {
    z-index: 10;
    position: relative;
    @include border-radius(28px);
  }

  &__bg {
    width: 100%;
    background: #D7F9CC;
    @include border-radius(28px);
    height: 735px;
    position: absolute;
    right: -25px;
    bottom: -25px;
    z-index: 1;
  }

  &__heart-dots {
    right: -24.5%;
    bottom: -7%;
  }
}