.__select {
  position: relative;
  padding: 6px 0 0 17px;
  height: 29px;
  flex-basis: 46.831%;
  background: #F5F5F5;
  color: #686868;
  font-size: 18px;
  line-height: 51px;
  user-select: none;

  &[data-state="active"] {
    user-select: none;

    .__select__title {
      &::before {
        transform: translate(-3px, -50%) rotate(-45deg);
      }

      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }

    .__select__content {
      opacity: 1;
      user-select: none;
    }

    .__select__label + .__select__input + .__select__label {
      max-height: 40px;
      border-top-width: 1px;
      user-select: none;
    }
  }
}

.__select__title {
  user-select: none;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: #686868;
  font-size: 18px;
  line-height: 51px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    display: block;
    width: 10px;
    height: 2px;
    transition: all 0.3s ease-out;
    background-color: #333333;
    transform: translate(-3px, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(3px, -50%) rotate(-45deg);
  }
}

.reset {
  display: flex;
  padding: 8px 16px;
  margin: 0 auto 10px;
  border: solid 1px #c7ccd1;
  border-radius: 5px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  font-weight: bold;
  background-color: #ffffff;
  color: #333333;

  &:hover {
    background-color: #D8093A;
    color: #ffffff;
  }
}

.__select__content {
  user-select: none;
  position: absolute;
  top: 40px;
  left: 3px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 6px);
  background-color: #ffffff;
  transition: all 0.3s ease-out;
  @include border-radius(0 28px 28px 28px);
  opacity: 0;
  z-index: 8;
  border: none;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16%);
  overflow: hidden;
}

.__select__input {
  user-select: none;
  display: none;

  &:checked + label {
    background-color: #dedede;
  }

  &:disabled + label {
    opacity: 0.6;
    pointer-events: none;
  }
}

.__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 42px;
  max-height: 0;
  padding: 0 25px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  border: none;

  &:hover {
    background-color: #FCD8D8;
  }
}