.servicep {
  margin-top: 56px;
  position: relative;

  &__item {
    flex-basis: 49%;
    margin-bottom: 24px;

    &:hover {
      .servicep__bg-gray {
        background: #F5F5F5;
      }

      .servicep__bg-yellow {
        background: #F8ECBD;
      }

      .servicep__bg-blue {
        background: #CEF6EC;
      }
    }
  }

  &__item-full-width {
    &:hover {
      .servicep__bg-gray {
        background: #F5F5F5;
        padding-left: 0;
      }
    }
  }

  &__item-full-width {
    flex-basis: 100%;
  }

  .category__img {
    width: 100%;
    height: 315px;
  }

  &__bg-gray {
    background: #F5F5F5;
  }

  &__bg-yellow {
    background: #FCF3CD;
  }

  &__bg-blue {
    background: #E8FCF7;
  }

  &__heart-top {
    left: -340px;
    top: -145px;
  }

  &__heart-right {
    right: -340px;
    bottom: -81px;
  }
}

.service-for__silider-bg {
  width: 100%;
  height: 100%;
  top: -22px;
  right: -53px;
}

.sf-about__item {}

.sf-about__list {
  margin: 0 auto 115px;
  width: 95%;
}

.sf-terms {
  margin-bottom: 140px;

  &__content {
    box-shadow: -3px -2px 6px rgba(0, 0, 0, 0.04%);
    @include border-radius(28px);
    box-sizing: border-box;
    padding: 28px 24px 30px 31px;
    z-index: 10;
    position: relative;
    background: #fff;
  }

  &__full {
    position: relative;
    margin-bottom: 73px;
    padding-right: 10px;
  }

  &__bg {
    background: #FCF3CD;
    width: 98%;
    height: 100%;
    position: absolute;
    right: -8px;
    bottom: -28px;
    z-index: 1;
    @include border-radius(28px);
  }

  &__half-bg {
    right: -8px;
    bottom: -9px;
  }

  &__pink {
    background: #F9E8E8;
  }

  &__green {
    background: #E7F9E1;
  }

  &__title {
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #454C4F;
    margin: 0;
  }

  &__paragraph {
    font-family: 'Glober-book';
    font-size: 16px;
    line-height: 30px;
    color: #000;
    margin-bottom: 0;
  }

  &__half {
    position: relative;
    flex-basis: 48.55%;
  }

  &__double {
    display: flex;
    justify-content: space-between;
  }

  &__half-content {
    padding: 40px 27px 31px 35px;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__wrap-link {
    display: flex;
    justify-content: flex-end;
    margin-top: 43px;
  }

  &__link {
    margin: 0;
    // width: 44%;
    color: #7b7b7b;
    font-size: 22px;
    text-align: center;
    padding-left: 54px;
    padding-right: 46px;
  }
}

.sf-terms__list {
  margin: 0 0 40px;
}

.sf-mini-label {
  font-family: 'Glober-free';
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  margin: 30px 0 0;
  color: #000;
}

.sf-terms__paragraph18 {
  font-family: Glober-book;
  font-size: 18px;
  line-height: 35px;
  color: #000;
}

.sf-cl-green {
  background: #E8FCF7;
}

.sf-terms__paragraph-link {
  font-family: 'Glober-free';
  font-weight: 700;
  font-size: 16px;
  color: #E10485;
  text-decoration: underline;
  transition: all 0.5s;

  &:hover {
    color: #E10485;
    transition: all 0.5s;
    text-decoration: none;
  }
}

.sf-terms__list-item {
  font-family: 'Glober-book';
  font-size: 18px;
  line-height: 35px;
  color: #000;

  &::before {
    padding-right: 5px;
  }
}
@media screen and (max-width: 900px) {
  .servicep .category__img {
    height: 165px;
  }
}