@media screen and(max-width: 1850px) {
  .slider__bg {
    height: 595px;
    width: 786px;
  }

  .hl-similar__item:first-child {
    &:hover {
      .cat__under {
        left: 75%;
      }
    }
  }

  .lookbook__row {
    align-items: flex-end;
  }

  .hl-similar__item:last-child {
    &:hover {
      .cat__under {
        left: 25%;
      }
    }
  }

  .articlep__bg-top {
    right: -22px;
  }

  .top-info__slider {
    width: 885px;
    height: 600px;
  }

  .about {
    margin-top: 50px;
  }

  .opt__slider {
    width: 835px;
    height: 478px;
  }

  .slider__bg {
    height: 400px;
    width: 786px;
  }

  .opt__link {
    left: 35px;
    width: 422px;
  }

  .top-info__heart-dots {
    top: -18px;
  }

  .production__slider {
    width: 742px;
  }

  .us__bg {
    width: 675px;
    bottom: 50px;
  }

  .us__bg-second {
    width: 680px;
    bottom: 40px;
  }

  .production__bg {
    width: 680px;
    bottom: 30px;
  }

  .articlep__slider {
    height: 510px;
    width: 805px;
  }

  .articlep__content-top {
    width: 42.45%;
  }

  .sf-slider {
    height: 425px;
  }

  .sf-top-info__slider-bg {
    width: 100%;
  }
}
@media screen and(max-width: 1550px) {
  .cat__item:nth-child(3n) {
    &:hover {
      .cat__under {
        left: 25%;
      }
    }
  }

  .lookbook__item {
    display: none;
  }
}
@media screen and(max-width: 1439px) {
  .main-content {
    width: 100%;
    padding: 0 50px;
  }

  .lookbook__content {
    width: 50%;
  }

  .lookbook__link {
    font-size: 18px;
  }

  .childs-cat .btn-img__img {
    right: -65px;
  }

  .gloves-cat .btn-img__img {
    bottom: 0;
    left: 10px;
  }

  .leggings-cat .btn-img__img {
    left: 0;
  }

  .basket-content {
    width: 75%;
    margin-right: 20px;
  }

  .hl-catalog__wrap {
    margin-top: 30px;
  }

  .cat__img {
    width: 100%;
    height: 300px;
  }

  .cat__item:nth-child(3n) {
    &:hover {
      .cat__under {
        left: 12%;
      }
    }
  }

  .hl-select {
    width: 60%;
  }

  .hl-card__price-wrap {
    flex-wrap: wrap;
  }

  .color-slider {
    width: 360px;
  }

  .hl-review__right .rating-wrap {
    flex-direction: column;
  }

  .hl-similar__item {
    width: 24%;
    margin-right: 10px;

    .cat__img {
      width: 100%;
    }
  }

  .hl-similar__item:last-child {
    margin: 0;

    &:hover {
      .cat__under {
        left: 0;
      }
    }
  }

  .cp-info {
    flex-basis: 50%;
    margin: 0;
  }

  .staff__img-bg {
    width: 100%;
    height: 100%;
  }

  .staff__item:nth-child(2n) {
    margin-right: 0;
  }

  .staff__item:nth-child(3n+3) {
    margin-right: 22px;
  }

  .video__bg {
    height: 100%;
  }

  .main-title {
    font-size: 59px;
  }

  .top-info__content p {
    font-size: 30px;
  }

  .double__btn {
    width: 600px;
  }

  .double__img {
    left: -24px;
  }

  .double__content {
    padding-top: 15px;
    padding-right: 50px;
  }

  .search {
    width: 20%;
  }

  .top-info__slider {
    width: 697px;
    height: 488px;
  }

  .slider__bg {
    height: 491px;
    width: 648px;
  }

  .top-info__link {
    margin: 50px 0 33px;
  }

  .top-info {
    min-height: 600px;
  }

  .btn-img__btn,
  .man-cat .btn-img__btn,
  .specials-cat .btn-img__btn,
  .specials-cat .btn-img__btn {
    width: 541px;
  }

  .childs-cat .btn-img__btn,
  .gloves-cat .btn-img__btn,
  .leggings-cat .btn-img__btn,
  .tights-cat .btn-img__btn {
    width: 355px;
  }

  .catalog__wrap {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
  }

  .lookbook__l6,
  .lookbook__l8 {
    display: none;
  }

  .opt__slider {
    width: 623px;
    height: 390px;
  }

  .slider__bg {
    height: 310px;
    width: 617px;
  }

  .opt__link {
    margin-top: 50px;
  }

  .magazine {
    margin-top: 0;
  }

  .magazine__img {
    width: 100%;
    height: 200px;
  }

  .magazine__item {
    flex-basis: 31.25%;
  }

  .top-info__heart-dots {
    left: 190px;
    top: -38px;
  }

  .catalog-right__heart-dots {
    right: -45px;
    top: -180px;
  }

  .tights-cat a {
    margin-left: 20px;
    padding-right: 0;
  }

  .opt__content p {
    padding-right: 50px;
  }

  .breadcrumb {
    padding-top: 14.5px;
  }

  .about-page__slider {
    width: 674px;
  }

  .about-page__bg {
    bottom: 35px;
  }

  .production__slider {
    width: 605px;
  }

  .us__bg {
    width: 555px;
  }

  .nav-fixed .nav__link {
    font-size: 15px;
  }

  .btn-slider__content-side {
    height: 590px;
  }

  .btn-slider__info {
    overflow: hidden;
    height: 500px;
  }

  .lb-page__col {
    max-width: none;
    flex: 1;
  }

  .lb-page__item-mini {
    padding: 30px 0 0;
  }

  .lb-page__top-text {
    padding: 90px 0 0;
  }

  .lb-page__label {
    font-size: 36px;
  }

  .lb-page__bg1,
  .lb-page__bg3 {
    // margin: 0;
  }

  .lb-album__banner-img {
    height: 650px;
  }

  .lb-album__double-item .bg-left-bottom {
    bottom: -30px;
  }

  .servicep .category__img {
    height: 265px;
  }

  .articlep__img {
    height: 440px;
  }

  .articlep__double .articlep__paragraph {
    flex-basis: 70%;
  }

  .articlep-top-info__wrap {
    display: flex;
    flex-direction: column-reverse;
  }

  .articlep__slider {
    position: inherit;
    width: 100%;
    height: 444px;
  }

  .articlep__content-top {
    width: 100%;
    margin: 30px 0;
  }

  .sf-slider {
    height: 345px;
    top: 68px;
  }

  .sf-top-info {
    min-height: 450px;
  }
}
@media screen and(max-width: 1270px) {
  .hl-similar__item {
    .cat__img {
      height: 320px;
    }
  }
}