.team {
  &__bg {
    background: #F5D6E2;
  }
}

.staff {
  margin-top: 135px;

  &__title {
    font-size: 38px;
    line-height: 32px;
    margin-bottom: 35px;
  }

  &__rang {
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #AAAAAA;
    margin-bottom: 10px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 112px;
  }

  &__item {
    flex-basis: 32.22%;
    margin-right: 22px;
    margin-bottom: 40px;

    &:nth-child(3n+3) {
      margin-right: 0;
    }
  }

  &__img {
    @include img(432px, 620px);
    @include border-radius(28px);
    position: relative;
    z-index: 10;

    img {
      position: relative;
      z-index: 10;
    }
  }

  &__img-wrap {
    position: relative;
  }

  &__img-bg {
    width: 432px;
    height: 100%;
    position: absolute;
    right: -5px;
    top: -10px;
    background: #D7F9CC;
    @include border-radius(28px);
  }

  &__label {
    font-size: 27px;
    line-height: 32px;
    color: #000;
    margin-top: 15px;
    margin-bottom: 11px;
    font-family: 'Glober';

    div {
      margin-top: 10px;
      font-family: 'Glober';
    }
  }

  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 9px;

    img {
      margin-right: 13.5px;
    }
  }

  &__link {
    color: #373737;
    text-decoration: none;

    &:hover {
      color: #373737;
      text-decoration: none;
    }
  }
}