.top-info__content {
  width: 466px;

  p {
    font-size: 32px;
    margin: 0;
    color: #515151;
    margin-top: 24px;
  }
}

.top-info__link {
  display: inline-block;
  font-size: 27px;
  color: #515151;
  margin: 111px 0 136px;
  position: relative;

  &:hover {
    color: #515151;
  }

  &::after {
    content: ' ';
    background: url("../img/ico/arrow-right.svg")left top no-repeat;
    width: 21px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: -43px;
    transform: translate(0, -50%);
  }
}

.socials {
  display: flex;
  align-items: baseline;

  &__item {
    margin-right: 18px;

    &:last-child {
      margin: 0;
    }
  }
}

.main-title {
  margin: 0;
  font-size: 64px;
  font-family: 'Glober-free', sans-serif;
  font-weight: bold;
  line-height: 70px;
  color: #515151;
}

.top-info {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 733px;
  margin-top: 10px;

  &__slider-wrap {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.top-info__slider {
  width: 1130px;
  height: 723px;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
}

.slider {
  &__container {
    -webkit-border-radius: 28px 0 0 28px;
    -moz-border-radius: 28px 0 0 28px;
    border-radius: 28px 0 0 28px;
    z-index: 10;
  }

  &__item {
    img {
      -webkit-border-radius: 28px 0 0 28px;
      -moz-border-radius: 28px 0 0 28px;
      border-radius: 28px 0 0 28px;
    }
  }

  &__bg {
    position: absolute;
    right: 0;
    top: 0;
    background: #FFEBF7;
    -webkit-border-radius: 28px 0 0 28px;
    -moz-border-radius: 28px 0 0 28px;
    border-radius: 28px 0 0 28px;
    height: 723px;
    width: 1032px;
  }

  &__wrap-arrows {
    display: flex;
    position: absolute;
    bottom: 32px;
    left: 34px;
  }

  &__prev {
    display: block;
    background: url("../img/ico/prev.svg")left top no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 18px;

    &:active {
      background: url("../img/ico/prev-active.svg")left top no-repeat;
    }
  }

  &__next {
    display: block;
    background: url("../img/ico/next.svg")left top no-repeat;
    width: 40px;
    height: 40px;

    &:active {
      background: url("../img/ico/next-active.svg")left top no-repeat;
    }
  }
}

.heart-dots {
  position: absolute;
  background: url("../img/ico/heart-dots.svg")left top no-repeat;
  width: 396px;
  height: 322px;
  z-index: -10;
}

.top-info__heart-dots {
  left: -50px;
  top: -107px;
}

.main-title__mob {
  margin: 0;
  font-size: 38px;
  font-family: 'Glober-free',sans-serif;
  font-weight: 700;
  line-height: 70px;
  color: #515151;
}

.main-sub-title__mob {
  font-size: 23px;
  margin: 0;
  color: #515151;
  margin-bottom: 24px;
}

.label-mob-wrap {
  display: none;
}