.vacancies {
  position: relative;
  margin-top: 35px;

  &__title {}

  &__top-article {
    font-family: 'Glober-book';
    font-size: 16px;
    line-height: 30px;
    color: #454c4f;
  }

  &__form-title {
    font-size: 37px;
    line-height: 51px;
    color: #454c4f;
    flex-basis: 31%;
  }

  &__form {
    display: flex;
  }
}

.accordion {
  &__label {
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 30px;
    line-height: 31px;
    color: #454c4f;
  }

  &__mini-label {
    font-family: 'Glober-free';
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #454c4f;
    margin-top: 24px;
    margin-bottom: 17px;
  }

  &__article {
    margin: 0;
    font-size: 16px;
    color: #454c4f;
    line-height: 27px;
  }

  &__item {
    .uk-accordion-title {
      background: #FCE2E2;
      color: #D47E7E;
      font-size: 19px;
      font-family: 'Glober-free';
      font-weight: 700;
      padding: 27px 41px;
      position: relative;
      z-index: 10;
    }
  }

  .uk-open > .uk-accordion-title::before {
    background-image: url("../img/main/close-acc.svg");
  }

  .uk-accordion-title::before {
    background-image: url("../img/main/open-acc.svg");
  }

  .uk-accordion-content {
    box-shadow: 0 3px 28px rgba(0, 0, 0, 0.11%);
    margin-top: 0;
    padding: 29px 29px 29px 43px;
    background: #fff;
  }
}

.circle-list {
  padding: 0;
  list-style-position: inside;

  &__item {
    list-style: none;
    display: flex;
    margin-bottom: 5px;

    &::before {
      content: '•';
      padding-right: 63px;
      color: #454c4f;
      display: block;
    }

    ul {
      list-style: none;
      padding-left: 50px;

      li::before {
        content: '-';
        padding-right: 22px;
        color: #454c4f;
      }
    }
  }
}

.lower-lvl-list {
  flex-wrap: wrap;

  ul {
    flex-basis: 100%;
  }
}

.vacancies__heart-top-left {
  top: -117px;
  left: -340px;
}

.vacancies__heart-middle-left {
  top: 50%;
  left: -340px;
}

.vacancies__heart-middle-right {
  top: 55%;
  right: -340px;
}

.vacancies__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 76px;
  margin-bottom: 67px;
}

.form {
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__input {
    flex-basis: 46.831%;
    background: #F5F5F5;
    color: #686868;
    font-size: 18px;
    line-height: 51px;
    outline: none;
    border: none;
    margin-bottom: 16px;
    padding: 6px 0 0 17px;
    height: 29px;
  }

  &__wrap {
    flex-basis: 62.1%;
    min-height: 555px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16%);
    @include border-radius(28px);
    padding: 42px 27px 33px;
  }

  &__textarea {
    resize: none;
    width: 100%;
    height: 278px;
    background: #F5F5F5;
    border: none;
    color: #686868;
    font-size: 18px;
    line-height: 51px;
    outline: none;
    margin-top: 69px;
    padding: 15px 17px;
    margin-bottom: 24px;
    box-sizing: border-box;
  }

  &__file {
    font-size: 18px;
    line-height: 30px;
    color: #7B7B7B;
    cursor: pointer;
    text-decoration: underline;
    padding-top: 3px;
  }

  &__file-wrap {
    cursor: pointer;
    display: flex;
    align-items: center;

    img {
      margin-left: 19px;
    }
  }

  &__link {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'Glober-free';
    font-weight: 700;
    color: #7B7B7B;
    background-image: linear-gradient(to bottom,#F5D6E2 50%,rgba(255,255,255,0) 50%,rgba(255,255,255,0) 100%,#F5D6E2 100%);
    padding-right: 0;
    padding-left: 50px;
  }
}