<div class="hl-catalog uk-margin-bottom">
  <!-- NAV TOP -->

  <div class="cat__second-lvl">
    <a href="#" class="cat__block-label">Носки</a>
    <div class="cat__block">
      <div class="cat__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab">Новинка</div>
        </div>
        <a href="#" class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </a>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cat__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab cat__tab_pink
        ">SALE</div>
        </div>
        <a href="#" class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </a>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cat__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab cat__tab_green">ХИТ</div>
        </div>
        <a href="#" class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </a>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <a href="#" class="cat__block-label">Лосины</a>
    <div class="cat__block">
      <div class="cat__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab">Новинка</div>
        </div>
        <a href="#" class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </a>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cat__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab cat__tab_pink
        ">SALE</div>
        </div>
        <a href="#" class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </a>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cat__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab cat__tab_green">ХИТ</div>
        </div>
        <a href="#" class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </a>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <a href="#" class="cat__block-label">Колготки</a>
    <div class="cat__block">
      <div class="cat__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab">Новинка</div>
        </div>
        <a href="#" class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </a>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cat__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab cat__tab_pink
        ">SALE</div>
        </div>
        <a href="#" class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </a>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cat__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab cat__tab_green">ХИТ</div>
        </div>
        <a href="#" class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </a>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <a href="#" class="cat__block-label">Гольфы, гольфины, гетры</a>
    <div class="cat__block">
      <div class="cat__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab">Новинка</div>
        </div>
        <a href="#" class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </a>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cat__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab cat__tab_pink
        ">SALE</div>
        </div>
        <a href="#" class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </a>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cat__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab cat__tab_green">ХИТ</div>
        </div>
        <a href="#" class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </a>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <a href="#" class="cat__block-label">Перчатки и варежки</a>
    <div class="cat__block">
      <div class="cat__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab">Новинка</div>
        </div>
        <a href="#" class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </a>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cat__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab cat__tab_pink
        ">SALE</div>
        </div>
        <a href="#" class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </a>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cat__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab cat__tab_green">ХИТ</div>
        </div>
        <a href="#" class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </a>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

<!-- Попап добавить в корзину-->
<div id="modal-tabel-korz" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical hl-modal__body hl-modal__mini">
    <button class="uk-modal-close-outside hl-modal__close" type="button">
      <img src="img/main/ha-modal-plus.svg" alt="">
    </button>
    <h2 class="uk-modal-title hl-modal__label">Добавить в корзину</h2>

    <div class="popup-info">
      <div class="popup-info__img">
        <img src="img/main/ct1.jpg" alt="">
      </div>

      <div class="popup-info__content">
        <div class="popup-info__title">Носки женск.укороченные "Hobby Line
          /12шт/х/б, "Амели"</div>
        <div class="popup-info__item">
          <span class="popup-info__label">Цена за шт.:</span>
          <span class="popup-info__curent">159 руб</span>
        </div>
        <div class="popup-info__item">
          <span class="popup-info__label">Арт.:</span>
          <span class="popup-info__curent">Нжс507-4</span>
        </div>
        <div class="popup-info__item">
          <span class="popup-info__label">Цвет:</span>
          <span class="popup-info__curent">Белый</span>
        </div>
        <div class="popup-info__item">
          <span class="popup-info__label">Остаток на складе:</span>
          <span class="popup-info__curent">46 шт.</span>
        </div>
      </div>
    </div>

    <!-- Выбрать размер начало -->
    <div class="size-table">
      <div class="hl-card__label">Выбрать размер:</div>
      <table class="uk-table uk-table-divider size-table__container">
        <thead>
          <tr>
            <th class="size-table__th"></th>
            <th class="size-table__th">23</th>
            <th class="size-table__th size-table__th-disable">25</th>
            <th class="size-table__th size-table__th-disable">27</th>
            <th class="size-table__th">29</th>
            <th class="size-table__th">36-40</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="size-table__label">Поштучно:</td>
            <td class="size-table__td">
              <div class="step">
                <div class="step__plus"></div>
                <input class="step__input" type="text" name="" value="0">
                <div class="step__minus"></div>
              </div>
            </td>
            <td class="size-table__td">
            </td>
            <td class="size-table__td"></td>
            <td class="size-table__td">
              <div class="step">
                <div class="step__plus"></div>
                <input class="step__input" type="text" name="" value="0">
                <div class="step__minus"></div>
              </div>
            </td>
            <td class="size-table__td">
              <div class="step">
                <div class="step__plus"></div>
                <input class="step__input" type="text" name="" value="0">
                <div class="step__minus"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="size-table__label">Упаковка:</td>
            <td class="size-table__td">
              <div class="step">
                <div class="step__plus half-step"></div>
                <input class="step__input" type="text" name="" value="0.5">
                <div class="step__minus half-step"></div>
              </div>
            </td>
            <td class="size-table__td">
            </td>
            <td class="size-table__td"></td>
            <td class="size-table__td">
              <div class="step">
                <div class="step__plus"></div>
                <input class="step__input" type="text" name="" value="0">
                <div class="step__minus"></div>
              </div>
            </td>
            <td class="size-table__td">
              <div class="step">
                <div class="step__plus"></div>
                <input class="step__input" type="text" name="" value="0">
                <div class="step__minus"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Выбрать размер конец -->



    <a href="#" class="btn-korz uk-margin-top hl-modal__btn-korz">В корзину</a>
  </div>
</div>
<!--В корзину конец -->