<div class="hl-catalog">
  <!-- NAV TOP -->
  <div class="hl-top-nav">
    <div class="hl-top-nav__left">

      <div class="hl-select hl-select-desktop">
        <span class="hl-select__label">Сортировать по:</span>
        <div class="__select hl-catalog-select" data-state="">
          <div class="__select__title" data-default="Option 0">Популярности</div>
          <div class="__select__content">
            <input id="singleSelect0" class="__select__input" type="radio" name="singleSelect" checked />
            <label for="singleSelect0" class="__select__label"></label>

            <input id="singleSelect1" class="__select__input" type="radio" name="singleSelect" />
            <label for="singleSelect1" class="__select__label">Популярности</label>

            <input id="singleSelect2" class="__select__input" type="radio" name="singleSelect" />
            <label for="singleSelect2" class="__select__label">Цене</label>

            <input id="singleSelect3" class="__select__input" type="radio" name="singleSelect" />
            <label for="singleSelect3" class="__select__label">Цвету</label>
          </div>
        </div>
      </div>

      <div class="hl-catalog-models">
        <span>1-20</span> из
        <span>154</span> моделей
      </div>
    </div>

    <div class="hl-catalog-right">
      <span class="hl-select__label">Сортировать по:</span>
      <div class="hl-items-count">
        <a href="#" class="hl-items-count__link hl-items-count__link-active">15</a>
        <a href="#" class="hl-items-count__link">30</a>
        <a href="#" class="hl-items-count__link">100</a>
      </div>
    </div>
  </div>
  <div class="cat">

    <div class="cat__item cat-izbr__item">
      <div class="cat__tab-wrap">
        <div class="cat__tab">Новинка</div>
      </div>
      <a href="#" class="cat__img">
        <img src="img/main/ct1.jpg" alt="">
      </a>
      <div class="cat__info">
        <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
          для широкой щиколотки, ассорти</div>
        <div class="cat__art">
          Арт. Нжу508
        </div>
        <div class="cat__price">
          <span class="cat__price-main">34 руб.</span>
          <span class="cat__price-through">130 руб.</span>
        </div>
      </div>
      <div class="izbr-nav">
        <a href="#modal-tabel-korz" class="izbr__basket" uk-toggle></a>
        <div class="izbr__basket izbr__doted"></div>
        <div uk-drop="mode: click; pos: top-center" class="izbr-drop-wrap">
          <div class="uk-card uk-card-body uk-card-default izbr-drop">
            <a href="#" class="izbr-drop__link">Показать похожие</a>
            <a href="#" class="izbr-drop__link">Удалить из избранного</a>
          </div>
        </div>
      </div>
    </div>

    <div class="cat__item cat-izbr__item">
      <div class="cat__tab-wrap">
        <div class="cat__tab cat__tab_pink
        ">SALE</div>
      </div>
      <a href="#" class="cat__img">
        <img src="img/main/ct1.jpg" alt="">
      </a>
      <div class="cat__info">
        <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
          для широкой щиколотки, ассорти</div>
        <div class="cat__art">
          Арт. Нжу508
        </div>
        <div class="cat__price">
          <span class="cat__price-main">34 руб.</span>
          <span class="cat__price-through">130 руб.</span>
        </div>
        <div class="izbr-nav">
          <a href="#modal-tabel-korz" class="izbr__basket" uk-toggle></a>
          <div class="izbr__basket izbr__doted"></div>
          <div uk-drop="mode: click; pos: top-center" class="izbr-drop-wrap">
            <div class="uk-card uk-card-body uk-card-default izbr-drop">
              <a href="#" class="izbr-drop__link">Показать похожие</a>
              <a href="#" class="izbr-drop__link">Удалить из избранного</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cat__item cat-izbr__item">
      <div class="cat__tab-wrap">
        <div class="cat__tab cat__tab_green">ХИТ</div>
      </div>
      <a href="#" class="cat__img">
        <img src="img/main/ct1.jpg" alt="">
      </a>
      <div class="cat__info">
        <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
          для широкой щиколотки, ассорти</div>
        <div class="cat__art">
          Арт. Нжу508
        </div>
        <div class="cat__price">
          <span class="cat__price-main">34 руб.</span>
          <span class="cat__price-through">130 руб.</span>
        </div>
        <div class="izbr-nav">
          <a href="#modal-tabel-korz" class="izbr__basket" uk-toggle></a>
          <div class="izbr__basket izbr__doted"></div>
          <div uk-drop="mode: click; pos: top-center" class="izbr-drop-wrap">
            <div class="uk-card uk-card-body uk-card-default izbr-drop">
              <a href="#" class="izbr-drop__link">Показать похожие</a>
              <a href="#" class="izbr-drop__link">Удалить из избранного</a>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

</div>

<!-- Попап добавить в корзину-->
<div id="modal-tabel-korz" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical hl-modal__body hl-modal__mini">
    <button class="uk-modal-close-outside hl-modal__close" type="button">
      <img src="img/main/ha-modal-plus.svg" alt="">
    </button>
    <h2 class="uk-modal-title hl-modal__label">Добавить в корзину</h2>

    <div class="popup-info">
      <div class="popup-info__img">
        <img src="img/main/ct1.jpg" alt="">
      </div>

      <div class="popup-info__content">
        <div class="popup-info__title">Носки женск.укороченные "Hobby Line
          /12шт/х/б, "Амели"</div>
        <div class="popup-info__item">
          <span class="popup-info__label">Цена за шт.:</span>
          <span class="popup-info__curent">159 руб</span>
        </div>
        <div class="popup-info__item">
          <span class="popup-info__label">Арт.:</span>
          <span class="popup-info__curent">Нжс507-4</span>
        </div>
        <div class="popup-info__item">
          <span class="popup-info__label">Цвет:</span>
          <span class="popup-info__curent">Белый</span>
        </div>
        <div class="popup-info__item">
          <span class="popup-info__label">Остаток на складе:</span>
          <span class="popup-info__curent">46 шт.</span>
        </div>
      </div>
    </div>

    <!-- Выбрать размер начало -->
    <div class="size-table">
      <div class="hl-card__label">Выбрать размер:</div>
      <table class="uk-table uk-table-divider size-table__container">
        <thead>
          <tr>
            <th class="size-table__th"></th>
            <th class="size-table__th">23</th>
            <th class="size-table__th size-table__th-disable">25</th>
            <th class="size-table__th size-table__th-disable">27</th>
            <th class="size-table__th">29</th>
            <th class="size-table__th">36-40</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="size-table__label">Поштучно:</td>
            <td class="size-table__td">
              <div class="step">
                <div class="step__plus"></div>
                <input class="step__input" type="text" name="" value="0">
                <div class="step__minus"></div>
              </div>
            </td>
            <td class="size-table__td">
            </td>
            <td class="size-table__td"></td>
            <td class="size-table__td">
              <div class="step">
                <div class="step__plus"></div>
                <input class="step__input" type="text" name="" value="0">
                <div class="step__minus"></div>
              </div>
            </td>
            <td class="size-table__td">
              <div class="step">
                <div class="step__plus"></div>
                <input class="step__input" type="text" name="" value="0">
                <div class="step__minus"></div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="size-table__label">Упаковка:</td>
            <td class="size-table__td">
              <div class="step">
                <div class="step__plus half-step"></div>
                <input class="step__input" type="text" name="" value="0.5">
                <div class="step__minus half-step"></div>
              </div>
            </td>
            <td class="size-table__td">
            </td>
            <td class="size-table__td"></td>
            <td class="size-table__td">
              <div class="step">
                <div class="step__plus"></div>
                <input class="step__input" type="text" name="" value="0">
                <div class="step__minus"></div>
              </div>
            </td>
            <td class="size-table__td">
              <div class="step">
                <div class="step__plus"></div>
                <input class="step__input" type="text" name="" value="0">
                <div class="step__minus"></div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Выбрать размер конец -->



    <a href="#" class="btn-korz uk-margin-top hl-modal__btn-korz">В корзину</a>
  </div>
</div>
<!--В корзину конец -->