<div class="hl-filter uk-padding-remove">
  <a class="hl-filter__name hl-filter__label" href="catalog-3.html">Носки</a>
  <a class="hl-filter__name hl-filter__label" href="#">Лосины</a>
  <a class="hl-filter__name hl-filter__label" href="#">Колготки</a>
  <a class="hl-filter__name hl-filter__label" href="#">Гольфы, гольфины, гетры</a>
  <a class="hl-filter__name hl-filter__label" href="#">Перчатки и варежки</a>


</div>