<div class="uk-flex uk-flex-middle">
  <div class="hl-filter-btn-mob"><span uk-icon="icon: settings"></span>Фильтр</div>
  <div class="hl-select hl-select-mob">
    <span class="hl-select__label">Сортировать по:</span>
    <div class="__select hl-catalog-select" data-state="">
      <div class="__select__title" data-default="Option 0">Популярности</div>
      <div class="__select__content">
        <input id="singleSelect0" class="__select__input" type="radio" name="singleSelect" checked />
        <label for="singleSelect0" class="__select__label"></label>

        <input id="singleSelect1" class="__select__input" type="radio" name="singleSelect" />
        <label for="singleSelect1" class="__select__label">Популярности</label>

        <input id="singleSelect2" class="__select__input" type="radio" name="singleSelect" />
        <label for="singleSelect2" class="__select__label">Цене</label>

        <input id="singleSelect3" class="__select__input" type="radio" name="singleSelect" />
        <label for="singleSelect3" class="__select__label">Цвету</label>
      </div>
    </div>
  </div>
</div>

<div class="hl-filter">
  <a class="hl-filter__name hl-filter__label hl-filter__label-active" href="#">Носки</a>
  <a class="hl-filter__name hl-filter__label" href="#">Лосины</a>
  <a class="hl-filter__name hl-filter__label" href="#">Колготки</a>
  <a class="hl-filter__name hl-filter__label" href="#">Гольфы, гольфины, гетры</a>
  <a class="hl-filter__name hl-filter__label" href="#">Перчатки и варежки</a>
  <!--ITEMS -->
  <ul uk-accordion="multiple: true">
    <li class="uk-open hl-filter__block">
      <a class="uk-accordion-title hl-filter__name" href="#">Цена</a>
      <div class="uk-accordion-content">
        <div class="polzunok-container-5">
          <div class="polzunok-5"></div>
          <div class="ha-filter__price-bottom">
          </div>
          <div class="ha-filter__price-top">
            <div class="uk-flex uk-flex-middle">
              <span class="hl-filter__span">от</span>
              <div class="ha-top__price">
                <input type="text" class="polzunok-input-5-left" />
                <span>руб.</span>
              </div>
            </div>

            <div class="uk-flex uk-flex-middle uk-margin-left">
              <span class="hl-filter__span">до</span>
              <div class="ha-top__price">
                <input type="text" class="polzunok-input-5-right " />
                <span>руб.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="uk-open hl-filter__block">
      <a class="uk-accordion-title hl-filter__name" href="#">Сезонность</a>
      <div class="uk-accordion-content hl-filter__container">
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox" checked="checked">
          <span class="ha-check__text">Весна-лето</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Осень-зима</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Всесезонный</span>
          <span class="ha-check__mark"></span>
        </label>
      </div>
    </li>
    <li class="uk-open hl-filter__block">
      <a class="uk-accordion-title hl-filter__name" href="#">Пол</a>
      <div class="uk-accordion-content hl-filter__container">
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox" checked="checked">
          <span class="ha-check__text">Женские</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Мужские</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Детские</span>
          <span class="ha-check__mark"></span>
        </label>
      </div>
    </li>
    <li class="uk-open hl-filter__block">
      <a class="uk-accordion-title hl-filter__name" href="#">Размер</a>
      <div class="uk-accordion-content hl-filter__container">
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox" checked="checked">
          <span class="ha-check__text">1</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">2</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">3</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">4</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">5</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">6-7</span>
          <span class="ha-check__mark"></span>
        </label>
      </div>
    </li>
    <li class="uk-open hl-filter__block">
      <a class="uk-accordion-title hl-filter__name" href="#">Состав</a>
      <div class="uk-accordion-content hl-filter__container">
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox" checked="checked">
          <span class="ha-check__text">Хлопок</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Шерсть, ангора</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Полиамид</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Капрон</span>
          <span class="ha-check__mark"></span>
        </label>
      </div>
    </li>

    <!--Цвет-->
    <li class="hl-filter__block">
      <a class="uk-accordion-title hl-filter__name" href="#">Состав</a>
      <div class="uk-accordion-content hl-filter__container">
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox" checked="checked">
          <span class="ha-check__text">Цветные, ассорти</span>
          <span class="ha-check__mark fl__rainbow fl__border-gray"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Бежевый, телесный</span>
          <span class="ha-check__mark fl__beige fl__border-gray"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Белый</span>
          <span class="ha-check__mark fl__border-gray"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Бирюзовый</span>
          <span class="ha-check__mark fl__turquoise fl__border-gray"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Бордовый</span>
          <span class="ha-check__mark fl__border-gray fl__burgundy"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Голубой</span>
          <span class="ha-check__mark fl__border-gray fl__blue"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Желтый</span>
          <span class="ha-check__mark fl__border-gray fl__yellow"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Зеленый</span>
          <span class="ha-check__mark fl__border-gray fl__green"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Золотой</span>
          <span class="ha-check__mark fl__border-gray fl__gold"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Кирпичный</span>
          <span class="ha-check__mark fl__border-gray fl__brick"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Коралловый</span>
          <span class="ha-check__mark fl__border-gray fl__coral"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Коричневый, кофе</span>
          <span class="ha-check__mark fl__border-gray fl__brown"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Красный</span>
          <span class="ha-check__mark fl__border-gray fl__red"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Меланж</span>
          <span class="ha-check__mark fl__border-gray fl__melanj"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Молочный</span>
          <span class="ha-check__mark fl__border-gray fl__milk"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Олива</span>
          <span class="ha-check__mark fl__border-gray fl__oliv"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Оранжевый</span>
          <span class="ha-check__mark fl__border-gray fl__orange"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Персиковый</span>
          <span class="ha-check__mark fl__border-gray fl__persik"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Розовый</span>
          <span class="ha-check__mark fl__border-gray fl__pink"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Салатный</span>
          <span class="ha-check__mark fl__border-gray fl__light-green"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Серый</span>
          <span class="ha-check__mark fl__border-gray fl__gray"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text fl__border-gray">Синий, темно-синий</span>
          <span class="ha-check__mark fl__border-gray fl__dark-blue"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text fl__border-gray">Фиолетовый, сиреневый</span>
          <span class="ha-check__mark fl__border-gray fl__violet"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Черный</span>
          <span class="ha-check__mark fl__border-gray fl__black"></span>
        </label>
      </div>
    </li>
    <!--конец Цвет-->

    <!--Рисунок -->
    <li class="hl-filter__block">
      <a class="uk-accordion-title hl-filter__name" href="#">Рисунок</a>
      <div class="uk-accordion-content hl-filter__container">
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox" checked="checked">
          <span class="ha-check__text">Узоры</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">В полоску</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">С картинами</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">С рисунком</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Животные</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Птицы</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Коты</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Собаки</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Лама</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Панда</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Прикольные носки</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Лисы</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Фрукты</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Авокадо</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Еда</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Яичница</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Растения</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Морской мир</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Смайлики</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Спорт</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Надписи</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Новогодние</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Символ года</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Черепа</span>
          <span class="ha-check__mark"></span>
        </label>
      </div>
    </li>
    <!--конец Рисунок -->
    <li class="uk-open hl-filter__block">
      <a class="uk-accordion-title hl-filter__name" href="#">Украшения</a>
      <div class="uk-accordion-content hl-filter__container">
        <label class="ha-check__container ha-check__container_radio">
          <input class="ha-check__input" name="ch1" type="radio">
          <span class="ha-check__text">Да</span>
          <span class="ha-check__mark hl-filter__radio"></span>
        </label>
        <label class="ha-check__container ha-check__container_radio">
          <input class="ha-check__input" name="ch1" type="radio" checked>
          <span class="ha-check__text">Нет</span>
          <span class="ha-check__mark hl-filter__radio"></span>
        </label>
      </div>
    </li>

    <li class="uk-open hl-filter__block">
      <a class="uk-accordion-title hl-filter__name" href="#">3D-элементы</a>
      <div class="uk-accordion-content hl-filter__container">
        <label class="ha-check__container ha-check__container_radio">
          <input class="ha-check__input" name="ch2" type="radio">
          <span class="ha-check__text">Да</span>
          <span class="ha-check__mark hl-filter__radio"></span>
        </label>
        <label class="ha-check__container ha-check__container_radio">
          <input class="ha-check__input" name="ch2" type="radio" checked>
          <span class="ha-check__text">Нет</span>
          <span class="ha-check__mark hl-filter__radio"></span>
        </label>
      </div>
    </li>

    <li class="uk-open hl-filter__block">
      <a class="uk-accordion-title hl-filter__name" href="#">Дополнительный фильтр</a>
      <div class="uk-accordion-content hl-filter__container">
        <div class="hl-filter__subtitle">Плотность</div>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">150 den</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">180 den</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">260 den</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">300 den</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">600 den</span>
          <span class="ha-check__mark"></span>
        </label>

        <div class="hl-filter__subtitle uk-margin-top">Внутренний слой</div>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Флис</span>
          <span class="ha-check__mark"></span>
        </label>
        <label class="ha-check__container">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Начес</span>
          <span class="ha-check__mark"></span>
        </label>
      </div>
    </li>
  </ul>

  <div class="hl-filter__block hl-filter__container">
    <label class="ha-check__container">
      <input class="ha-check__input" type="checkbox">
      <span class="ha-check__text">Новинки</span>
      <span class="ha-check__mark"></span>
    </label>
    <label class="ha-check__container">
      <input class="ha-check__input" type="checkbox">
      <span class="ha-check__text">Распродажа</span>
      <span class="ha-check__mark"></span>
    </label>
    <label class="ha-check__container">
      <input class="ha-check__input" type="checkbox">
      <span class="ha-check__text">Хит продаж</span>
      <span class="ha-check__mark"></span>
    </label>
  </div>

  <a href="#" class="link-half lookbook__link hl-filter__btn">ПОДОБРАТЬ<img src="img/ico/filter-arr-right.svg" class="btn-arrow-cat" alt=""></a>

  <a href="#" class="hl-filter__clear">Очистить фильтр</a>

  <!--END ITEMS -->
</div>