<a class="to-top" href="#" id="toTop" uk-scroll>
  <div class="to-top__img">
    <img src="img/ico/arrow-top.svg" alt="">
    <span>Наверх</span>
  </div>
</a>

<footer class="footer">
  <div class="main-content">
    <div class="footer-top">
      <form action="" class="footer__form">
        <h6>Узнавайте о спецпредложениях и новостях первыми!</h6>
        <div class="input">
          <input type="text" name="" value="" id="email" placeholder="Введите Ваш E-Mail" required>
          <button type="button" name="button" uk-toggle="target: #thxEmail" id="btnEmail">
            <img src="img/main/arrow-rg.svg" class="btn-arrow-cat" alt="">
          </button>
        </div>
        <input type="checkbox" class="custom-checkbox" name="" id="check-personal" value="">
        <label for="check-personal" class="footer__label"><a href="#">Согласие на обработку персональных данных</a></label>
      </form>

      <a href="#" class="footer__logo"><img src="img/ico/footer-logo.svg" alt=""></a>
      <nav>
        <ul class="footer__nav">
          <li class="footer__item"><a href="about-company.html">О компании</a></li>
          <li class="footer__item"><a href="catalog.html">Каталог</a></li>
          <li class="footer__item"><a href="lookbook.html">LookBook</a></li>
          <li class="footer__item"><a href="cooperation.html">Сотрудничество</a></li>
          <li class="footer__item"><a href="magazine.html">Журнал</a></li>
          <li class="footer__item"><a href="service.html">Сервис</a></li>
          <li class="footer__item"><a href="buy.html">Где купить</a></li>
          <li class="footer__item"><a href="contacts.html">Контакты</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer-bottom">
      <div class="copy-desktop">
        Все права защищены © 2020
      </div>
      <div class="footer__socials socials">
        <a href="#" class="socials__item"><img src="img/ico/inst-col.svg" alt=""></a>
        <a href="#" class="socials__item"><img src="img/ico/fb-col.svg" alt=""></a>
        <a href="#" class="socials__item"><img src="img/ico/vk-col.svg" alt=""></a>
      </div>
      <div class="copy-mob">
        Все права защищены © 2020
      </div>
      <div>
        Сайт создан <a href="https://www.g-lab.ru/" class="glab-link">G-Lab Digital Group</a>
      </div>
    </div>
  </div>
</footer>

<!-- Modals -->
<div id="thxEmail" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical modal">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title uk-text-center">Благодарим за подписку!</h2>
  </div>
</div>


<div id="modal-call" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical p-call__body">
    <button class="uk-modal-close-outside hl-modal__close" type="button">
      <img src="img/main/ha-modal-plus.svg" alt="">
    </button>

    <div class="p-call__double">
      <div class="p-call__img">
        <img src="img/main/p-call.jpg" alt="">
      </div>

      <div class="p-call__right">
        <h2 class="uk-modal-title hl-modal__label">Мы свяжемся с Вами и ответим на
          все Ваши вопросы!</h2>
        <form action="">
          <div class="auth-form__text">
            <input type="text" class="hl-require" id="opt-name" placeholder="Ваше имя" name="name" required>
          </div>
          <div class="auth-form__text">
            <input type="text" class="hl-require" id="opt-name" placeholder="Ваш номер телефона" name="phone" required>
          </div>
          <div class="auth-form__text">
            <input type="text" class="hl-require" id="opt-name" placeholder="Ваш город" name="city" required>
          </div>
          <div class="p-call__pers">
            <input type="checkbox" class="custom-checkbox" name="" id="pers-data" value="">
            <label for="pers-data" class="footer__label remember__label reg__chechbox"><a href="#">Согласие на обработку персональных данных </a></label>
          </div>
          <a href="#" class="link-half lookbook__link order-btn-get p-call__btn">ПЕРЕЗВОНИТЕ МНЕ!<img src="img/ico/filter-arr-right.svg" class="btn-arrow-cat" alt=""></a>
        </form>
      </div>
    </div>
  </div>
</div>


<script src="https://unpkg.com/imask"></script>
<script src="js/anime.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/select.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/touch-punch.min.js"></script>
<script src="js/stars-rating.min.js"></script>
<script src="js/flow.min.js"></script>
<script src="js/script.min.js"></script>
</body>

</html>