<div class="lk-sidebar">
  <form action="">
    <input type="file" id="logo-load">
    <div class="lk-sidebar__logo">
      <img class="lk-sidebar__logo-img" src="img/ico/lk-logo.svg" alt="">
      <div class="lk-sidebar__redact uk-animation-fade">
      </div>
    </div>
  </form>

  <ul class="lk-menu">
    <li class="lk-menu__item lk-menu__active"><a href="#">Личный кабинет</a></li>
    <li class="lk-menu__item"><a href="#">История заказов</a></li>
    <li class="lk-menu__item"><a href="#">Список покупок</a></li>
    <li class="lk-menu__item"><a href="#modal-change-pass" uk-toggle>Смена пароля</a></li>
  </ul>
</div>

<!-- MODALS -->

<div id="modal-change-pass" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical hl-modal__body change-pass__body">
    <button class="uk-modal-close-outside hl-modal__close" type="button">
      <img src="img/main/ha-modal-plus.svg" alt="">
    </button>
    <h2 class="uk-modal-title hl-modal__label">Сменить пароль</h2>
    <form action="">
      <div class="auth-form__text">
        <input type="text" class="hl-require" id="opt-name" placeholder="Введите старый пароль" name="old-pass" required>
      </div>
      <div class="auth-form__text">
        <input type="text" class="hl-require" id="opt-name" placeholder="Введите новый пароль" name="new-pass" required>
      </div>
      <div class="auth-form__text">
        <input type="text" class="hl-require" id="opt-name" placeholder="Введите новый пароль повторно" name="repeat-pass" required>
      </div>
      <div class="order-bottom-nav change-pass__bottom-nav">
        <a href="#modal-return-pass" class="change-pass__link" uk-toggle>Забыли пароль?</a>
        <a href="#" class="link-half lookbook__link order-btn-get">СМЕНИТЬ ПАРОЛЬ<img src="img/ico/filter-arr-right.svg" class="btn-arrow-cat" alt=""></a>
      </div>
    </form>
  </div>
</div>
<div id="modal-return-pass" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical hl-modal__body change-pass__body-2">
    <button class="uk-modal-close-outside hl-modal__close" type="button">
      <img src="img/main/ha-modal-plus.svg" alt="">
    </button>
    <h2 class="uk-modal-title hl-modal__label">Напомнить пароль</h2>
    <form action="">
      <div class="auth-form__text">
        <input type="text" class="hl-require" id="opt-name" placeholder="Ваш E-mail" name="email" required>
      </div>
      <a href="#" class="link-half lookbook__link order-btn-get change-pass__logn-btn">ЗАПРОСИТЬ ССЫЛКУ ДЛЯ ВОССТАНОВЛЕНИЯ ПАРОЛЯ<img src="img/ico/filter-arr-right.svg" class="btn-arrow-cat" alt=""></a>
    </form>
  </div>
</div>