  @@include('_header.html')
  <main>
    <div class="main-content">
      <ul class="uk-breadcrumb breadcrumb">
        <li><a href="index.html">Главная</a></li>
        <li><span>О компании</span></li>
      </ul>
    </div>

    <div class="top-info minify-top-info" uk-scrollspy="cls: uk-animation-fade; target: div; delay: 100; repeat: false">
      <div class="top-info__wrap main-content">
        <div class="top-info__content about-page__content">
          <h2 class="top-title">О нас</h2>
          <p class="top-info__col">Мы хотим, чтобы каждый покупатель нашел у нас то, что ему нужно - от классических носков до ярких, веселых и необычных моделей; от варианта на
            каждый день до носков “выходного дня”. Продукция ТМ HOBBY LINE - это широчайший выбор чулочно-носочных изделий, в которых будет тепло и уютно в любую погоду, и которые всегда доступны на наших складах в требуемых объемах. Одевайтесь
            стильно и современно вместе с нами - будьте в тренде и выбирайте HOBBY LINE!
          </p>
          <a href="#" class="top-info__link btn-anim top-info__small-link">Наша история</a>
        </div>
        <div class="top-info__slider slider about-page__slider">
          <div class="top-info__slider-wrap">
            <div class="uk-position-relative uk-visible-toggle uk-light slider__container" tabindex="-1" uk-slider>

              <ul class="uk-slider-items uk-grid">
                <li class="uk-width-4-4">
                  <div class="uk-panel slider__item">
                    <img src="img/main/f1.jpg" alt="">
                  </div>
                </li>
                <li class="uk-width-4-4 slider__item">
                  <div class="uk-panel">
                    <img src="img/main/f1.jpg" alt="">
                  </div>
                </li>
                <li class="uk-width-4-4 slider__item">
                  <div class="uk-panel">
                    <img src="img/main/f1.jpg" alt="">
                  </div>
                </li>
                <li class="uk-width-4-4 slider__item">
                  <div class="uk-panel">
                    <img src="img/main/f1.jpg" alt="">
                  </div>
                </li>
                <li class="uk-width-4-4 slider__item">
                  <div class="uk-panel">
                    <img src="img/main/f1.jpg" alt="">
                  </div>
                </li>
              </ul>
              <div class="slider__wrap-arrows">
                <a class="slider__prev" href="#" uk-slider-item="previous"></a>
                <a class="slider__next" href="#" uk-slider-item="next"></a>
              </div>
            </div>
            <div class="slider__bg top-info__bg about-page__bg"></div>
          </div>
        </div>
        <h2 class="top-title-mob">О нас</h2>
      </div>
      <div class="top-info__heart-dots heart-dots"></div>
    </div>

    <section class="category main-content">
      <a href="production.html" class="category__item">
        <div class="category__img">
          <img src="img/main/nf.jpg" alt="">
        </div>
        <div class="category__link">
          Производство
          <img src="img/ico/arrow-right.svg" alt="">
        </div>
      </a>
      <a href="team.html" class="category__item">
        <div class="category__img">
          <img src="img/main/nf.jpg" alt="">
        </div>
        <div class="category__link category__green">
          Команда
          <img src="img/ico/arrow-right.svg" alt="">
        </div>
      </a>
      <a href="vacancies.html" class="category__item">
        <div class="category__img">
          <img src="img/main/nf.jpg" alt="">
        </div>
        <div class="category__link category__yellow">
          Вакансии
          <img src="img/ico/arrow-right.svg" alt="">
        </div>
      </a>
    </section>

  </main>
  @@include('_footer.html')