@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><a href="magazine.html">Журнал</a></li>
      <li><span>Статья</span></li>
    </ul>
  </div>
  <div class="top-info minify-top-info articlep__top-info" uk-scrollspy="cls: uk-animation-fade; target: div; delay: 100; repeat: false">
    <div class="top-info__wrap main-content articlep-top-info__wrap">
      <div class="top-info__content articlep__content-top">
        <div class="articlep__title-wrap">
          <h1 class="title articlep__title">Цветные носки</h1>
          <a href="#" class="articlep__subscribe">
          </a>
        </div>
        <p class="articlep__paragraph">
          На что мы обращаем внимание, когда видим человека впервые? Внешность, прическа, одежда. А что, если из-под строгих отглаженных брюк вдруг выглядывают розовые или желтые носки. Неожиданно? Смело? Оригинально? Каждый день вы собираете свой
          образ из элементов, которые в итоге отражают нашу индивидуальность. И мы можем смело заявить, что наши яркие разноцветные носки – это отличный способ завить о себе и выделиться среди окружающих с помощью всего одного предмета гардероба!
          Какие возможности открываются перед вами, когда вы в цветных носках «Хобби Лайн»? Вы можете носить их на работу со строгим дресс-кодом, чувствуя себя немного бунтарями. Вы будете в тренде, потому что такие изделия – это модно, молодежно и
          весело. Когда вы достаете из ящика пару ярких носков в полоску, цветочек, зигзаги, вы чувствуете как повышается настроение. Вы можете даже выразить привязанность к тому или иному месту, выбрав для себя носки с изображением Пекина или
          египетских пирамид в Каире.
        </p>
      </div>
      <div class="top-info__slider slider about-page__slider articlep__slider">
        <div class="articlep__top-banner">
          <div class="articlep__img">
            <img src="img/main/article-banner.jpg" alt="">
          </div>
          <div class="bg-left-bottom articlep__bg-top"></div>
        </div>
      </div>
    </div>
    <div class="top-info__heart-dots heart-dots"></div>
  </div>


  <section class="articlep main-content">
    <div class="articlep__content">
      <div class="articlep__double">
        <div class="articlep__content-img articlep-img1">
          <img src="img/main/ar1.jpg" alt="">
        </div>
        <p class="articlep__paragraph">
          Вы будете в тренде, потому что такие изделия – это модно, молодежно и весело. Когда вы достаете из ящика пару ярких носков в полоску, цветочек, зигзаги, вы чувствуете как повышается настроение. Вы можете даже выразить привязанность к тому
          или иному месту, выбрав для себя носки с изображением Пекина или египетских пирамид в Каире. Наш ассортимент гораздо больше, чем носочки с котиками, звездами или гамбургерами – хотя и такие позиции есть в нашем ассортименте. Будь то
          праздник или будничный день, носки задают тон и всегда оказываются к месту. Многие знают, что среди знаменитостей и даже высоких чинов немало любителей выгулять синие, зеленые, красные и любые другие цветные носки. Такими выходами регулярно
          радуют публику Владимир Познер, бессменный Гарри Поттер – Дэниел Рэдклифф или певица Рита. А какой восторг вызывают регулярные появления премьер-министра Канады Джастина Трюдо – на мировом экономическом форуме он поразил присутствующих
          голубыми носками с рисунком из желтых уточек!
        </p>
      </div>

      <div class="articlep__double">
        <p class="articlep__paragraph">
          Вы будете в тренде, потому что такие изделия – это модно, молодежно и весело. Когда вы достаете из ящика пару ярких носков в полоску, цветочек, зигзаги, вы чувствуете как повышается настроение. Вы можете даже выразить привязанность к тому
          или иному месту, выбрав для себя носки с изображением Пекина или египетских пирамид в Каире. Наш ассортимент гораздо больше, чем носочки с котиками, звездами или гамбургерами – хотя и такие позиции есть в нашем ассортименте. Яркие носки
          всегда будут пользоваться популярностью у потребителя. Это продукт, который найдет своего покупателя в вашем магазине, и все, что от вас требуется – это лишь выбрать понравившиеся артикулы (а это будет непросто, учитывая наш ассортимент и
          сделать заказ. Цветные носки – это яркий акцент на вашей витрине, который поможет вашим клиентам разбавить сухой и строгий образ или усилить повседневный. А это значит, что вы выбираете товар, пользующийся спросом и притягивающий взгляд
          всех, от мала до велика. Цветные носки – универсальный элемент одежды, который подойдет и под белые классические кеды, и под брутальные ботинки, и даже под офисный костюм со строгими лоферами. Не откладывайте покупку – переходите скорее в
          каталог и выбирайте свою пару или артикулы для оптового заказа, и отправляйте их в корзину. HOBBY LINE гарантирует – яркие носки принесут радость и вам, и окружающим!
        </p>
        <div class="articlep__content-img articlep-img2">
          <img src="img/main/ar2.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="lb-page__heart-right heart-dots"></div>
  </section>


</main>
@@include('_footer.html')