@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><span>Корзина</span></li>
    </ul>
  </div>
  <div class="main-content">
    <div class="basket-nav">
      <div class="basket-nav__count">В вашей корзине: 3 товара</div>
      <div class="basket-nav__right">
        <label class="ha-check__container basket__checkbox">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__text">Выбрать все</span>
          <span class="ha-check__mark"></span>
        </label>
        <a href="#" class="basket-nav__link">Удалить выбранное</a>
      </div>
    </div>

    <div class="basket-double">
      <!--Content start-->
      <div class="basket-content">

        <div class="basket-item">
          <label class="ha-check__container basket__checkbox">
            <input class="ha-check__input" type="checkbox">
            <span class="ha-check__mark"></span>
          </label>

          <div class="popup-info basket-item__info">
            <div class="popup-info__img basket-item__info_img">
              <img src="img/main/ct1.jpg" alt="">
            </div>
            <div class="popup-info__content">
              <div>
                <div class="popup-info__title basket-item__label">Носки женск.укороченные "Hobby Line
                  /12шт/х/б, "Амели"</div>

                <div class="popup-info__item">
                  <span class="popup-info__label">Цена за шт.:</span>
                  <span class="popup-info__curent">159 руб</span>
                </div>
                <div class="popup-info__item">
                  <span class="popup-info__label">Арт.:</span>
                  <span class="popup-info__curent">Нжс507-4</span>
                </div>
                <div class="popup-info__item">
                  <span class="popup-info__label">Цвет:</span>
                  <span class="popup-info__curent">Белый</span>
                </div>
                <div class="popup-info__item">
                  <span class="popup-info__label">Остаток на складе:</span>
                  <span class="popup-info__curent">46 шт.</span>
                </div>
              </div>

              <div class="basket-item__icobar">
                <div class="hl-circle-btn btn-click cat-izbr basket-item__btn">
                  <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                  <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
                </div>
                <div class="hl-circle-btn btn-click cat-izbr basket-item__btn">
                  <img class="hl-circle-img" src="img/main/basket-ico.svg" alt="">
                  <img class="hl-circle-img__active" src="img/main/basket-ico-active.svg" alt="">
                </div>
              </div>
            </div>
          </div>

          <!-- Выбрать размер начало -->
          <div class="basket-item__table">
            <div class="size-table">
              <table class="uk-table uk-table-divider size-table__container">
                <thead>
                  <tr>
                    <th class="size-table__th"></th>
                    <th class="size-table__th">23</th>
                    <th class="size-table__th size-table__th-disable">25</th>
                    <th class="size-table__th size-table__th-disable">27</th>
                    <th class="size-table__th">29</th>
                    <th class="size-table__th">36-40</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="size-table__label">Поштучно:</td>
                    <td class="size-table__td">
                      <div class="step">
                        <div class="step__plus"></div>
                        <input class="step__input" type="text" name="" value="0">
                        <div class="step__minus"></div>
                      </div>
                    </td>
                    <td class="size-table__td">
                    </td>
                    <td class="size-table__td"></td>
                    <td class="size-table__td">
                      <div class="step">
                        <div class="step__plus"></div>
                        <input class="step__input" type="text" name="" value="0">
                        <div class="step__minus"></div>
                      </div>
                    </td>
                    <td class="size-table__td">
                      <div class="step">
                        <div class="step__plus"></div>
                        <input class="step__input" type="text" name="" value="0">
                        <div class="step__minus"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="size-table__label">Упаковка:</td>
                    <td class="size-table__td">
                      <div class="step">
                        <div class="step__plus half-step"></div>
                        <input class="step__input" type="text" name="" value="0.5">
                        <div class="step__minus half-step"></div>
                      </div>
                    </td>
                    <td class="size-table__td">
                    </td>
                    <td class="size-table__td"></td>
                    <td class="size-table__td">
                      <div class="step">
                        <div class="step__plus"></div>
                        <input class="step__input" type="text" name="" value="0">
                        <div class="step__minus"></div>
                      </div>
                    </td>
                    <td class="size-table__td">
                      <div class="step">
                        <div class="step__plus"></div>
                        <input class="step__input" type="text" name="" value="0">
                        <div class="step__minus"></div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="basket-item__price">Стоимость: 4490 руб.</div>
          </div>
          <!-- Выбрать размер конец -->
        </div>
        <div class="basket-item">
          <label class="ha-check__container basket__checkbox">
            <input class="ha-check__input" type="checkbox">
            <span class="ha-check__mark"></span>
          </label>

          <div class="popup-info basket-item__info">
            <div class="popup-info__img basket-item__info_img">
              <img src="img/main/ct1.jpg" alt="">
            </div>
            <div class="popup-info__content">
              <div>
                <div class="popup-info__title basket-item__label">Носки женск.укороченные "Hobby Line
                  /12шт/х/б, "Амели"</div>

                <div class="popup-info__item">
                  <span class="popup-info__label">Цена за шт.:</span>
                  <span class="popup-info__curent">159 руб</span>
                </div>
                <div class="popup-info__item">
                  <span class="popup-info__label">Арт.:</span>
                  <span class="popup-info__curent">Нжс507-4</span>
                </div>
                <div class="popup-info__item">
                  <span class="popup-info__label">Цвет:</span>
                  <span class="popup-info__curent">Белый</span>
                </div>
                <div class="popup-info__item">
                  <span class="popup-info__label">Остаток на складе:</span>
                  <span class="popup-info__curent">46 шт.</span>
                </div>
              </div>

              <div class="basket-item__icobar">
                <div class="hl-circle-btn btn-click cat-izbr basket-item__btn">
                  <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                  <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
                </div>
                <div class="hl-circle-btn btn-click cat-izbr basket-item__btn">
                  <img class="hl-circle-img" src="img/main/basket-ico.svg" alt="">
                  <img class="hl-circle-img__active" src="img/main/basket-ico-active.svg" alt="">
                </div>
              </div>
            </div>
          </div>

          <!-- Выбрать размер начало -->
          <div class="basket-item__table">
            <div class="size-table">
              <table class="uk-table uk-table-divider size-table__container">
                <thead>
                  <tr>
                    <th class="size-table__th"></th>
                    <th class="size-table__th">23</th>
                    <th class="size-table__th size-table__th-disable">25</th>
                    <th class="size-table__th size-table__th-disable">27</th>
                    <th class="size-table__th">29</th>
                    <th class="size-table__th">36-40</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="size-table__label">Поштучно:</td>
                    <td class="size-table__td">
                      <div class="step">
                        <div class="step__plus"></div>
                        <input class="step__input" type="text" name="" value="0">
                        <div class="step__minus"></div>
                      </div>
                    </td>
                    <td class="size-table__td">
                    </td>
                    <td class="size-table__td"></td>
                    <td class="size-table__td">
                      <div class="step">
                        <div class="step__plus"></div>
                        <input class="step__input" type="text" name="" value="0">
                        <div class="step__minus"></div>
                      </div>
                    </td>
                    <td class="size-table__td">
                      <div class="step">
                        <div class="step__plus"></div>
                        <input class="step__input" type="text" name="" value="0">
                        <div class="step__minus"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="size-table__label">Упаковка:</td>
                    <td class="size-table__td">
                      <div class="step">
                        <div class="step__plus half-step"></div>
                        <input class="step__input" type="text" name="" value="0.5">
                        <div class="step__minus half-step"></div>
                      </div>
                    </td>
                    <td class="size-table__td">
                    </td>
                    <td class="size-table__td"></td>
                    <td class="size-table__td">
                      <div class="step">
                        <div class="step__plus"></div>
                        <input class="step__input" type="text" name="" value="0">
                        <div class="step__minus"></div>
                      </div>
                    </td>
                    <td class="size-table__td">
                      <div class="step">
                        <div class="step__plus"></div>
                        <input class="step__input" type="text" name="" value="0">
                        <div class="step__minus"></div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="basket-item__price">Стоимость: 4490 руб.</div>
          </div>
          <!-- Выбрать размер конец -->
        </div>
        <div class="basket-item">
          <label class="ha-check__container basket__checkbox">
            <input class="ha-check__input" type="checkbox">
            <span class="ha-check__mark"></span>
          </label>

          <div class="popup-info basket-item__info">
            <div class="popup-info__img basket-item__info_img">
              <img src="img/main/ct1.jpg" alt="">
            </div>
            <div class="popup-info__content">
              <div>
                <div class="popup-info__title basket-item__label">Носки женск.укороченные "Hobby Line
                  /12шт/х/б, "Амели"</div>

                <div class="popup-info__item">
                  <span class="popup-info__label">Цена за шт.:</span>
                  <span class="popup-info__curent">159 руб</span>
                </div>
                <div class="popup-info__item">
                  <span class="popup-info__label">Арт.:</span>
                  <span class="popup-info__curent">Нжс507-4</span>
                </div>
                <div class="popup-info__item">
                  <span class="popup-info__label">Цвет:</span>
                  <span class="popup-info__curent">Белый</span>
                </div>
                <div class="popup-info__item">
                  <span class="popup-info__label">Остаток на складе:</span>
                  <span class="popup-info__curent">46 шт.</span>
                </div>
              </div>

              <div class="basket-item__icobar">
                <div class="hl-circle-btn btn-click cat-izbr basket-item__btn">
                  <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                  <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
                </div>
                <div class="hl-circle-btn btn-click cat-izbr basket-item__btn">
                  <img class="hl-circle-img" src="img/main/basket-ico.svg" alt="">
                  <img class="hl-circle-img__active" src="img/main/basket-ico-active.svg" alt="">
                </div>
              </div>
            </div>
          </div>

          <!-- Выбрать размер начало -->
          <div class="basket-item__table">
            <div class="size-table">
              <table class="uk-table uk-table-divider size-table__container">
                <thead>
                  <tr>
                    <th class="size-table__th"></th>
                    <th class="size-table__th">23</th>
                    <th class="size-table__th size-table__th-disable">25</th>
                    <th class="size-table__th size-table__th-disable">27</th>
                    <th class="size-table__th">29</th>
                    <th class="size-table__th">36-40</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="size-table__label">Поштучно:</td>
                    <td class="size-table__td">
                      <div class="step">
                        <div class="step__plus"></div>
                        <input class="step__input" type="text" name="" value="0">
                        <div class="step__minus"></div>
                      </div>
                    </td>
                    <td class="size-table__td">
                    </td>
                    <td class="size-table__td"></td>
                    <td class="size-table__td">
                      <div class="step">
                        <div class="step__plus"></div>
                        <input class="step__input" type="text" name="" value="0">
                        <div class="step__minus"></div>
                      </div>
                    </td>
                    <td class="size-table__td">
                      <div class="step">
                        <div class="step__plus"></div>
                        <input class="step__input" type="text" name="" value="0">
                        <div class="step__minus"></div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="size-table__label">Упаковка:</td>
                    <td class="size-table__td">
                      <div class="step">
                        <div class="step__plus half-step"></div>
                        <input class="step__input" type="text" name="" value="0.5">
                        <div class="step__minus half-step"></div>
                      </div>
                    </td>
                    <td class="size-table__td">
                    </td>
                    <td class="size-table__td"></td>
                    <td class="size-table__td">
                      <div class="step">
                        <div class="step__plus"></div>
                        <input class="step__input" type="text" name="" value="0">
                        <div class="step__minus"></div>
                      </div>
                    </td>
                    <td class="size-table__td">
                      <div class="step">
                        <div class="step__plus"></div>
                        <input class="step__input" type="text" name="" value="0">
                        <div class="step__minus"></div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="basket-item__price">Стоимость: 4490 руб.</div>
          </div>
          <!-- Выбрать размер конец -->
        </div>

      </div>
      <!--Content end-->
      <div class="basket-info">
        <h4 class="basket-info__label">Итого к оплате:</h4>
        <div class="basket-info__line">
          <span class="basket-info__line-name">Сумма покупки:</span>
          <span class="basket-info__line-cur">13 210 руб.</span>
        </div>
        <div class="basket-info__line">
          <span class="basket-info__line-name">Скидка:</span>
          <span class="basket-info__line-cur">210 руб.</span>
        </div>

        <div class="basket-divider"></div>

        <div class="basket-info__line">
          <span class="basket-info__line-name">Общая стоимость:</span>
          <span class="basket-info__line-cur">13 000 руб.</span>
        </div>

        <div class="basket-info__auth">
          Чтобы оформить заказ,
          необходимо
          <a href="#" class="pink-link">авторизоваться</a>
        </div>

        <div class="basket-info__auth">
          <a href="#" class="link-half lookbook__link basket-info__btn">ОФОРМИТЬ ЗАКАЗ<img src="img/ico/filter-arr-right.svg" class="btn-arrow-cat" alt=""></a>
        </div>
      </div>
    </div>


    <!--Content start-->
    <h3 class="basket-havent-label">К сожалению, эти товары закончились на складе:</h3>
    <div class="basket-content">

      <div class="basket-item">
        <label class="ha-check__container basket__checkbox">
          <input class="ha-check__input" type="checkbox">
          <span class="ha-check__mark"></span>
        </label>

        <div class="popup-info basket-item__info">
          <div class="popup-info__img basket-item__info_img">
            <img src="img/main/ct1.jpg" alt="">
          </div>
          <div class="popup-info__content">
            <div>
              <div class="popup-info__title basket-item__label">Носки женск.укороченные "Hobby Line
                /12шт/х/б, "Амели"</div>

              <div class="popup-info__item">
                <span class="popup-info__label">Цена за шт.:</span>
                <span class="popup-info__curent">159 руб</span>
              </div>
              <div class="popup-info__item">
                <span class="popup-info__label">Арт.:</span>
                <span class="popup-info__curent">Нжс507-4</span>
              </div>
              <div class="popup-info__item">
                <span class="popup-info__label">Цвет:</span>
                <span class="popup-info__curent">Белый</span>
              </div>
              <div class="popup-info__item">
                <span class="popup-info__label">Остаток на складе:</span>
                <span class="popup-info__curent">46 шт.</span>
              </div>
            </div>

            <div class="basket-item__icobar uk-flex-between">
              <div class="uk-flex">
                <div class="hl-circle-btn btn-click cat-izbr basket-item__btn">
                  <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                  <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
                </div>
                <div class="hl-circle-btn btn-click cat-izbr basket-item__btn">
                  <img class="hl-circle-img" src="img/main/basket-ico.svg" alt="">
                  <img class="hl-circle-img__active" src="img/main/basket-ico-active.svg" alt="">
                </div>
              </div>
              <a href="#" class="pink-link">Уведомить о поступлении</a>
            </div>
          </div>
        </div>

        <!-- Выбрать размер начало -->
        <div class="basket-item__table">
          <div class="size-table">
            <table class="uk-table uk-table-divider size-table__container">
              <thead>
                <tr>
                  <th class="size-table__th"></th>
                  <th class="size-table__th">23</th>
                  <th class="size-table__th size-table__th-disable">25</th>
                  <th class="size-table__th size-table__th-disable">27</th>
                  <th class="size-table__th">29</th>
                  <th class="size-table__th">36-40</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="size-table__label">Поштучно:</td>
                  <td class="size-table__td">
                    <div class="step">
                      <div class="step__plus"></div>
                      <input class="step__input" type="text" name="" value="0">
                      <div class="step__minus"></div>
                    </div>
                  </td>
                  <td class="size-table__td">
                  </td>
                  <td class="size-table__td"></td>
                  <td class="size-table__td">
                    <div class="step">
                      <div class="step__plus"></div>
                      <input class="step__input" type="text" name="" value="0">
                      <div class="step__minus"></div>
                    </div>
                  </td>
                  <td class="size-table__td">
                    <div class="step">
                      <div class="step__plus"></div>
                      <input class="step__input" type="text" name="" value="0">
                      <div class="step__minus"></div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="size-table__label">Упаковка:</td>
                  <td class="size-table__td">
                    <div class="step">
                      <div class="step__plus half-step"></div>
                      <input class="step__input" type="text" name="" value="0.5">
                      <div class="step__minus half-step"></div>
                    </div>
                  </td>
                  <td class="size-table__td">
                  </td>
                  <td class="size-table__td"></td>
                  <td class="size-table__td">
                    <div class="step">
                      <div class="step__plus"></div>
                      <input class="step__input" type="text" name="" value="0">
                      <div class="step__minus"></div>
                    </div>
                  </td>
                  <td class="size-table__td">
                    <div class="step">
                      <div class="step__plus"></div>
                      <input class="step__input" type="text" name="" value="0">
                      <div class="step__minus"></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Выбрать размер конец -->
      </div>

    </div>
    <!--Content end-->

  </div>

</main>
@@include('_footer.html')