@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><span>Личный кабинет</span></li>
    </ul>
  </div>
  <section class="main-content">
    <div class="lk lk-history-wrap">
      @@include('_lk-sidebar.html')
      <div class="lk-content">
        <div class="lk-sw-content__item lk-sw-content__active uk-animation-slide-left-medium">
          <div class="lk-date lk-buy-list">
            <div class="lk-date__content lk-buy-list__content">
              <div class="lk-date__item">
                <div class="lk-date__left-side">
                  <div class="lk-date__img">
                    <img src="img/main/we1.svg" alt="">
                  </div>
                  <div class="lk-date__title-wrap">
                    <div class="lk-date__title">
                      Носки ******** ******
                    </div>
                    <div class="lk-date__art">
                      Арт. 264362
                    </div>
                  </div>
                </div>

                <div class="lk-date__right-side">
                  <div class="lk-date__info lk-date__count">
                    800 шт.
                  </div>
                  <div class="lk-date__info lk-date__basket">
                    <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                  </div>
                </div>
              </div>
              <div class="lk-date__item">
                <div class="lk-date__left-side">
                  <div class="lk-date__img">
                    <img src="img/main/we1.svg" alt="">
                  </div>
                  <div class="lk-date__title-wrap">
                    <div class="lk-date__title">
                      Носки ******** ******
                    </div>
                    <div class="lk-date__art">
                      Арт. 264362
                    </div>
                  </div>
                </div>

                <div class="lk-date__right-side">
                  <div class="lk-date__info lk-date__count">
                    800 шт.
                  </div>
                  <div class="lk-date__info lk-date__basket">
                    <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                  </div>
                </div>
              </div>
              <div class="lk-date__item">
                <div class="lk-date__left-side">
                  <div class="lk-date__img">
                    <img src="img/main/we1.svg" alt="">
                  </div>
                  <div class="lk-date__title-wrap">
                    <div class="lk-date__title">
                      Носки ******** ******
                    </div>
                    <div class="lk-date__art">
                      Арт. 264362
                    </div>
                  </div>
                </div>

                <div class="lk-date__right-side">
                  <div class="lk-date__info lk-date__count">
                    800 шт.
                  </div>
                  <div class="lk-date__info lk-date__basket">
                    <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>

</main>
@@include('_footer.html')