@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><span>Купить</span></li>
    </ul>
  </div>
  <section class="" uk-scrollspy="cls: uk-animation-fade; target: div; delay: 0; repeat: false">
    <div class="top-full-size">
      <div class="top-info__wrap main-content">
        <div class="buy-top__content">
          <h2 class="top-title uk-margin-small-bottom not-hide-mob uk-margin-medium-top">Где купить</h2>
          <p class="top-info__col">Нашу продукцию можно купить в Хабаровске напрямую или через наших дистрибьюторов по всей России.... Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в
            буквенных домах на берегу Семантика большого языкового океана.
          </p>
        </div>
      </div>
      <div class="top-info__heart-dots heart-dots"></div>
    </div>
  </section>

  <div class="select main-content">
    <form class="uk-form-horizontal">
      <fieldset class="uk-fieldset">
        <div class="uk-margin uk-flex uk-flex-middle select-mob-next-line">
          <label class="uk-form-label select__label uk-margin-remove" for="form-horizontal-select">Выберите город:</label>
          <div class="uk-form-controls select__item-wrap">
            <select class="uk-select select__item" id="form-horizontal-select">
              <option value="m1">Санкт-Петербург</option>
              <option value="m2">Москва</option>
              <option value="m3">Владивосток</option>
              <option value="m4">Хабаровск</option>
            </select>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="select-container selected-city selected-active" id="m1">
    <div class="top-info select-top-info minify-top-info production__bottom-info">
      <div class="top-info__wrap main-content">
        <div class="top-info__content map-info">
          <div class="map-contacts">
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/loc.svg" alt="">
              </div>
              <span class="map-contacts__text">"Кошкин дом" г. Санкт-Петербург, Энгельса пр-кт., д. 154, ТРК "Гранд-Каньон", 4 этаж
              </span>
            </div>
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/phone-map.svg" alt="">
              </div>
              <a href="tel:+78125104540" class="map-contacts__text">+7 (812) 510-45-40
              </a>
            </div>
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/mail-map.svg" alt="">
              </div>
              <a href="mailto:info@cathouse.ru" class="map-contacts__text">info@cathouse.ru
              </a>
            </div>
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/clock-map.svg" alt="">
              </div>
              <span class="map-contacts__text">Ежедневно с 10 до 22 без перерывов
              </span>
            </div>
          </div>

          <div class="map__tower">
            <div class="map__tower-item">
              <img src="img/main/tower.svg" alt="">
            </div>
            <div class="map__tower-item">
              <img src="img/main/tower.svg" alt="">
            </div>
          </div>
        </div>
        <div class="top-info__slider slider map">
          <div class="map-rel">
            <div class="map__wrap">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1991.3494660929093!2d30.33256955890285!3d60.059009581231436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zItCa0L7RiNC60LjQvSDQtNC-0LwiINCzLiDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0K3QvdCz0LXQu9GM0YHQsCDQv9GALdC60YIuLCDQtC4gMTU0LCDQotCg0JogItCT0YDQsNC90LQt0JrQsNC90YzQvtC9IiwgNCDRjdGC0LDQtg!5e0!3m2!1sru!2sru!4v1600865864233!5m2!1sru!2sru"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="map__wrap-bg"></div>
          </div>
        </div>
        <div class="top-info__heart-dots heart-dots production__bg-bottom"></div>
      </div>
    </div>

    <div class="top-info select-top-info minify-top-info production__bottom-info">
      <div class="top-info__wrap main-content">
        <div class="top-info__content map-info">
          <div class="map-contacts">
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/loc.svg" alt="">
              </div>
              <span class="map-contacts__text">"Кошкин дом" г. Санкт-Петербург, Энгельса пр-кт., д. 154, ТРК "Гранд-Каньон", 4 этаж
              </span>
            </div>
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/phone-map.svg" alt="">
              </div>
              <a href="tel:+78125104540" class="map-contacts__text">+7 (812) 510-45-40
              </a>
            </div>
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/mail-map.svg" alt="">
              </div>
              <a href="mailto:info@cathouse.ru" class="map-contacts__text">info@cathouse.ru
              </a>
            </div>
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/clock-map.svg" alt="">
              </div>
              <span class="map-contacts__text">Ежедневно с 10 до 22 без перерывов
              </span>
            </div>
          </div>

          <div class="map__tower">
            <div class="map__tower-item">
              <img src="img/main/tower.svg" alt="">
            </div>
            <div class="map__tower-item">
              <img src="img/main/tower.svg" alt="">
            </div>
          </div>
        </div>
        <div class="top-info__slider slider map">
          <div class="map-rel">
            <div class="map__wrap">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1991.3494660929093!2d30.33256955890285!3d60.059009581231436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zItCa0L7RiNC60LjQvSDQtNC-0LwiINCzLiDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0K3QvdCz0LXQu9GM0YHQsCDQv9GALdC60YIuLCDQtC4gMTU0LCDQotCg0JogItCT0YDQsNC90LQt0JrQsNC90YzQvtC9IiwgNCDRjdGC0LDQtg!5e0!3m2!1sru!2sru!4v1600865864233!5m2!1sru!2sru"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="map__wrap-bg"></div>
          </div>
        </div>
        <div class="top-info__heart-dots heart-dots production__bg-bottom"></div>
      </div>
    </div>

    <div class="top-info select-top-info minify-top-info production__bottom-info">
      <div class="top-info__wrap main-content">
        <div class="top-info__content map-info">
          <div class="map-contacts">
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/loc.svg" alt="">
              </div>
              <span class="map-contacts__text">"Кошкин дом" г. Санкт-Петербург, Энгельса пр-кт., д. 154, ТРК "Гранд-Каньон", 4 этаж
              </span>
            </div>
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/phone-map.svg" alt="">
              </div>
              <a href="tel:+78125104540" class="map-contacts__text">+7 (812) 510-45-40
              </a>
            </div>
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/mail-map.svg" alt="">
              </div>
              <a href="mailto:info@cathouse.ru" class="map-contacts__text">info@cathouse.ru
              </a>
            </div>
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/clock-map.svg" alt="">
              </div>
              <span class="map-contacts__text">Ежедневно с 10 до 22 без перерывов
              </span>
            </div>
          </div>

          <div class="map__tower">
            <div class="map__tower-item">
              <img src="img/main/tower.svg" alt="">
            </div>
            <div class="map__tower-item">
              <img src="img/main/tower.svg" alt="">
            </div>
          </div>
        </div>
        <div class="top-info__slider slider map">
          <div class="map-rel">
            <div class="map__wrap">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1991.3494660929093!2d30.33256955890285!3d60.059009581231436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zItCa0L7RiNC60LjQvSDQtNC-0LwiINCzLiDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0K3QvdCz0LXQu9GM0YHQsCDQv9GALdC60YIuLCDQtC4gMTU0LCDQotCg0JogItCT0YDQsNC90LQt0JrQsNC90YzQvtC9IiwgNCDRjdGC0LDQtg!5e0!3m2!1sru!2sru!4v1600865864233!5m2!1sru!2sru"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="map__wrap-bg"></div>
          </div>
        </div>
        <div class="top-info__heart-dots heart-dots production__bg-bottom"></div>
      </div>
    </div>
  </div>

  <div class="select-container selected-city" id="m2">
    <div class="top-info select-top-info minify-top-info production__bottom-info">
      <div class="top-info__wrap main-content">
        <div class="top-info__content map-info">
          <div class="map-contacts">
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/loc.svg" alt="">
              </div>
              <span class="map-contacts__text">"Кошкин дом" г. Москва, Энгельса пр-кт., д. 154, ТРК "Гранд-Каньон", 4 этаж
              </span>
            </div>
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/phone-map.svg" alt="">
              </div>
              <a href="tel:+78125104540" class="map-contacts__text">+7 (812) 510-45-40
              </a>
            </div>
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/mail-map.svg" alt="">
              </div>
              <a href="mailto:info@cathouse.ru" class="map-contacts__text">info@cathouse.ru
              </a>
            </div>
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/clock-map.svg" alt="">
              </div>
              <span class="map-contacts__text">Ежедневно с 10 до 22 без перерывов
              </span>
            </div>
          </div>

          <div class="map__tower">
            <div class="map__tower-item">
              <img src="img/main/tower.svg" alt="">
            </div>
            <div class="map__tower-item">
              <img src="img/main/tower.svg" alt="">
            </div>
          </div>
        </div>
        <div class="top-info__slider slider map">
          <div class="map-rel">
            <div class="map__wrap">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1991.3494660929093!2d30.33256955890285!3d60.059009581231436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zItCa0L7RiNC60LjQvSDQtNC-0LwiINCzLiDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0K3QvdCz0LXQu9GM0YHQsCDQv9GALdC60YIuLCDQtC4gMTU0LCDQotCg0JogItCT0YDQsNC90LQt0JrQsNC90YzQvtC9IiwgNCDRjdGC0LDQtg!5e0!3m2!1sru!2sru!4v1600865864233!5m2!1sru!2sru"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="map__wrap-bg"></div>
          </div>
        </div>
        <div class="top-info__heart-dots heart-dots production__bg-bottom"></div>
      </div>
    </div>
  </div>
  <div class="select-container selected-city" id="m3">
    <div class="top-info select-top-info minify-top-info production__bottom-info">
      <div class="top-info__wrap main-content">
        <div class="top-info__content map-info">
          <div class="map-contacts">
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/loc.svg" alt="">
              </div>
              <span class="map-contacts__text">"Кошкин дом" г. Владивосток, Энгельса пр-кт., д. 154, ТРК "Гранд-Каньон", 4 этаж
              </span>
            </div>
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/phone-map.svg" alt="">
              </div>
              <a href="tel:+78125104540" class="map-contacts__text">+7 (812) 510-45-40
              </a>
            </div>
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/mail-map.svg" alt="">
              </div>
              <a href="mailto:info@cathouse.ru" class="map-contacts__text">info@cathouse.ru
              </a>
            </div>
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/clock-map.svg" alt="">
              </div>
              <span class="map-contacts__text">Ежедневно с 10 до 22 без перерывов
              </span>
            </div>
          </div>

          <div class="map__tower">
            <div class="map__tower-item">
              <img src="img/main/tower.svg" alt="">
            </div>
            <div class="map__tower-item">
              <img src="img/main/tower.svg" alt="">
            </div>
          </div>
        </div>
        <div class="top-info__slider slider map">
          <div class="map-rel">
            <div class="map__wrap">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1991.3494660929093!2d30.33256955890285!3d60.059009581231436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zItCa0L7RiNC60LjQvSDQtNC-0LwiINCzLiDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0K3QvdCz0LXQu9GM0YHQsCDQv9GALdC60YIuLCDQtC4gMTU0LCDQotCg0JogItCT0YDQsNC90LQt0JrQsNC90YzQvtC9IiwgNCDRjdGC0LDQtg!5e0!3m2!1sru!2sru!4v1600865864233!5m2!1sru!2sru"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="map__wrap-bg"></div>
          </div>
        </div>
        <div class="top-info__heart-dots heart-dots production__bg-bottom"></div>
      </div>
    </div>
  </div>
  <div class="select-container selected-city" id="m4">
    <div class="top-info select-top-info minify-top-info production__bottom-info">
      <div class="top-info__wrap main-content">
        <div class="top-info__content map-info">
          <div class="map-contacts">
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/loc.svg" alt="">
              </div>
              <span class="map-contacts__text">"Кошкин дом" г. Хабаровск, Энгельса пр-кт., д. 154, ТРК "Гранд-Каньон", 4 этаж
              </span>
            </div>
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/phone-map.svg" alt="">
              </div>
              <a href="tel:+78125104540" class="map-contacts__text">+7 (812) 510-45-40
              </a>
            </div>
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/mail-map.svg" alt="">
              </div>
              <a href="mailto:info@cathouse.ru" class="map-contacts__text">info@cathouse.ru
              </a>
            </div>
            <div class="map-contacts__item">
              <div class="map-contacts__ico-wrap">
                <img class="map-contacts__img" src="img/ico/clock-map.svg" alt="">
              </div>
              <span class="map-contacts__text">Ежедневно с 10 до 22 без перерывов
              </span>
            </div>
          </div>

          <div class="map__tower">
            <div class="map__tower-item">
              <img src="img/main/tower.svg" alt="">
            </div>
            <div class="map__tower-item">
              <img src="img/main/tower.svg" alt="">
            </div>
          </div>
        </div>
        <div class="top-info__slider slider map">
          <div class="map-rel">
            <div class="map__wrap">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1991.3494660929093!2d30.33256955890285!3d60.059009581231436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zItCa0L7RiNC60LjQvSDQtNC-0LwiINCzLiDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0K3QvdCz0LXQu9GM0YHQsCDQv9GALdC60YIuLCDQtC4gMTU0LCDQotCg0JogItCT0YDQsNC90LQt0JrQsNC90YzQvtC9IiwgNCDRjdGC0LDQtg!5e0!3m2!1sru!2sru!4v1600865864233!5m2!1sru!2sru"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="map__wrap-bg"></div>
          </div>
        </div>
        <div class="top-info__heart-dots heart-dots production__bg-bottom"></div>
      </div>
    </div>
  </div>


</main>
@@include('_footer.html')