@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><span>Карточка товара</span></li>
    </ul>
  </div>

  <div class="main-content">
    <div class="hl-card-top">
      <h1 class="hl-card-top__label">
        Носки женск.укороченные "Hobby Line"/12шт/ х/б, "Амели"
      </h1>
      <div class="hl-card-top__ico-bar">
        <div class="hl-circle-btn">
          <img class="hl-circle-img" src="img/main/share-card.svg" alt=""><img class="hl-circle-img__active" src="img/main/share-card-active.svg" alt=""></div>
        <div class="hl-circle-btn btn-click">
          <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
          <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
        </div>
        <div class="rating-wrap">
          <div class="my-rating-6"></div>
          <div class="rating-count"></div>
        </div>

      </div>
    </div>

    <div class="hl-card-articul">Арт. Нжс507-4</div>

    <div class="hl-card">
      <div class="hl-card__left">
        <div class="slider-vertical__prev-card slider-vertical__mob-arr"></div>
        <div class="slider-vertical">
          <div class="nav-slick hl-card__nav-slick">
            <div class="slider-vertical__prev-card"></div>
            <div class="slider-vertical-nav-card">
              <div><img src="img/main/card1.jpg" alt=""></div>
              <div><img src="img/main/card1.jpg" alt=""></div>
              <div><img src="img/main/card1.jpg" alt=""></div>
              <div><img src="img/main/card1.jpg" alt=""></div>
              <div><img src="img/main/card1.jpg" alt=""></div>
            </div>
            <div class="slider-vertical__next-card"></div>
          </div>
          <div class="slider-vertical-wrap-card">
            <div class="slider-vertical__slide">
              <div class="slider-vertical__item-card"><img src="img/main/card1.jpg" alt=""></div>
            </div>
            <div class="slider-vertical__slide">
              <div class="slider-vertical__item-card"><img src="img/main/card1.jpg" alt=""></div>
            </div>
            <div class="slider-vertical__slide">
              <div class="slider-vertical__item-card"><img src="img/main/card1.jpg" alt=""></div>
            </div>
            <div class="slider-vertical__slide">
              <div class="slider-vertical__item-card"><img src="img/main/card1.jpg" alt=""></div>
            </div>
            <div class="slider-vertical__slide">
              <div class="slider-vertical__item-card"><img src="img/main/card1.jpg" alt=""></div>
            </div>
          </div>
        </div>
        <div class="slider-vertical__next-card slider-vertical__mob-arr"></div>
      </div>

      <div class="hl-card__right">

        <div class="hl-card__price-wrap">
          <div class="hl-card__price-content">
            <div class="hl-card__price">159 руб.</div>
            <div class="hl-card__price-through">350 руб.</div>
          </div>
          <div class="hl-card__please-auth">
            <a href="#">авторизуйтесь</a>, чтобы узнать оптовые цены
          </div>
        </div>

        <div class="hl-card__label">Выбрать цвет:</div>

        <div class="color-slider uk-position-relative" uk-slider="">

          <div class="uk-visible-toggle uk-light uk-slider-container" tabindex="-1">

            <ul class="uk-slider-items uk-grid color-slider__ul">
              <li class="color-slider__li">
                <a href="#" class="color-slider__item">
                  <div class="color-slider__color">
                    <img src="img/main/card1.jpg" alt="">
                  </div>
                  <div class="color-slider__label">Красный</div>
                </a>
              </li>
              <li class="color-slider__li">
                <a href="#" class="color-slider__item">
                  <div class="color-slider__color">
                    <img src="img/main/card1.jpg" alt="">
                  </div>
                  <div class="color-slider__label">Синий</div>
                </a>
              </li>
              <li class="color-slider__li">
                <a href="#" class="color-slider__item">
                  <div class="color-slider__color">
                    <img src="img/main/card1.jpg" alt="">
                  </div>
                  <div class="color-slider__label">Зеленый</div>
                </a>
              </li>
              <li class="color-slider__li">
                <a href="#" class="color-slider__item">
                  <div class="color-slider__color">
                    <img src="img/main/card1.jpg" alt="">
                  </div>
                  <div class="color-slider__label">Белый</div>
                </a>
              </li>
              <li class="color-slider__li">
                <a href="#" class="color-slider__item">
                  <div class="color-slider__color">
                    <img src="img/main/card1.jpg" alt="">
                  </div>
                  <div class="color-slider__label">Черный</div>
                </a>
              </li>
              <li class="color-slider__li">
                <a href="#" class="color-slider__item">
                  <div class="color-slider__color">
                    <img src="img/main/card1.jpg" alt="">
                  </div>
                  <div class="color-slider__label">Зеленый</div>
                </a>
              </li>
              <li class="color-slider__li">
                <a href="#" class="color-slider__item">
                  <div class="color-slider__color">
                    <img src="img/main/card1.jpg" alt="">
                  </div>
                  <div class="color-slider__label">Белый</div>
                </a>
              </li>
              <li class="color-slider__li">
                <a href="#" class="color-slider__item">
                  <div class="color-slider__color">
                    <img src="img/main/card1.jpg" alt="">
                  </div>
                  <div class="color-slider__label">Черный</div>
                </a>
              </li>
            </ul>
          </div>
          <a class="uk-position-center-left-out uk-position-small color-slider__arr-left" href="#" uk-slider-item="previous"></a>
          <a class="uk-position-center-right-out uk-position-small color-slider__arr-right" href="#" uk-slider-item="next"></a>
        </div>
        <!-- Выбрать размер начало -->
        <div class="size-table">
          <div class="hl-card__label">Выбрать размер:</div>
          <table class="uk-table uk-table-divider size-table__container">
            <thead>
              <tr>
                <th class="size-table__th"></th>
                <th class="size-table__th">23</th>
                <th class="size-table__th size-table__th-disable">25</th>
                <th class="size-table__th size-table__th-disable">27</th>
                <th class="size-table__th">29</th>
                <th class="size-table__th">36-40</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="size-table__label">Поштучно:</td>
                <td class="size-table__td">
                  <div class="step">
                    <div class="step__plus"></div>
                    <input class="step__input" type="text" name="" value="0">
                    <div class="step__minus"></div>
                  </div>
                </td>
                <td class="size-table__td">
                </td>
                <td class="size-table__td"></td>
                <td class="size-table__td">
                  <div class="step">
                    <div class="step__plus"></div>
                    <input class="step__input" type="text" name="" value="0">
                    <div class="step__minus"></div>
                  </div>
                </td>
                <td class="size-table__td">
                  <div class="step">
                    <div class="step__plus"></div>
                    <input class="step__input" type="text" name="" value="0">
                    <div class="step__minus"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="size-table__label">Упаковка:</td>
                <td class="size-table__td">
                  <div class="step">
                    <div class="step__plus half-step"></div>
                    <input class="step__input" type="text" name="" value="0.5">
                    <div class="step__minus half-step"></div>
                  </div>
                </td>
                <td class="size-table__td">
                </td>
                <td class="size-table__td"></td>
                <td class="size-table__td">
                  <div class="step">
                    <div class="step__plus"></div>
                    <input class="step__input" type="text" name="" value="0">
                    <div class="step__minus"></div>
                  </div>
                </td>
                <td class="size-table__td">
                  <div class="step">
                    <div class="step__plus"></div>
                    <input class="step__input" type="text" name="" value="0">
                    <div class="step__minus"></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Выбрать размер конец -->

        <a href="#modal-tabel" uk-toggle class="hl-card__bl-link">Таблица размеров</a>
        <br>
        <a href="#modal-tabel-child" uk-toggle class="hl-card__bl-link">Таблица размеров детская</a>
        <br>
        <a href="#modal-tabel-kolgotki" uk-toggle class="hl-card__bl-link">Размерная сетка колгот и лосин для взрослых</a>
        <br>
        <a href="#modal-tabel-sizes" uk-toggle class="hl-card__bl-link">Размеры колготок</a>
        <br>
        <a href="#modal-tabel-varejki" uk-toggle class="hl-card__bl-link">Размерная сетка варежек и перчаток для взрослых</a>
        <br>
        <a href="#modal-tabel-varejki-deti" uk-toggle class="hl-card__bl-link">Размерная сетка варежек и перчаток для детей</a>
        <div class="hl-card__btn-align">
          <a href="#" class="link-half lookbook__link hl-card__buy-btn">ДОБАВИТЬ В КОРЗИНУ <img src="img/main/arrow-rg.svg" class="btn-arrow-cat" alt=""></a>
        </div>
      </div>
    </div>

    <!--Описание-->
    <div class="hl-description">
      <h3 class="hl-description__label">Описание</h3>
      <div class="hl-description__sets">
        <div class="hl-description__item">
          <div class="hl-description__set-name">Сезон:</div>
          <div class="hl-description__param">
            Демисезон
          </div>
        </div>
        <div class="hl-description__item">
          <div class="hl-description__set-name">Пол:</div>
          <div class="hl-description__param">
            Женский
          </div>
        </div>
        <div class="hl-description__item">
          <div class="hl-description__set-name">Состав:</div>
          <div class="hl-description__param">
            Хлопок 50%, Эластан 50%
          </div>
        </div>
      </div>

      <div class="hl-description__more">
        Hobby Line - это высококачественные носки. Наши коллекции подходят под разные стили и образы.
      </div>
    </div>
    <!--конец Описание-->

    <!--Похожие товары -->
    <h3 class="hl-card__title">Похожие товары</h3>

    <div class="hl-similar">

      <div class="cat__item hl-similar__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab">Новинка</div>
        </div>
        <div class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </div>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="cat__item hl-similar__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab">Новинка</div>
        </div>
        <div class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </div>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="cat__item hl-similar__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab">Новинка</div>
        </div>
        <div class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </div>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="cat__item hl-similar__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab">Новинка</div>
        </div>
        <div class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </div>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!--конец Похожие товары -->

    <!--Рекомендуем -->
    <h3 class="hl-card__title">Рекомендуем:</h3>

    <div class="hl-similar">
      <div class="cat__item hl-similar__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab">Новинка</div>
        </div>
        <div class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </div>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="cat__item hl-similar__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab">Новинка</div>
        </div>
        <div class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </div>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="cat__item hl-similar__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab">Новинка</div>
        </div>
        <div class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </div>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="cat__item hl-similar__item">
        <div class="cat__tab-wrap">
          <div class="cat__tab">Новинка</div>
        </div>
        <div class="cat__img">
          <img src="img/main/ct1.jpg" alt="">
        </div>
        <div class="cat__info">
          <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
            для широкой щиколотки, ассорти</div>
          <div class="cat__art">
            Арт. Нжу508
          </div>
          <div class="cat__price">
            <span class="cat__price-main">34 руб.</span>
            <span class="cat__price-through">130 руб.</span>
          </div>
        </div>
        <div class="cat__under uk-animation-fast uk-animation-fade">
          <div class="cat__flex-wrap">
            <div class="cat__img-bar">
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct1.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct2.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct3.jpg" alt="">
              </a>
              <a href="card.html" class="cat__img-bar_item">
                <img src="img/main/ct4.jpg" alt="">
              </a>
            </div>
            <div>
              <div class="hl-circle-btn btn-click cat-izbr">
                <img class="hl-circle-img" src="img/main/izbr-card.svg" alt="">
                <img class="hl-circle-img__active" src="img/main/izbr-card-active.svg" alt="">
              </div>
              <div class="slider-under__wrap">
                <!--Catalog-SLider -->
                <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="">

                  <ul class="uk-slider-items uk-grid">
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct1.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct2.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct3.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                    <li class="uk-width-4-4">
                      <a href="card.html" class="uk-panel hl-panel">
                        <img src="img/main/ct4.jpg" alt="">
                        <div class="uk-position-center uk-panel">
                        </div>
                      </a>
                    </li>
                  </ul>

                  <a class="uk-position-center-left uk-position-small hl-slider-btn" href="#" uk-slider-item="previous"><img src="img/main/cat-arr-left.svg" alt=""></a>
                  <a class="uk-position-center-right uk-position-small hl-slider-btn" href="#" uk-slider-item="next"><img src="img/main/cat-arr-right.svg" alt=""></a>

                </div>
                <!--end Catalog-SLider -->
                <div class="cat-info-wrap">
                  <div class="cat__info">
                    <div class="cat__label">Носки хлопковые "Hobby Line"/12/х/б,
                      для широкой щиколотки, ассорти</div>
                    <div class="cat__art">
                      Арт. Нжу508
                    </div>
                    <div class="cat__price">
                      <span class="cat__price-main">34 руб.</span>
                      <span class="cat__price-through">130 руб.</span>
                    </div>
                  </div>
                  <a href="#modal-tabel-korz" class="btn-korz uk-margin-top" uk-toggle>В корзину</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--конец Рекомендуем -->

    <!--Отзыв о товаре -->
    <h3 class="hl-card__title">Отзыв о товаре:</h3>

    <form action="">
      <div class="hl-review">
        <textarea name="name" class="hl-review__textarea" placeholder="Введите ваш комментарий о товаре"></textarea>
        <div class="hl-review__right">
          <div class="rating-wrap">
            <span class="hl-review__label">Ваша оценка:</span>
            <div class="my-rating-7"></div>
          </div>

        </div>
      </div>
    </form>
    <!--Конец отзыв о товаре -->

    <!--Все отзывы о товаре: -->
    <h3 class="hl-card__title all-rev__title">Все отзывы о товаре:</h3>

    <div class="all-rev">
      <div class="all-rev__item">
        <div class="uk-flex">
          <div class="all-rev__name">Иванов Иван</div>
          <div class="all-rev__date">10.08.2020</div>
        </div>
        <div class="rating-wrap">
          <div class="my-rating-8 all-rev__stars"></div>
          <!--Инициализация в скрипте происходит -->
        </div>

        <div class="all-rev__content">
          Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее
          всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна
          маленькая строчка рыбного текста по
          имени Lorem ipsum решила выйти в большой мир грамматики.
        </div>

        <div class="all-rev__files">
          <div class="all-rev__photo">
            <div class="" uk-grid uk-lightbox="animation: slide">
              <div class="all-rev__card">
                <a class="uk-inline all-rev__photo-item" href="img/main/rev-it.jpg" data-caption="Caption 1">
                  <img src="img/main/rev-it.jpg" alt="">
                </a>
              </div>
              <div class="all-rev__card">
                <a class="uk-inline all-rev__photo-item" href="img/main/ct2.jpg" data-caption="Caption 2">
                  <img src="img/main/ct2.jpg" alt="">
                </a>
              </div>
              <div class="all-rev__card">
                <a class="uk-inline all-rev__photo-item" href="img/main/ct4.jpg" data-caption="Caption 3">
                  <img src="img/main/ct4.jpg" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="all-rev__like-wrap">
            <div>Отзыв полезен?</div>
            <div class="all-rev__like">
              <img class="all-rev__default" src="img/main/all-rev-like.svg" alt="">
              <img class="all-rev__active" src="img/main/all-rev-like-active.svg" alt="">
              <span>13</span>
            </div>
            <div class="all-rev__like">
              <img class="all-rev__default" src="img/main/dislike.svg" alt="">
              <img class="all-rev__active" src="img/main/dislike-active.svg" alt="">
              <span>1</span>
            </div>
          </div>
        </div>
        <div class="all-rev__answer">
          <div class="all-rev__answer_title">Ответ компании</div>
          <p class="all-rev__answer_p">
            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее
            всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна
            маленькая строчка рыбного текста по
            имени Lorem ipsum решила выйти в большой мир грамматики.
          </p>
        </div>
      </div>
      <div class="all-rev__item">
        <div class="uk-flex">
          <div class="all-rev__name">Иванов Иван</div>
          <div class="all-rev__date">10.08.2020</div>
        </div>
        <div class="rating-wrap">
          <div class="my-rating-8 all-rev__stars"></div>
          <!--Инициализация в скрипте происходит -->
        </div>

        <div class="all-rev__content">
          Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее
          всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна
          маленькая строчка рыбного текста по
          имени Lorem ipsum решила выйти в большой мир грамматики.
        </div>

        <div class="all-rev__files">
          <div class="all-rev__photo">
            <div class="" uk-grid uk-lightbox="animation: slide">
              <div class="all-rev__card">
                <a class="uk-inline all-rev__photo-item" href="img/main/rev-it.jpg" data-caption="Caption 1">
                  <img src="img/main/rev-it.jpg" alt="">
                </a>
              </div>
              <div class="all-rev__card">
                <a class="uk-inline all-rev__photo-item" href="img/main/ct2.jpg" data-caption="Caption 2">
                  <img src="img/main/ct2.jpg" alt="">
                </a>
              </div>
              <div class="all-rev__card">
                <a class="uk-inline all-rev__photo-item" href="img/main/ct4.jpg" data-caption="Caption 3">
                  <img src="img/main/ct4.jpg" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="all-rev__like-wrap">
            <div>Отзыв полезен?</div>
            <div class="all-rev__like">
              <img class="all-rev__default" src="img/main/all-rev-like.svg" alt="">
              <img class="all-rev__active" src="img/main/all-rev-like-active.svg" alt="">
              <span>13</span>
            </div>
            <div class="all-rev__like">
              <img class="all-rev__default" src="img/main/dislike.svg" alt="">
              <img class="all-rev__active" src="img/main/dislike-active.svg" alt="">
              <span>1</span>
            </div>
          </div>
        </div>
        <div class="all-rev__answer">
          <div class="all-rev__answer_title">Ответ компании</div>
          <p class="all-rev__answer_p">
            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее
            всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна
            маленькая строчка рыбного текста по
            имени Lorem ipsum решила выйти в большой мир грамматики.
          </p>
        </div>
      </div>
      <div class="all-rev__item">
        <div class="uk-flex">
          <div class="all-rev__name">Иванов Иван</div>
          <div class="all-rev__date">10.08.2020</div>
        </div>
        <div class="rating-wrap">
          <div class="my-rating-8 all-rev__stars"></div>
          <!--Инициализация в скрипте происходит -->
        </div>

        <div class="all-rev__content">
          Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее
          всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна
          маленькая строчка рыбного текста по
          имени Lorem ipsum решила выйти в большой мир грамматики.
        </div>

        <div class="all-rev__files">
          <div class="all-rev__photo">
            <div class="" uk-grid uk-lightbox="animation: slide">
              <div class="all-rev__card">
                <a class="uk-inline all-rev__photo-item" href="img/main/rev-it.jpg" data-caption="Caption 1">
                  <img src="img/main/rev-it.jpg" alt="">
                </a>
              </div>
              <div class="all-rev__card">
                <a class="uk-inline all-rev__photo-item" href="img/main/ct2.jpg" data-caption="Caption 2">
                  <img src="img/main/ct2.jpg" alt="">
                </a>
              </div>
              <div class="all-rev__card">
                <a class="uk-inline all-rev__photo-item" href="img/main/ct4.jpg" data-caption="Caption 3">
                  <img src="img/main/ct4.jpg" alt="">
                </a>
              </div>
            </div>
          </div>
          <div class="all-rev__like-wrap">
            <div>Отзыв полезен?</div>
            <div class="all-rev__like">
              <img class="all-rev__default" src="img/main/all-rev-like.svg" alt="">
              <img class="all-rev__active" src="img/main/all-rev-like-active.svg" alt="">
              <span>13</span>
            </div>
            <div class="all-rev__like">
              <img class="all-rev__default" src="img/main/dislike.svg" alt="">
              <img class="all-rev__active" src="img/main/dislike-active.svg" alt="">
              <span>1</span>
            </div>
          </div>
        </div>
        <div class="all-rev__answer">
          <div class="all-rev__answer_title">Ответ компании</div>
          <p class="all-rev__answer_p">
            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее
            всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот.Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна
            маленькая строчка рыбного текста по
            имени Lorem ipsum решила выйти в большой мир грамматики.
          </p>
        </div>
      </div>
    </div>

    <!--конец Все отзывы о товаре: -->

    <!-- Попап таблицы размеров -->
    <div id="modal-tabel" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical hl-modal__body">
        <button class="uk-modal-close-outside hl-modal__close" type="button">
          <img src="img/main/ha-modal-plus.svg" alt="">
        </button>
        <h2 class="uk-modal-title hl-modal__label">Размерная сетка</h2>
        <div class="popup-table-scroll">
          <table class="uk-table uk-table-divider hl-modal__tabel">
            <thead>
              <tr>
                <th>Размер обуви</th>
                <th>Длина стопы (см)</th>
                <th>Длина стельки (см)</th>
                <th>Размер носков (РФ)</th>
              </tr>
            </thead>
            <tbody>
              <!-- 3cols -->
              <tr>
                <td>35</td>
                <td>21,3-21,9</td>
                <td>21,8-22,4</td>
                <td rowspan="3" class="hl-modal__rowspan">23</td>
              </tr>
              <tr>
                <td>36</td>
                <td>21,9-22,6</td>
                <td>22,4-23,1</td>

              </tr>
              <tr>
                <td>37</td>
                <td>22,6-23,3</td>
                <td>23,1-23,8</td>
              </tr>
              <!-- end 3cols -->
              <!-- 3cols -->
              <tr>
                <td>38</td>
                <td>23,3-23,9</td>
                <td>23,8-24,5</td>
                <td rowspan="3" class="hl-modal__rowspan">25</td>
              </tr>
              <tr>
                <td>39</td>
                <td>23,9-24,6</td>
                <td>24,5-25,2</td>

              </tr>
              <tr>
                <td>40</td>
                <td>24,6-25,3</td>
                <td>25,2-25,9</td>
              </tr>
              <!-- end 3cols -->
              <!-- 3cols -->
              <tr>
                <td>41</td>
                <td>25,3-26,0</td>
                <td>25,9-26,7</td>
                <td rowspan="3" class="hl-modal__rowspan">27</td>
              </tr>
              <tr>
                <td>42</td>
                <td>26,0-26,7</td>
                <td>26,7-27,4</td>

              </tr>
              <tr>
                <td>43</td>
                <td>26,7-27,3</td>
                <td>26,7-27,3</td>
              </tr>
              <!-- end 3cols -->
              <!-- 3cols -->
              <tr>
                <td>44</td>
                <td>27,3-28,0</td>
                <td>28,0-28,8</td>
                <td rowspan="3" class="hl-modal__rowspan">29</td>
              </tr>
              <tr>
                <td>45</td>
                <td>28,0-28,8</td>
                <td>28,8-29,6</td>

              </tr>
              <tr>
                <td>46</td>
                <td>28,8-29,7</td>
                <td>29,6-30,5</td>
              </tr>
              <!-- end 3cols -->
              <!-- 2cols -->
              <tr>
                <td>47</td>
                <td>29,7-30,6</td>
                <td>30,5-31,5</td>
                <td rowspan="2" class="hl-modal__rowspan">31</td>
              </tr>
              <tr>
                <td>48</td>
                <td>30,6-31,6</td>
                <td>31,5-32,5</td>
              </tr>
              <!-- end 3cols -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="modal-tabel-child" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical hl-modal__body">
        <button class="uk-modal-close-outside hl-modal__close" type="button">
          <img src="img/main/ha-modal-plus.svg" alt="">
        </button>
        <h2 class="uk-modal-title hl-modal__label">Детская размерная сетка</h2>
        <div class="popup-table-scroll">
          <table class="uk-table uk-table-divider hl-modal__tabel">
            <thead>
              <tr>
                <th>Размер детских носков</th>
                <th>Размер обуви</th>
                <th>Длина стопы</th>
                <th>Возраст</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>11 (10-12)</td>
                <td>18-19</td>
                <td>18-19</td>
                <td>6 мес. - 1 год</td>
              </tr>
              <tr>
                <td>13 (12-14)</td>
                <td>20-22</td>
                <td>12-14 см</td>
                <td>1 - 2 года</td>
              </tr>
              <tr>
                <td>15 (14-16)</td>
                <td>23-25</td>
                <td>14-16 см</td>
                <td>3 - 4 года</td>
              </tr>
              <tr>
                <td>17 (16-18)</td>
                <td>26-28</td>
                <td>16-18 см</td>
                <td>4 - 5 лет</td>
              </tr>
              <tr>
                <td>19 (18-20)</td>
                <td>29-31</td>
                <td>18-20 см</td>
                <td>5 - 7 лет</td>
              </tr>
              <tr>
                <td>21 (20-22)</td>
                <td>32-34</td>
                <td>20-22 см</td>
                <td>7 - 9 лет</td>
              </tr>
              <tr>
                <td>23 (22-24)</td>
                <td>35-38</td>
                <td>22-24 см</td>
                <td>10 - 12 лет</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="modal-tabel-sizes" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical hl-modal__body">
        <button class="uk-modal-close-outside hl-modal__close" type="button">
          <img src="img/main/ha-modal-plus.svg" alt="">
        </button>
        <h2 class="uk-modal-title hl-modal__label">Размеры колготок</h2>
        <div class="popup-table-scroll">
          <table class="uk-table uk-table-divider hl-modal__tabel">
            <thead>
              <tr>
                <th>Size/размер</th>
                <th>M</th>
                <th>L</th>
                <th>XL</th>
                <th>XXL</th>
                <th>XXXL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Chest/Обхват груди</td>
                <td>52-56</td>
                <td>60-64</td>
                <td>68-72</td>
                <td>76</td>
                <td>80</td>
              </tr>
              <tr>
                <td>Height/Рост</td>
                <td>104-116</td>
                <td>116-128</td>
                <td>128-140</td>
                <td>140-152</td>
                <td>152-158</td>
              </tr>
              <tr>
                <td>Age/Возраст</td>
                <td>3-4</td>
                <td>5-7</td>
                <td>8-10</td>
                <td>11-12</td>
                <td>13-14</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div id="modal-tabel-kolgotki" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical hl-modal__body">
        <button class="uk-modal-close-outside hl-modal__close" type="button">
          <img src="img/main/ha-modal-plus.svg" alt="">
        </button>
        <h2 class="uk-modal-title hl-modal__label">Размерная сетка колгот и лосин для взрослых</h2>
        <div class="popup-table-scroll">
          <img src="img/main/tabel-colgotki.jpg" alt="">
        </div>
      </div>
    </div>
    <div id="modal-tabel-varejki" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical hl-modal__body">
        <button class="uk-modal-close-outside hl-modal__close" type="button">
          <img src="img/main/ha-modal-plus.svg" alt="">
        </button>
        <h2 class="uk-modal-title hl-modal__label">Размерная сетка варежек и перчаток для взрослых</h2>
        <div class="popup-double">
          <div class="popup-table-scroll">
            <table class="uk-table uk-table-divider hl-modal__tabel table-mini">
              <thead>
                <tr>
                  <th>Size/размер</th>
                  <th>Обхват ладони, см</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>6</td>
                  <td>15,2</td>
                </tr>
                <tr>
                  <td>6,5</td>
                  <td>16,5</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>17,8</td>
                </tr>
                <tr>
                  <td>7,5</td>
                  <td>19</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>20,3</td>
                </tr>
                <tr>
                  <td>8,5</td>
                  <td>21,6</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>22,9</td>
                </tr>
                <tr>
                  <td>9,5</td>
                  <td>24</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>25</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="popup-right-info">
            <h4 class="popup-right-info__label">Как измерить обхват ладони</h4>
            <img src="img/main/hand.jpg" alt="">
            <p>
              Для определения размера измерьте
              окружность ладони сантиметровой
              лентой над большим пальцем.
              По таблице определите необходимый размер
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="modal-tabel-varejki-deti" uk-modal>
      <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical hl-modal__body">
        <button class="uk-modal-close-outside hl-modal__close" type="button">
          <img src="img/main/ha-modal-plus.svg" alt="">
        </button>
        <h2 class="uk-modal-title hl-modal__label">Размерная сетка варежек и перчаток для детей</h2>
        <div class="popup-double">
          <div class="popup-table-scroll">
            <table class="uk-table uk-table-divider hl-modal__tabel table-mini">
              <thead>
                <tr>
                  <th>Примерный
                    возраст</th>
                  <th>Обхват ладони, см</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1-2 года</td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>2-3 года</td>
                  <td>13</td>
                </tr>
                <tr>
                  <td>4-6 лет</td>
                  <td>14</td>
                </tr>
                <tr>
                  <td>7-8 лет</td>
                  <td>15</td>
                </tr>
                <tr>
                  <td>9-10 лет</td>
                  <td>16</td>
                </tr>
                <tr>
                  <td>11-12 лет</td>
                  <td>17</td>
                </tr>
                <tr>
                  <td>13 лет</td>
                  <td>18</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="popup-right-info">
            <h4 class="popup-right-info__label">Как измерить обхват ладони</h4>
            <img src="img/main/hand.jpg" alt="">
            <p>
              Для определения размера измерьте
              окружность ладони сантиметровой
              лентой над большим пальцем.
              По таблице определите необходимый размер
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>


</main>
@@include('_footer.html')