@@include('_header.html')
<main>
  <div class="main-content">

    <section class="category main-content cat-main-content">
      <a href="#" class="category__item">
        <div class="category__img">
          <img src="img/main/nf.jpg" alt="">
        </div>
        <div class="category__link">
          Новый год
          <img src="img/ico/arrow-right.svg" alt="">
        </div>
      </a>
      <a href="#" class="category__item">
        <div class="category__img">
          <img src="img/main/nf.jpg" alt="">
        </div>
        <div class="category__link category__green">
          Мужчинам
          <img src="img/ico/arrow-right.svg" alt="">
        </div>
      </a>
      <a href="catalog-2.html" class="category__item">
        <div class="category__img">
          <img src="img/main/nf.jpg" alt="">
        </div>
        <div class="category__link category__yellow">
          Женщинам
          <img src="img/ico/arrow-right.svg" alt="">
        </div>
      </a>
      <a href="#" class="category__item">
        <div class="category__img">
          <img src="img/main/nf.jpg" alt="">
        </div>
        <div class="category__link category__yellow">
          Детям
          <img src="img/ico/arrow-right.svg" alt="">
        </div>
      </a>
    </section>

  </div>
</main>
@@include('_footer.html')