@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><span>Каталог</span></li>
    </ul>
  </div>


  <div class="main-content catalog-main-content">
    <div class="hl-catalog__wrap hl-top-izbr">
      @@include('_filter.html')
      @@include('_catalog-content-izbr.html')
    </div>
  </div>

</main>
@@include('_footer.html')