@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><span>Женщинам</span></li>
    </ul>
  </div>

  <div class="top-info sf-top-info minify-top-info" uk-scrollspy="cls: uk-animation-fade; target: div; delay: 100; repeat: false">
    <div class="top-info__wrap main-content">
      <div class="top-info__content production__content">
        <h2 class="top-title sf-top-title">Женщинам</h2>
        <p class="top-info__col">Вводный текст про сотрудничество с дистрибьюторами. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от
          всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми
          необходимыми правилами.
        </p>
      </div>
      <div class="top-info__slider sf-slider slider production__slider">
        <div class="top-info__slider-wrap">
          <div class="uk-position-relative uk-visible-toggle uk-light slider__container" tabindex="-1" uk-slider>

            <ul class="uk-slider-items uk-grid">
              <li class="uk-width-4-4">
                <div class="uk-panel slider__item">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
            </ul>
            <div class="slider__wrap-arrows">
              <a class="slider__prev" href="#" uk-slider-item="previous"></a>
              <a class="slider__next" href="#" uk-slider-item="next"></a>
            </div>
          </div>
          <div class="slider__bg top-info__bg service-for__silider-bg sf-top-info__slider-bg"></div>
        </div>
      </div>
      <h2 class="top-title-mob sf-top-title">Для корпоративных клиентов</h2>
    </div>
    <div class="top-info__heart-dots heart-dots"></div>
  </div>

  <div class="main-content catalog-main-content">
    <div class="hl-catalog__wrap">
      @@include('_filter2.html')
      @@include('_catalog-content2.html')
    </div>
  </div>

</main>
@@include('_footer.html')