@@include('_header.html')
<main>

  <ul class="uk-breadcrumb main-content breadcrumb">
    <li><a href="#">Главная</a></li>
    <li><span>Каталог</span></li>
  </ul>

  <h1>Каталог</h1>

</main>
@@include('_footer.html')