@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><span>Контакты</span></li>
    </ul>
  </div>

  <div class="top-info select-top-info minify-top-info production__bottom-info">
    <div class="top-info__wrap main-content">
      <div class="top-info__content map-info">
        <div class="map-contacts">
          <h1 class="map-top-label">Контакты</h1>
          <div class="map-contacts__item">
            <div class="map-contacts__ico-wrap">
              <img class="map-contacts__img" src="img/ico/loc.svg" alt="">
            </div>
            <span class="map-contacts__text">680022, Хабаровский край, г. Хабаровск, ул. Лазо, 3А/2
            </span>
          </div>
          <div class="map-contacts__item">
            <div class="map-contacts__ico-wrap">
              <img class="map-contacts__img" src="img/ico/phone-map.svg" alt="">
            </div>
            <a href="tel:+78125104540" class="map-contacts__text"> +7 (4212) 75-17-00
            </a>
          </div>
          <div class="map-contacts__item">
            <div class="map-contacts__ico-wrap">
              <img class="map-contacts__img" src="img/ico/mail-map.svg" alt="">
            </div>
            <a href="mailto:info@cathouse.ru" class="map-contacts__text"> star-way@mail.ru
            </a>
          </div>
          <div class="map-contacts__item">
            <div class="map-contacts__ico-wrap">
              <img class="map-contacts__img" src="img/ico/clock-map.svg" alt="">
            </div>
            <span class="map-contacts__text">Будни - с 9.00 до 18.00<br>
              Суббота - с 9.00 до 15.30<br>
              Воскресенье - выходной
            </span>
          </div>
        </div>
        <div class="top-info__slider slider map">
          <div class="map-rel">
            <div class="map__wrap">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1991.3494660929093!2d30.33256955890285!3d60.059009581231436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zItCa0L7RiNC60LjQvSDQtNC-0LwiINCzLiDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywg0K3QvdCz0LXQu9GM0YHQsCDQv9GALdC60YIuLCDQtC4gMTU0LCDQotCg0JogItCT0YDQsNC90LQt0JrQsNC90YzQvtC9IiwgNCDRjdGC0LDQtg!5e0!3m2!1sru!2sru!4v1600865864233!5m2!1sru!2sru"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="map__wrap-bg"></div>
          </div>
        </div>
        <div class="top-info__heart-dots heart-dots production__bg-bottom"></div>
      </div>
    </div>
  </div>

  <section class="main-content staff" uk-scrollspy="cls: uk-animation-fade; target: div; delay: 0; repeat: false" offset-top="0">
    <h3 class="title staff__title">Для вас работают:</h3>
    <div class="staff__row">
      <div class="staff__item">
        <div class="staff__img-wrap">
          <div class="staff__img">
            <img src="img/main/staff.jpg" alt="">
          </div>
          <div class="staff__img-bg"></div>
        </div>
        <div class="staff__content">
          <h4 class="staff__label">Синдеева <div>Татьяна Геннадьевна</div>
          </h4>
          <div class="staff__rang">cобственник торговой марки
          </div>
          <div class="staff__info">
            <img src="img/main/message.svg" alt="">
            <a href="mailto:star-way@mail.ru" class="staff__link">star-way@mail.ru</a>
          </div>
        </div>
      </div>
      <div class="staff__item">
        <div class="staff__img-wrap">
          <div class="staff__img">
            <img src="img/main/staff.jpg" alt="">
          </div>
          <div class="staff__img-bg"></div>
        </div>
        <div class="staff__content">
          <h4 class="staff__label">Синдеева <div>Татьяна Геннадьевна</div>
          </h4>
          <div class="staff__rang">cобственник торговой марки
          </div>
          <div class="staff__info">
            <img src="img/main/message.svg" alt="">
            <a href="mailto:star-way@mail.ru" class="staff__link">star-way@mail.ru</a>
          </div>
        </div>
      </div>
      <div class="cp-info">
        <p class="cp-info__text">
          Вводный текст про сотрудничество с дистрибьюторами. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький
          ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
        </p>
        <a href="#" class="link-half lookbook__link cp-info__btn">ПОЗНАКОМИТЬСЯ С НАМИ<img src="img/main/arrow-rg.svg" class="btn-arrow-cat" alt=""></a>
      </div>
    </div>
  </section>

  <section class="vacancies__form form main-content">
    <div class="form__wrap cp-form__wrap">
      <div class="cp-form__label">Если у вас есть вопросы, пожелания или предложения, вы можете отправить их нам!</div>
      <form action="" name="vacancies">
        <div class="form__row">
          <input type="text" class="form__input" name="name-vac" value="" placeholder="Имя*" required>
          <input type="text" class="form__input" name="mail-vac" value="" placeholder="E-mail*" required>
        </div>
        <textarea name="textarea" class="form__textarea cp-form__textarea" placeholder="Ваши вопросы, пожелания и предложения"></textarea>
        <div class="uk-flex uk-flex-between form__btn-wrap">
          <div class="uk-margin">
            <div uk-form-custom class="form__file-wrap">
              <input type="file">
              <span class="form__file">ПРИКРЕПИТЬ РЕЗЮМЕ</span><img src="img/ico/file.svg" alt="">
            </div>
          </div>
          <button class="link-half form__link">ОТПРАВИТЬ <img src="img/main/arrow-rg.svg" class="btn-arrow-cat" alt=""></button>
        </div>
      </form>
    </div>
  </section>

</main>
@@include('_footer.html')