  @@include('_header.html')
  <main>
    <div class="main-content">
      <ul class="uk-breadcrumb breadcrumb">
        <li><a href="index.html">Главная</a></li>
        <li><span>Сотрудничество</span></li>
      </ul>
    </div>
    <section class="category servicep main-content">
      <a href="distributor.html" class="category__item servicep__item">
        <div class="category__img">
          <img src="img/main/nf2.jpg" alt="">
        </div>
        <div class="category__link">
          Для дистрибьюторов
          <img src="img/ico/arrow-right.svg" alt="">
        </div>
      </a>
      <a href="opt.html" class="category__item servicep__item">
        <div class="category__img">
          <img src="img/main/nf2.jpg" alt="">
        </div>
        <div class="category__link category__green">
          Для оптовых клиентов
          <img src="img/ico/arrow-right.svg" alt="">
        </div>
      </a>
      <a href="retail.html" class="category__item servicep__item">
        <div class="category__img">
          <img src="img/main/nf2.jpg" alt="">
        </div>
        <div class="category__link servicep__bg-yellow">
          Для Розницы
          <img src="img/ico/arrow-right.svg" alt="">
        </div>
      </a>
      <a href="corporate-clients.html" class="category__item servicep__item">
        <div class="category__img">
          <img src="img/main/nf2.jpg" alt="">
        </div>
        <div class="category__link servicep__bg-blue">
          Для корпоративных клиентов
          <img src="img/ico/arrow-right.svg" alt="">
        </div>
      </a>
      <a href="franchising.html" class="category__item servicep__item-full-width">
        <div class="category__img">
          <img src="img/main/nf3.jpg" alt="">
        </div>
        <div class="category__link servicep__bg-gray">
          Франчайзинг (2021 год)
          <img src="img/ico/arrow-right.svg" alt="">
        </div>
      </a>

      <div class="servicep__heart-top heart-dots"></div>
      <div class="servicep__heart-right heart-dots"></div>
    </section>

  </main>
  @@include('_footer.html')