@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><a href="service.html">Сервис</a></li>
      <li><span>Доставка и оплата</span></li>
    </ul>
  </div>
  <section uk-scrollspy="cls: uk-animation-fade; target: div; delay: 0; repeat: false">
    <div class="top-full-size">
      <div class="top-info__wrap main-content">
        <div class="buy-top__content">
          <h2 class="top-title uk-margin-small-bottom not-hide-mob uk-margin-medium-top">Доставка и оплата</h2>
          <p class="top-info__col">Мы предлагаем своим клиентам самые удобные виды доставки.... Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика
            большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
          </p>
        </div>
      </div>
      <div class="top-info__heart-dots heart-dots"></div>
    </div>
  </section>

  <section class="sf-terms main-content deliv uk-margin-large-top">
    <div class=" sf-terms__full">
      <div class="sf-terms__content">
        <h4 class="sf-terms__title">Условия доставки:</h4>
        <ul class="sf-terms__list circle-list">
          <li class="sf-terms__list-item circle-list__item">Доставка по Хабаровску до покупателя бесплатно. Минимальная сумма доставки 3000 руб.</li>
          <li class="sf-terms__list-item circle-list__item">Доставка по Хабаровску до транспортной компании – бесплатно.</li>
          <li class="sf-terms__list-item circle-list__item">Доставка в регионы РФ и страны СНГ осуществляется за счет покупателя. Стоимость доставки до вашего города вы оплачиваете непосредственно транспортной компании в момент получения груза.</li>
        </ul>

        <h4 class="sf-terms__title uk-margin-small-top">Сроки доставки:</h4>
        <p class="sf-terms__paragraph uk-margin-small-top">
          Доставка заказа в транспортную компанию осуществляется течение 2 рабочих дней после оплаты, не считая выходных дней и праздников.
        </p>

        <h4 class="sf-terms__title uk-margin-medium-top">Оплата:</h4>
        <ul class="sf-terms__list circle-list">
          <li class="sf-terms__list-item circle-list__item">Наличный расчет доступен для оптовых и розничных покупателей.</li>
          <li class="sf-terms__list-item circle-list__item">Безналичный расчет доступен для оптовых покупателей.</li>
          <li class="sf-terms__list-item circle-list__item">Оформление безналичного расчета осуществляется с индивидуальным подходом к каждому покупателю.</li>
        </ul>

        <h4 class="sf-terms__title">Условия возврата:</h4>
        <p class="sf-terms__paragraph">
          Согласно ст. 25 закона РФ «О защите прав потребителей» в редакции Постановлений Правительства от 20.10.1998 № 1222, чулочно-носочные изделия включены в «Перечень непродовольственных товаров надлежащего качества», которые не подлежат
          возврату или обмену на аналогичные модели других размера, формы, габарита, фасона, расцветки или комплектации.
        </p>
      </div>
      <div class="sf-terms__bg"></div>
    </div>

    <div class="sf-terms__full uk-margin-medium-top">
      <div class="sf-terms__content">
        <h4 class="sf-terms__title">Документация:</h4>
        <p class="sf-terms__paragraph">
          <b>Мы предлагаем своим клиентам самые удобные виды доставки...</b><br>
          Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее
          всеми необходимыми правилами.
        </p>
        <div class="triple-img">
          <div class="triple-img__item">
            <img src="img/main/ds.svg" alt="">
          </div>
          <div class="triple-img__item">
            <img src="img/main/ds.svg" alt="">
          </div>
          <div class="triple-img__item">
            <img src="img/main/ds.svg" alt="">
          </div>
        </div>
      </div>
      <div class="sf-terms__bg light-green"></div>
    </div>
  </section>
</main>
@@include('_footer.html')