@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><a href="cooperation.html">Сотрудничество</a></li>
      <li><span>Для дистрибьюторов</span></li>
    </ul>
  </div>

  <div class="top-info sf-top-info minify-top-info" uk-scrollspy="cls: uk-animation-fade; target: div; delay: 100; repeat: false">
    <div class="top-info__wrap main-content">
      <div class="top-info__content production__content">
        <h2 class="top-title sf-top-title">Для дистрибьюторов</h2>
        <p class="top-info__col">Вводный текст про сотрудничество с дистрибьюторами. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от
          всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми
          необходимыми правилами.
        </p>
      </div>
      <div class="top-info__slider sf-slider slider production__slider">
        <div class="top-info__slider-wrap">
          <div class="uk-position-relative uk-visible-toggle uk-light slider__container" tabindex="-1" uk-slider>

            <ul class="uk-slider-items uk-grid">
              <li class="uk-width-4-4">
                <div class="uk-panel slider__item">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
            </ul>
            <div class="slider__wrap-arrows">
              <a class="slider__prev" href="#" uk-slider-item="previous"></a>
              <a class="slider__next" href="#" uk-slider-item="next"></a>
            </div>
          </div>
          <div class="slider__bg top-info__bg service-for__silider-bg sf-top-info__slider-bg"></div>
        </div>
      </div>
      <h2 class="top-title-mob sf-top-title">Для дистрибьторов</h2>
    </div>
    <div class="top-info__heart-dots heart-dots"></div>
  </div>

  <section class="about sf-about">
    <div class="about__wrap main-content">
      <div class="about__list sf-about__list" uk-grid uk-scrollspy="cls: uk-animation-slide-bottom; target: .about__item; delay: 300; repeat: false" offset-top="-200">
        <div class="about__item sf-about__item">
          <div class="about__img">
            <img src="img/main/a1.svg" alt="">
          </div>
          <p>лет на рынке</p>
        </div>
        <div class="about__item sf-about__item">
          <div class="about__img">
            <img src="img/main/sf1.svg" alt="">
          </div>
          <p>Индивидуальный подход</p>
        </div>
        <div class="about__item sf-about__item">
          <div class="about__img">
            <img src="img/main/sf2.svg" alt="">
          </div>
          <p>Собственное производство</p>
        </div>
        <div class="about__item sf-about__item">
          <div class="about__img">
            <img src="img/main/sf3.svg" alt="">
          </div>
          <p>Первоклассное качество</p>
        </div>
        <div class="about__item sf-about__item">
          <div class="about__img">
            <img src="img/main/sf4.svg" alt="">
          </div>
          <p>Гибкая система цен</p>
        </div>
      </div>
    </div>

    <div class="about-left__heart-dots heart-dots "></div>
    <div class="about-right__heart-dots heart-dots "></div>
  </section>

  <section class="sf-terms main-content">
    <div class="sf-terms__full">
      <div class="sf-terms__content">
        <h4 class="sf-terms__title">Условия сотрудничества:</h4>
        <p class="sf-terms__paragraph">
          Сами являясь дистрибьторами многих марок чни, мы знаем потребности дистрибьторов как никто другой и поэтому предоставляем для таких партнеров особенные условия: более глубокую шкалу скидок, чем для обычных оптовых клиентов. Ведем разговор о
          закрытии территории полностью, если выполняются согласованные обьемы закупок ( при этом всех новых покупателей отправляем напрямую уже только к нашему дистрибьютору). Рассматриваем со временем возможность работы с отсрочкой платежа.
          Поддерживаем рекламной продукцией.<br>
          Мы гордимся тем, что став однажды нашим дистрибьтором, партнер остается им надолго.
        </p>
      </div>
      <div class="sf-terms__bg"></div>
    </div>

    <div class="sf-terms__double">
      <div class="sf-terms__half">
        <div class="sf-terms__content sf-terms__half-content">
          <div>
            <h4 class="sf-terms__title">Получить доступ к оптовым ценам:</h4>
            <p class="sf-terms__paragraph">
              Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана.
            </p>
          </div>
          <div class="sf-terms__wrap-link">
            <a href="article.html" class="link-half sf-terms__link">РЕГИСТРАЦИЯ
              <img src="img/main/arrow-rg.svg" class="btn-arrow-cat" alt=""></a>
          </div>
        </div>
        <div class="sf-terms__bg sf-terms__half-bg sf-terms__pink"></div>
      </div>

      <div class="sf-terms__half">
        <div class="sf-terms__content sf-terms__half-content">
          <div>
            <h4 class="sf-terms__title">Связаться с менеджером:</h4>
            <p class="sf-terms__paragraph">
              Если у вас остались какие-либо вопросы по сотрудничеству с нами, вы можете связаться с нашими менеджерами, они проконсультируют вас и помогут получить выгодное предложение! Вы можете позвонить по телефону +7 4212 75-17-00, доб. 12 или
              оставить заявку на электронный адрес: info@hobbyline.ru
            </p>
          </div>
          <div class="sf-terms__wrap-link">
            <a href="article.html" class="link-half sf-terms__link">ЗАПРОСИТЬ ЗВОНОК
              <img src="img/main/arrow-rg.svg" class="btn-arrow-cat" alt=""></a>
          </div>
        </div>
        <div class="sf-terms__bg sf-terms__half-bg sf-terms__green"></div>
      </div>
    </div>
  </section>

</main>
@@include('_footer.html')