@@include('_header.html')
<main>

  <ul class="uk-breadcrumb main-content breadcrumb">
    <li><a href="#">Главная</a></li>
    <li><span>Избранное</span></li>
  </ul>

  <h1>Избранное</h1>

</main>
@@include('_footer.html')