@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><a href="cooperation.html">Сотрудничество</a></li>
      <li><span>Франчайзинг</span></li>
    </ul>
  </div>
  <h1>Франчайзинг</h1>

</main>
@@include('_footer.html')