@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><span>Личный кабинет</span></li>
    </ul>
  </div>
  <section class="main-content">
    <div class="lk lk-history-wrap">
      @@include('_lk-sidebar.html')
      <div class="lk-content">
        <div class="lk-history">
          <ul class="lk-switcher">
            <li class="lk-switcher__item lk-switcher__item-active">Все</li>
            <li class="lk-switcher__item">Текущие</li>
            <li class="lk-switcher__item">Завершенные</li>
            <li class="lk-switcher__item">Отмененные</li>
          </ul>

          <div class="lk-sw-content">
            <!-- Все -->
            <div class="lk-sw-content__item lk-sw-content__active uk-animation-slide-left-medium">
              <div class="lk-date">
                <div class="lk-date__top">
                  <div class="lk-date__label">Заказ от 25.07.2020 • №1356124</div>
                  <div class="lk-date__label-price">57 150 руб.</div>
                </div>
                <div class="lk-date__content">
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>

                  <div class="lk-date__btn-wrap">
                    <a href="#" class="lk-date__btn">Отменить заказ</a>
                  </div>
                </div>
              </div>
              <div class="lk-date">
                <div class="lk-date__top">
                  <div class="lk-date__label">Заказ от 25.07.2020 • №1356124</div>
                  <div class="lk-date__label-price">57 150 руб.</div>
                </div>
                <div class="lk-date__content">
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>

                  <div class="lk-date__btn-wrap">
                    <a href="#" class="lk-date__btn">Отменить заказ</a>
                  </div>
                </div>
              </div>
              <div class="lk-date">
                <div class="lk-date__top">
                  <div class="lk-date__label">Заказ от 25.07.2020 • №1356124</div>
                  <div class="lk-date__label-price">57 150 руб.</div>
                </div>
                <div class="lk-date__content">
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>

                  <div class="lk-date__btn-wrap">
                    <a href="#" class="lk-date__btn">Отменить заказ</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Текущие -->
            <div class="lk-sw-content__item uk-animation-slide-left-medium">
              <div class="lk-date">
                <div class="lk-date__top">
                  <div class="lk-date__label">Заказ от 25.07.2020 • №1356124</div>
                  <div class="lk-date__label-price">57 150 руб.</div>
                </div>
                <div class="lk-date__content">
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>

                  <div class="lk-date__btn-wrap">
                    <a href="#" class="lk-date__btn">Отменить заказ</a>
                  </div>
                </div>
              </div>
              <div class="lk-date">
                <div class="lk-date__top">
                  <div class="lk-date__label">Заказ от 25.07.2020 • №1356124</div>
                  <div class="lk-date__label-price">57 150 руб.</div>
                </div>
                <div class="lk-date__content">
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>

                  <div class="lk-date__btn-wrap">
                    <a href="#" class="lk-date__btn">Отменить заказ</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- Завершенные -->
            <div class="lk-sw-content__item uk-animation-slide-left-medium">
              <div class="lk-date">
                <div class="lk-date__top">
                  <div class="lk-date__label">Заказ от 25.07.2020 • №1356124</div>
                  <div class="lk-date__label-price">57 150 руб.</div>
                </div>
                <div class="lk-date__content">
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>

                  <div class="lk-date__btn-wrap">
                    <a href="#" class="lk-date__btn">Отменить заказ</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="lk-sw-content__item uk-animation-slide-left-medium">
              <!-- Отмененные -->
              <div class="lk-date">
                <div class="lk-date__top">
                  <div class="lk-date__label">Заказ от 25.07.2020 • №1356124</div>
                  <div class="lk-date__label-price">57 150 руб.</div>
                </div>
                <div class="lk-date__content">
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>

                  <div class="lk-date__btn-wrap">
                    <a href="#" class="lk-date__btn">Отменить заказ</a>
                  </div>
                </div>
              </div>
              <div class="lk-date">
                <div class="lk-date__top">
                  <div class="lk-date__label">Заказ от 25.07.2020 • №1356124</div>
                  <div class="lk-date__label-price">57 150 руб.</div>
                </div>
                <div class="lk-date__content">
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>
                  <div class="lk-date__item">
                    <div class="lk-date__left-side">
                      <div class="lk-date__img">
                        <img src="img/main/we1.svg" alt="">
                      </div>
                      <div class="lk-date__title-wrap">
                        <div class="lk-date__title">
                          Носки ******** ******
                        </div>
                        <div class="lk-date__art">
                          Арт. 264362
                        </div>
                      </div>
                    </div>

                    <div class="lk-date__right-side">
                      <div class="lk-date__info lk-date__count">
                        800 шт.
                      </div>
                      <div class="lk-date__info lk-date__price">
                        23 120 руб.
                      </div>
                      <div class="lk-date__info lk-date__basket">
                        <a href="#"><img src="img/ico/basket-h.svg" alt=""></a>
                      </div>
                    </div>
                  </div>

                  <div class="lk-date__btn-wrap">
                    <a href="#" class="lk-date__btn">Отменить заказ</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

</main>
@@include('_footer.html')