@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><span>Войти в личный кабинет</span></li>
    </ul>
  </div>
  <div class="main-content auth-wrap">
    <div class="auth-form">
      <h2 class="auth-form__label">Войти в личный кабинет</h2>
      <form action="">
        <div class="auth-form__text">
          <input type="text" id="email-input" placeholder="Email*" name="email">
        </div>
        <div class="auth-form__text auth-form__password">
          <input type="password" id="password-input" placeholder="Пароль*" name="password">
          <img src="img/ico/eye-pass.svg" class="auth-form__password-control" alt="">
        </div>
        <div class="remember">
          <div>
            <input type="checkbox" class="custom-checkbox" name="" id="remember" value="">
            <label for="remember" class="footer__label remember__label">Запомнить меня</label>
          </div>
          <a href="#" class="remember__recovery">Забыли пароль?</a>
        </div>
        <a href="#" class="link-half lookbook__link auth-form__login">Войти<picture>
            <img src="img/main/arrow-rg.svg" class="btn-arrow-cat" alt="">
        </a>
        <p class="auth-form__reg">
          или <a href="#">зарегистрироваться</a>
        </p>
      </form>
    </div>

    <div class="top-info__heart-dots heart-dots auth-dot-top"></div>
    <div class="heart-dots auth-dot-bottom"></div>
  </div>

</main>
@@include('_footer.html')