@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><span>LookBook</span></li>
    </ul>
  </div>
  <section class="lb-page main-content">
    <h1 class="title lb-page__title">LOOKBOOK</h1>
    <div class="lb-page__grid" uk-scrollspy="cls: uk-animation-fade; target: div; delay: 100; repeat: false">
      <div class="lb-page__main">
        <div class="lb-page__col lb-page__col-first">
          <a href="lookbook-a1.html" class="lb-page__item-mini lb-page__bg1">
            <h3 class="lb-page__label">Коллекция лето 2020</h3>
          </a>
          <a href="#" class="lb-page__item-midle lb-page__bg2 lb-page__bottom-text">
            <h3 class="lb-page__label">коллекция ярких носков</h3>
          </a>
        </div>
        <div class="lb-page__col lb-page__col-second">
          <a href="#" class="lb-page__item-midle lb-page__bg3 lb-page__top-text">
            <h3 class="lb-page__label">коллекция
              осень 2020</h3>
          </a>
          <a href="#" class="lb-page__item-mini lb-page__bg4">
            <h3 class="lb-page__label">новогодняя
              коллекция</h3>
          </a>
        </div>
        <div class="lb-page__full-width">
          <a href="#" class="lb-page__item-mini lb-page__bg5">
            <h3 class="lb-page__label">коллекция <br>
              детских носков</h3>
          </a>
        </div>

      </div>
      <div class="lb-page_right">
        <div class="lb-page__col lb-page__col-last">
          <a href="#" class="lb-page__item-mini lb-page__bg6">
            <h3 class="lb-page__label">женские
              бестселлеры</h3>
          </a>
          <a href="#" class="lb-page__item-mini lb-page__bg7">
            <h3 class="lb-page__label">коллекция</h3>
          </a>
          <a href="#" class="lb-page__item-midle lb-page__bg8 lb-page__top-text">
            <h3 class="lb-page__label">коллекция
              с фруктами</h3>
          </a>
        </div>
      </div>
    </div>

    <div class="lb-page__heart-top heart-dots"></div>
    <div class="lb-page__heart-bottom heart-dots"></div>
    <div class="lb-page__heart-right heart-dots"></div>
  </section>

</main>
@@include('_footer.html')