@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><a href="lookbook.html">LookBook</a></li>
      <li><span>Коллекция лето 2020</span></li>
    </ul>
  </div>
  <section class="lb-album main-content">
    <h1 class="title lb-album__title">LOOKBOOK / Коллекция Лето 2020</h1>
    <p class="lb-album__article">
      Описание альбома. живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми
      необходимыми правилами. Эта парадигматическая страна. живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая
      страна.
    </p>

    <div class="lb-album__banner">
      <div class="lb-album__banner-img">
        <img src="img/main/ba1.jpg" alt="">
      </div>
      <div class="bg-left-bottom"></div>
    </div>

    <p class="lb-album__article uk-padding-medium-top">
      Описание альбома. живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми
      необходимыми правилами. Эта парадигматическая страна. живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая
      страна.
    </p>

    <div class="lb-album__double">
      <div class="lb-album__double-item">
        <div class="lb-album__double-img">
          <img src="img/main/dl1.jpg" alt="">
        </div>
        <div class="bg-left-bottom bg-green"></div>
      </div>
      <div class="lb-album__double-item">
        <div class="lb-album__double-img">
          <img src="img/main/dl2.jpg" alt="">
        </div>
        <div class="bg-left-bottom bg-yellow"></div>
      </div>
    </div>

    <div class="lb-album__banner">
      <div class="lb-album__banner-img">
        <img src="img/main/ba2.jpg" alt="">
      </div>
      <div class="bg-left-bottom bg-green2"></div>
    </div>

    <p class="lb-album__article uk-padding-medium-top">
      Описание альбома. живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми
      необходимыми правилами. Эта парадигматическая страна. живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая
      страна.
    </p>

    <div class="lb-album__double">
      <div class="lb-album__double-item">
        <div class="lb-album__double-img">
          <img src="img/main/dl3.jpg" alt="">
        </div>
        <div class="bg-left-bottom bg-blue"></div>
      </div>
      <div class="lb-album__double-item">
        <div class="lb-album__double-img">
          <img src="img/main/dl4.jpg" alt="">
        </div>
        <div class="bg-left-bottom"></div>
      </div>
    </div>

    <div class="lb-album__banner">
      <div class="lb-album__banner-img">
        <img src="img/main/ba3.jpg" alt="">
      </div>
      <div class="bg-left-bottom bg-green2"></div>
    </div>


    <div class="lb-page__heart-top heart-dots"></div>
    <div class="lb-page__heart-bottom lb-album-heart-bottom heart-dots"></div>
    <div class="lb-page__heart-right  lb-album-heart-right heart-dots"></div>
    <div class="lb-page__heart-right lb-album-heart-bottom-right heart-dots"></div>
  </section>

</main>
@@include('_footer.html')