@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="#">Главная</a></li>
      <li><span>Журнал</span></li>
    </ul>
  </div>
  <section class="magazinep main-content">
    <h1 class="title">Журнал</h1>
    <div class="magazinep__news">
      <div class="magazinep__item">
        <div class="magazinep__img">
          <img src="img/main/m1.jpg" alt="">
        </div>
        <div class="magazinep__content">
          <div>
            <h5 class="magazinep__label">HOBBY LINE представляет обновленный
              логотип бренда</h5>
            <p class="magazinep__article">
              Сегодня HOBBY LINE предлагает вам широчайший выбор носков, колготок, лосин и других изделий, включая варежки и перчатки. Мы выходим на новый уровень и понимаем, что без обновления внутри самой компании этот процесс невозможен.
              Разработка
              нового логотипа стала логичным продолжением этого процесса...
            </p>
          </div>
          <a href="article.html" class="link-half magazinep__link">ПЕРЕЙТИ<img src="img/main/arrow-rg.svg" class="btn-arrow-cat" alt=""></a>
        </div>
      </div>

      <div class="magazinep__item">
        <div class="magazinep__img">
          <img src="img/main/m2.jpg" alt="">
        </div>
        <div class="magazinep__content">
          <div>
            <h5 class="magazinep__label">HOBBY LINE запускает
              новый сайт!</h5>
            <p class="magazinep__article">
              ТМ HOBBY LINE анонсирует замечательное событие – бренд запускает новый сайт www .hobbyline.ru , где будет представлен полный ассортимент чулочно-носочных изделий, варежек и перчаток торговой марки. Разрабатывая концепцию сайта, мы
              старались сделать его ярким, удобным, современным и в то же время отражающим индивидуальность бренда...
            </p>
          </div>
          <a href="article.html" class="link-half magazinep__link">ПЕРЕЙТИ<img src="img/main/arrow-rg.svg" class="btn-arrow-cat" alt=""></a>
        </div>
      </div>

      <div class="magazinep__item">
        <div class="magazinep__img">
          <img src="img/main/m3.jpg" alt="">
        </div>
        <div class="magazinep__content">
          <div>
            <h5 class="magazinep__label">Встречаемся 27-29 августа на Lingerie
              Show-Forum</h5>
            <p class="magazinep__article">
              ТМ HOBBY LINE - крупнейший поставщик носочно-чулочных изделий в России, с нетерпением ждет гостей на выставке Lingerie Show-Forum в августе 2020! Lingerie Show-Forum – масштабное событие бельевой индустрии, которое проводится в Москве
              уже
              в 11 раз...
            </p>
          </div>
          <a href="article.html" class="link-half magazinep__link">ПЕРЕЙТИ<img src="img/main/arrow-rg.svg" class="btn-arrow-cat" alt=""></a>
        </div>
      </div>

      <div class="magazinep__item">
        <div class="magazinep__img">
          <img src="img/main/m4.jpg" alt="">
        </div>
        <div class="magazinep__content">
          <div>
            <h5 class="magazinep__label">Носки с надписями</h5>
            <p class="magazinep__article">
              Носки с надписями – на любой вкус !
              Яркий, заметный аксессуар, интересный и необычный элемент одежды – все это можно сказать о носках с надписями. Мы вяжем носки уже более 12 лет, и за это время разработали широкую линейку, удовлетворяющую запросы как розничных
              покупателей,
              так и оптовых байеров.
            </p>
          </div>
          <a href="article.html" class="link-half magazinep__link">ПЕРЕЙТИ<img src="img/main/arrow-rg.svg" class="btn-arrow-cat" alt=""></a>
        </div>
      </div>

      <div class="magazinep__item">
        <div class="magazinep__img">
          <img src="img/main/m5.jpg" alt="">
        </div>
        <div class="magazinep__content">
          <div>
            <h5 class="magazinep__label">Цветные носки</h5>
            <p class="magazinep__article">
              На что мы обращаем внимание, когда видим человека впервые? Внешность, прическа, одежда.
              А что, если из-под строгих отглаженных брюк вдруг выглядывают розовые или желтые носки?
              Неожиданно? Смело? Оригинально?

            </p>
          </div>
          <a href="article.html" class="link-half magazinep__link">ПЕРЕЙТИ<img src="img/main/arrow-rg.svg" class="btn-arrow-cat" alt=""></a>
        </div>
      </div>
    </div>

    <ul class="pagination">
      <li class="pagination__item"><a href="#" class="pagination__active">1</a></li>
      <li class="pagination__item"><a href="#">2</a></li>
      <li class="pagination__item"><a href="#">3</a></li>
      <li class="pagination__item"><a href="#">4</a></li>
    </ul>
    <div class="servicep__heart-top heart-dots"></div>
    <div class="servicep__heart-right heart-dots"></div>
  </section>

</main>
@@include('_footer.html')