@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><span>Сервис</span></li>
    </ul>
  </div>

  <div class="top-info minify-top-info nfp__top-info" uk-scrollspy="cls: uk-animation-fade; target: div; delay: 100; repeat: false">
    <div class="top-info__wrap main-content">
      <div class="top-info__content production__content">
        <h2 class="top-title uk-margin-remove">404</h2>
        <h3 class="not-found-page__label nfp__desktop">Страница не найдена</h3>

        <a href="catalogs-sections.html" class="link-half lookbook__link not-found-page__link">ПЕРЕЙТИ В КАТАЛОГ<img src="img/ico/filter-arr-right.svg" class="btn-arrow-cat" alt=""></a>
      </div>
      <div class="top-info__slider slider production__slider nfp__slider">
        <div class="top-info__slider-wrap">
          <div class="uk-position-relative uk-visible-toggle uk-light slider__container" tabindex="-1" uk-slider>

            <ul class="uk-slider-items uk-grid">
              <li class="uk-width-4-4">
                <div class="uk-panel slider__item">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
            </ul>
            <div class="slider__wrap-arrows">
              <a class="slider__prev" href="#" uk-slider-item="previous"></a>
              <a class="slider__next" href="#" uk-slider-item="next"></a>
            </div>
          </div>
          <div class="slider__bg top-info__bg production__bg team__bg"></div>
        </div>
      </div>
      <h3 class="not-found-page__label nfp__mob">Страница не найдена</h3>
      <h2 class="top-title-mob nfp__title">404</h2>
    </div>
    <div class="top-info__heart-dots heart-dots"></div>
  </div>

</main>
@@include('_footer.html')