@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><span>Заказ</span></li>
    </ul>
  </div>
  <div class="main-content">
    <div class="order">
      <div class="order-nav order-nav-desktop">
        <div class="order-nav__select order-nav__select-active" id="orderSelect1">Юридическое лицо</div>
        <div class="order-nav__select" id="orderSelect2">Физическое лицо</div>
      </div>

      <div class="basket-double">
        <!--Content start-->

        <div class="basket-content order-content-wrap">

          <div class="order-content order-content__active uk-animation-slide-right-medium" id="orderContainer1">
            <form action="">
              <div class="order__label">Адрес доставки:</div>
              <div class="order__inputs-field">
                <div class="label-input">
                  <div class="label-input__title">Город</div>
                  <input class="label-input__field" type="text" placeholder="Москва" required>
                </div>
                <div class="label-input">
                  <div class="label-input__title">Адрес</div>
                  <input class="label-input__field" type="text" placeholder="ул. Проспект Мира, д.54, кв.68" required>
                </div>
                <div class="label-input">
                  <div class="label-input__title">Индекс</div>
                  <input class="label-input__field" type="text" placeholder="123123" required>
                </div>
              </div>

              <div class="order__label">Тип доставки:</div>
              <div class="order__radio-wrap">
                <label class="ha-check__container ha-check__container_radio">
                  <input class="ha-check__input" name="ch1" type="radio">
                  <span class="ha-check__text">Самовывоз</span>
                  <span class="ha-check__mark hl-filter__radio"></span>
                </label>
                <label class="ha-check__container ha-check__container_radio">
                  <input class="ha-check__input" name="ch1" type="radio">
                  <span class="ha-check__text">Доставка по Хабаровску (при заказе от 3 000 рублей бесплатно)</span>
                  <span class="ha-check__mark hl-filter__radio"></span>
                </label>
                <label class="ha-check__container ha-check__container_radio">
                  <input class="ha-check__input" name="ch1" type="radio">
                  <span class="ha-check__text">Доставка до терминала транспортной компании (бесплатно)</span>
                  <span class="ha-check__mark hl-filter__radio"></span>
                </label>
              </div>

              <div class="order__label">Логистическая компания:</div>
              <div class="order__companyes">
                <div class="order__companyes-item order__companyes-checked">
                  <div>Не имеет значения</div>
                </div>
                <div class="order__companyes-item">
                  <img src="img/main/co1.svg" alt="">
                </div>
                <div class="order__companyes-item">
                  <img src="img/main/co2.svg" alt="">
                </div>
                <div class="order__companyes-item">
                  <img src="img/main/co3.svg" alt="">
                </div>
                <div class="order__companyes-item">
                  <img src="img/main/co4.svg" alt="">
                </div>
                <div class="order__companyes-item">
                  <img src="img/main/co5.svg" alt="">
                </div>
                <div class="order__companyes-item">
                  <img src="img/main/co6.svg" alt="">
                </div>
                <div class="order__companyes-item">
                  <img src="img/main/co7.svg" alt="">
                </div>
                <div class="order__companyes-item">
                  <img src="img/main/co8.svg" alt="">
                </div>
                <div class="order__companyes-item">
                  <img src="img/main/co9.svg" alt="">
                </div>
                <div class="order__companyes-item">
                  <img src="img/main/co10.svg" alt="">
                </div>
              </div>

              <div class="order__label">Данные получателя для транспортной компании:</div>
              <div class="order__inputs-field">
                <div class="label-input">
                  <div class="label-input__title">Название организации</div>
                  <input class="label-input__field" type="text" placeholder="ООО Ромашка" required>
                </div>
                <div class="label-input">
                  <div class="label-input__title">Номер телефона</div>
                  <input class="label-input__field" type="text" placeholder="+7 (___) ___-__-__" required>
                </div>
                <div class="label-input">
                  <div class="label-input__title">E-mail</div>
                  <input class="label-input__field" type="text" placeholder="ivanov@mail.com" required>
                </div>
              </div>

              <div class="order__label">Оплата:</div>
              <div class="order__radio-wrap">
                <label class="ha-check__container ha-check__container_radio">
                  <input class="ha-check__input" name="ch1" type="radio">
                  <span class="ha-check__text">На р/с юридического лица (без НДС)</span>
                  <span class="ha-check__mark hl-filter__radio"></span>
                </label>
                <label class="ha-check__container ha-check__container_radio">
                  <input class="ha-check__input" name="ch1" type="radio">
                  <span class="ha-check__text">На р/с юридического лица (включая НДС)</span>
                  <span class="ha-check__mark hl-filter__radio"></span>
                </label>
                <label class="ha-check__container ha-check__container_radio">
                  <input class="ha-check__input" name="ch1" type="radio">
                  <span class="ha-check__text">Другое</span>
                  <span class="ha-check__mark hl-filter__radio"></span>
                </label>
              </div>

              <div class="order__label">Комментарий:</div>
              <textarea name="name" class="oreder-textarea"></textarea>

              <div class="order-bottom-nav">
                <a href="basket.html" class="order-back-link">ВЕРНУТЬСЯ В КОРЗИНУ</a>
                <a href="#" class="link-half lookbook__link order-btn-get">ОФОРМИТЬ ЗАКАЗ<img src="img/ico/filter-arr-right.svg" class="btn-arrow-cat" alt=""></a>
              </div>
            </form>
          </div>
          <div class="order-content uk-animation-slide-left-medium" id="orderContainer2">
            <form action="">
              <div class="order__label">Адрес доставки:</div>
              <div class="order__inputs-field">
                <div class="label-input">
                  <div class="label-input__title">Город</div>
                  <input class="label-input__field" type="text" placeholder="Москва" required>
                </div>
                <div class="label-input">
                  <div class="label-input__title">Адрес</div>
                  <input class="label-input__field" type="text" placeholder="ул. Проспект Мира, д.54, кв.68" required>
                </div>
                <div class="label-input">
                  <div class="label-input__title">Индекс</div>
                  <input class="label-input__field" type="text" placeholder="123123" required>
                </div>
              </div>

              <div class="order__label">Тип доставки:</div>
              <div class="order__radio-wrap">
                <label class="ha-check__container ha-check__container_radio">
                  <input class="ha-check__input" name="ch1" type="radio">
                  <span class="ha-check__text">Самовывоз</span>
                  <span class="ha-check__mark hl-filter__radio"></span>
                </label>
                <label class="ha-check__container ha-check__container_radio">
                  <input class="ha-check__input" name="ch1" type="radio">
                  <span class="ha-check__text">Доставка по Хабаровску (при заказе от 3 000 рублей бесплатно)</span>
                  <span class="ha-check__mark hl-filter__radio"></span>
                </label>
                <label class="ha-check__container ha-check__container_radio">
                  <input class="ha-check__input" name="ch1" type="radio">
                  <span class="ha-check__text">Доставка до терминала транспортной компании (бесплатно)</span>
                  <span class="ha-check__mark hl-filter__radio"></span>
                </label>
              </div>

              <div class="order__label">Логистическая компания:</div>
              <div class="order__companyes">
                <div class="order__companyes-item order__companyes-checked">
                  <div>Не имеет значения</div>
                </div>
                <div class="order__companyes-item">
                  <img src="img/main/co1.svg" alt="">
                </div>
                <div class="order__companyes-item">
                  <img src="img/main/co2.svg" alt="">
                </div>
                <div class="order__companyes-item">
                  <img src="img/main/co3.svg" alt="">
                </div>
                <div class="order__companyes-item">
                  <img src="img/main/co4.svg" alt="">
                </div>
                <div class="order__companyes-item">
                  <img src="img/main/co5.svg" alt="">
                </div>
                <div class="order__companyes-item">
                  <img src="img/main/co6.svg" alt="">
                </div>
                <div class="order__companyes-item">
                  <img src="img/main/co7.svg" alt="">
                </div>
                <div class="order__companyes-item">
                  <img src="img/main/co8.svg" alt="">
                </div>
                <div class="order__companyes-item">
                  <img src="img/main/co9.svg" alt="">
                </div>
                <div class="order__companyes-item">
                  <img src="img/main/co10.svg" alt="">
                </div>
              </div>
              <div class="order-combo-label">
                <div class="order__label">Данные получателя для транспортной компании:</div>
                <a href="#modal-pers-data" class="order__pink-link" uk-toggle>Зачем нужны мои паспортные данные?</a>
              </div>
              <div class="order__inputs-field order__fileds-top">
                <div class="label-input">
                  <div class="label-input__title">ФИО</div>
                  <input class="label-input__field" type="text" placeholder="Москва" required>
                </div>
                <div class="label-input">
                  <div class="label-input__title">Номер телефона</div>
                  <input class="label-input__field" type="text" placeholder="+7 (___) ___-__-__" required>
                </div>
                <div class="label-input">
                  <div class="label-input__title">E-mail</div>
                  <input class="label-input__field" type="text" placeholder="ivanov@mail.com" required>
                </div>
              </div>

              <div class="order__inputs-field">
                <div class="label-input label-input-wrap">
                  <div class="label-input label-input__half">
                    <div class="label-input__title">Серия паспорта</div>
                    <input class="label-input__field" type="text" placeholder="1124" required>
                  </div>
                  <div class="label-input label-input__half">
                    <div class="label-input__title">Номер паспорта</div>
                    <input class="label-input__field" type="text" placeholder="2323332" required>
                  </div>
                </div>

                <div class="label-input">
                  <div class="label-input__title">Кем выдан</div>
                  <input class="label-input__field" type="text" placeholder="ОУФМС России по Московской области" required>
                </div>
                <div class="label-input label-input-wrap">
                  <div class="label-input label-input__half">
                    <div class="label-input__title">Когда выдан</div>
                    <input class="label-input__field" type="text" placeholder="" required>
                  </div>
                </div>
              </div>

              <div class="order__label">Оплата:</div>
              <div class="order__radio-wrap">
                <label class="ha-check__container ha-check__container_radio">
                  <input class="ha-check__input" name="ch1" type="radio">
                  <span class="ha-check__text">На р/с юридического лица (без НДС)</span>
                  <span class="ha-check__mark hl-filter__radio"></span>
                </label>
                <label class="ha-check__container ha-check__container_radio">
                  <input class="ha-check__input" name="ch1" type="radio">
                  <span class="ha-check__text">На р/с юридического лица (включая НДС)</span>
                  <span class="ha-check__mark hl-filter__radio"></span>
                </label>
                <label class="ha-check__container ha-check__container_radio">
                  <input class="ha-check__input" name="ch1" type="radio">
                  <span class="ha-check__text">Другое</span>
                  <span class="ha-check__mark hl-filter__radio"></span>
                </label>
              </div>

              <div class="order__label">Комментарий:</div>
              <textarea name="name" class="oreder-textarea"></textarea>

              <div class="order-bottom-nav">
                <a href="basket.html" class="order-back-link">ВЕРНУТЬСЯ В КОРЗИНУ</a>
                <a href="#" class="link-half lookbook__link order-btn-get">ОФОРМИТЬ ЗАКАЗ<img src="img/ico/filter-arr-right.svg" class="btn-arrow-cat" alt=""></a>
              </div>
            </form>
          </div>

        </div>
        <!--Content end-->
        <div class="order-nav order-nav-mob">
          <div class="order-nav__select order-nav__select-active" id="orderSelect1">Юридическое лицо</div>
          <div class="order-nav__select" id="orderSelect2">Физическое лицо</div>
        </div>

        <div class="basket-info">
          <div class="order-count"><span>3</span>товара</div>
          <h4 class="basket-info__label order-mrg-label">Итого к оплате:</h4>
          <div class="basket-info__line">
            <span class="basket-info__line-name">Сумма покупки:</span>
            <span class="basket-info__line-cur">13 210 руб.</span>
          </div>
          <div class="basket-info__line">
            <span class="basket-info__line-name">Скидка:</span>
            <span class="basket-info__line-cur">210 руб.</span>
          </div>

          <div class="basket-divider"></div>

          <div class="basket-info__line">
            <span class="basket-info__line-name">Общая стоимость:</span>
            <span class="basket-info__line-cur">13 000 руб.</span>
          </div>

        </div>
      </div>
    </div>
  </div>

</main>


<div id="modal-pers-data" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical hl-modal__body order-popup">
    <button class="uk-modal-close-outside hl-modal__close" type="button">
      <img src="img/main/ha-modal-plus.svg" alt="">
    </button>

    <h3 class="order-popup__label">Уважаемые клиенты!</h3>
    <p>
      В 2016 году, в связи с поправками в Федеральный закон «О противодействии терроризму», который подписал лично В.В. Путин изменились правила оформления документов для отправки грузов. Как для физических, так и для юридических лиц.
    </p>
    <p>
      В связи с этим, для отправки ваших заказов в другие регионы мы должны предоставлять транспортным компаниям следующие данные:
    </p>
    <p>
      <b>1. для грузов физическим лицам: </b>
      - полностью ФИО;<br>
      - адрес получателя, если заказана доставка до адреса. Или город, если вы будете забрать груз со склада транспортной компании;<br>
      - данные документа, удостоверяющего личность (паспорта);
      - контактный телефон;<br>
    </p>
    <p>
      <b>2. для грузов юридическим лицам: практически все ваши реквизиты, на которые выставляется счет и данные контактного лица:</b>
      - полное наименование ИП или организации с формой собственности;<br>
      - ИНН или БИН/РНН/УНН, если получатель не из России;<br>
      - адрес получателя, если заказана доставка до адреса. Или город, если вы будете забрать груз со склада транспортной компании;<br>
      - юридический адрес (для заказа на сайте эти данные не требуются);<br>
      - КПП (для заказа на сайте эти данные не требуются)<br>
      - ФИО контактного лица;<br>
      - контактный телефон.
    </p>
    <p>
      На сайте любой транспортной компании расписано тоже самое.
    </p>
    <b>
      Надеемся на ваше понимание. Спасибо заранее за уважение к силам и времени наших менеджеров.</b>

  </div>
</div>
@@include('_footer.html')