@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><span>Восстановление пароля</span></li>
    </ul>
  </div>
  <div class="main-content auth-wrap">
    <div class="auth-form">
      <h2 class="auth-form__label">Забыли пароль?</h2>
      <form action="">
        <div class="auth-form__text">
          <input type="text" id="email-input" placeholder="Email*" name="email">
        </div>
        <a href="#" class="link-half lookbook__link auth-form__rec-pass-btn">ЗАПРОСИТЬ ССЫЛКУ ДЛЯ ВОССТАНОВЛЕНИЯ ПАРОЛЯ<picture>
            <img src="img/main/arrow-rg.svg" class="btn-arrow-cat" alt="">
        </a>
      </form>
    </div>

    <div class="top-info__heart-dots heart-dots auth-dot-top"></div>
    <div class="heart-dots auth-dot-bottom"></div>
  </div>

</main>
@@include('_footer.html')