@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><span>Личный кабинет</span></li>
    </ul>
  </div>
  <section class="main-content">
    <div class="lk">
      @@include('_lk-sidebar.html')
      <div class="lk-content">
        <div class="lk-profile">
          <div class="lk-profile__title">Персональные данные</div>
          <form class="lk-profile__data">
            <div class="lk-profile__col">
              <div class="lk-profile__item">
                <div class="lk-profile__label">ФИО</div>
                <div class="lk-profile__val">
                  <input class="lk-profile__input" placeholder="Алексеев Алексей Иванович" type="text" name="" value="">
                </div>
              </div>

              <div class="lk-profile__item">
                <div class="lk-profile__label">Адрес доставки</div>
                <div class="lk-profile__val">
                  <input class="lk-profile__input" placeholder="Москва, ул. Проспект Мира, д.54, кв.68" type="text" name="" value="">
                </div>
              </div>
            </div>

            <div class="lk-profile__col">
              <div class="lk-profile__item">
                <div class="lk-profile__label">E-mail</div>
                <div class="lk-profile__val">
                  <input class="lk-profile__input" placeholder="alexeev@mail.ru" type="text" name="" value="">
                </div>
              </div>

              <div class="lk-profile__item">
                <div class="lk-profile__label">Индекс</div>
                <div class="lk-profile__val">
                  <input class="lk-profile__input" placeholder="112414" type="text" name="" value="">
                </div>
              </div>
            </div>


            <div class="lk-profile__col">
              <div class="lk-profile__item">
                <div class="lk-profile__label">Город</div>
                <div class="lk-profile__val"><input class="lk-profile__input" placeholder="Москва" type="text" name="" value="">
                </div>
              </div>

              <div class="lk-profile__item">
                <div class="lk-profile__label">Номер телефона</div>
                <div class="lk-profile__val"><input class="lk-profile__input" placeholder="+7(999)999-99-99" type="text" name="" value="">
                </div>
              </div>
            </div>
          </form>

          <div class="lk-profile__title">Данные организации</div>
          <a href="#" class="lk-profile__red-link">Стать оптовым клиентом</a>
          <div class="lk-profile__title  uk-margin-large-top">Управление подписками</div>
          <div class="lk-subscribe">

            <div class="lk-subscribe__item">
              <div class="button r" id="button-1">
                <input type="checkbox" class="checkbox">
                <div class="knobs"></div>
                <div class="layer"></div>
              </div>
              <div class="lk-subscribe__text">Подписка на новые статьи</div>
            </div>

            <div class="lk-subscribe__item">
              <div class="button r" id="button-1">
                <input type="checkbox" class="checkbox" checked>
                <div class="knobs"></div>
                <div class="layer"></div>
              </div>
              <div class="lk-subscribe__text">Подписка на акции и спецпредложения</div>
            </div>

            <div class="lk-subscribe__item">
              <div class="button r" id="button-1">
                <input type="checkbox" class="checkbox" checked>
                <div class="knobs"></div>
                <div class="layer"></div>
              </div>
              <div class="lk-subscribe__text">Уведомление о поступлении <a href="#">Носки ******* Арт. 1567</a></div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>

</main>
@@include('_footer.html')