@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><a href="about-company.html">О компании</a></li>
      <li><span>Производство</span></li>
    </ul>
  </div>
  <div class="top-info minify-top-info" uk-scrollspy="cls: uk-animation-fade; target: div; delay: 100; repeat: false">
    <div class="top-info__wrap main-content">
      <div class="top-info__content production__content">
        <h2 class="top-title">Производство</h2>
        <p class="top-info__col">Производство компании HOBBY LINE находится в Хабаровске. Фабрика расположена на территории базы компании и успешно обеспечивает производственными мощностями все возрастающие заказы наших оптовых партнеров и розничных
          клиентов. В 2018 году заказы от наших партнеров и дистрибьюторов увеличивались так стремительно, что поставщики продукции не успевали их выполнять. Понимая, что тенденция к увеличению объемов заказов на цветные носки сохранится, мы приняли
          решение об открытии собственного производства в Хабаровске. Для этого были приобретены современные станки, налажена производственная линия, выбраны поставщики качественного сырья.

        </p>
      </div>
      <div class="top-info__slider slider production__slider">
        <div class="top-info__slider-wrap">
          <div class="uk-position-relative uk-visible-toggle uk-light slider__container" tabindex="-1" uk-slider>

            <ul class="uk-slider-items uk-grid">
              <li class="uk-width-4-4">
                <div class="uk-panel slider__item">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
            </ul>
            <div class="slider__wrap-arrows">
              <a class="slider__prev" href="#" uk-slider-item="previous"></a>
              <a class="slider__next" href="#" uk-slider-item="next"></a>
            </div>
          </div>
          <div class="slider__bg top-info__bg production__bg"></div>
        </div>
      </div>
      <h2 class="top-title-mob">Производство</h2>
    </div>
    <div class="top-info__heart-dots heart-dots"></div>
  </div>

  <section class="video production__video main-content" uk-scrollspy="cls: uk-animation-fade; target: div; delay: 100; repeat: false" offset-top="-200">
    <h2 class="title video__label">Ролик о производстве</h2>
    <div class="video__wrap">
      <video src="https://yootheme.com/site/images/media/yootheme-pro.mp4" class="video__video" controls playsinline uk-video="automute: true"></video>
      <div class="video__bg"></div>
    </div>
    <div class="video__heart-dots heart-dots"></div>
  </section>



  <div class="top-info minify-top-info production__bottom-info prod-tech" uk-scrollspy="cls: uk-animation-fade; target: div; delay: 100; repeat: false">
    <div class="top-info__wrap main-content">
      <div class="top-info__content production__content">
        <h2 class="top-title our-tech-mob-label">Наши технологии</h2>
        <p class="top-info__col">23 июля 2018 года был связан первый носок HOBBY LINE на новой фабрике.
          В течение следующих двух лет производство заработало в 2 смены, наша продукция стала еще более востребованной благодаря выгодному сочетанию цены и качества. Количество партнеров HOBBY LINE продолжает увеличиваться каждый месяц.
          Мы рады видеть, что подошли к следующему этапу расширения, и уже заказали новую партию станков для производства. Мы ставим амбициозные цели и уверены, что в будущем превратимся в крупнейшую российскую фабрику по производству
          чулочно-носочных изделий.
        </p>
      </div>
      <div class="top-info__slider slider production__slider production__bottom-wrap">
        <div class="top-info__slider-wrap">
          <div class="uk-position-relative uk-visible-toggle uk-light slider__container" tabindex="-1" uk-slider>

            <ul class="uk-slider-items uk-grid">
              <li class="uk-width-4-4">
                <div class="uk-panel slider__item">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
            </ul>
            <div class="slider__wrap-arrows">
              <a class="slider__prev" href="#" uk-slider-item="previous"></a>
              <a class="slider__next" href="#" uk-slider-item="next"></a>
            </div>
          </div>
          <div class="slider__bg top-info__bg production__bg"></div>
        </div>
      </div>
      <h2 class="top-title-mob our-tech-mob-label">Наши технологии</h2>
    </div>
    <div class="top-info__heart-dots heart-dots production__bg-bottom"></div>
  </div>

</main>
@@include('_footer.html')