@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><span>Зарегистрироваться</span></li>
    </ul>
  </div>
  <div class="main-content auth-wrap">
    <div class="auth-form reg">
      <div class="reg__top-nav">
        <div class="reg__top-item reg__top-active" id="label-1">Оптовый клиент</div>
        <div class="reg__top-item" id="label-2">Розничный клиент</div>
      </div>
      <div class="reg__pad reg__cont-active uk-animation-slide-right-medium" id="cont-1">
        <form action="">

          <div class="reg__steps reg__steps-active" id="step1">
            <h2 class="auth-form__label">Зарегистрироваться <span>1 шаг/3</span></h2>
            <div class="auth-form__text">
              <input type="text" class="hl-require" id="opt-name" placeholder="Имя*" name="opt-name" required>
            </div>
            <div class="auth-form__text">
              <input type="text" class="hl-require" id="opt-lastname" placeholder="Фамилия*" name="opt-lastname" required>
            </div>
            <div class="auth-form__text">
              <input type="text" id="opt-patronymic" placeholder="Отчество" name="opt-patronymic">
            </div>
            <div class="link-half lookbook__link auth-form__login reg__next">Далее
              <img src="img/main/arrow-rg.svg" class="btn-arrow-cat" alt="">
            </div>
          </div>

          <div class="reg__steps uk-animation-slide-right-medium" id="step2">
            <h2 class="auth-form__label">Зарегистрироваться <span>2 шаг/3</span></h2>
            <div class="auth-form__text">
              <input type="text" class="hl-require" id="opt-org" placeholder="Название вашей организации*" name="opt-org" required>
            </div>
            <div class="auth-form__text">
              <input type="text" class="hl-require" id="opt-city" placeholder="Город*" name="opt-city" required>
            </div>
            <div class="auth-form__text">
              <input type="text" class="hl-require" id="opt-inn" placeholder="ИНН*" name="opt-inn" required>
            </div>
            <div class="auth-form__text">
              <input type="text" id="opt-adres" placeholder="Адрес доставки" name="opt-adres">
            </div>
            <div class="link-half lookbook__link auth-form__login reg__next">Далее
              <img src="img/main/arrow-rg.svg" class="btn-arrow-cat" alt="">
            </div>
          </div>

          <div class="reg__steps uk-animation-slide-right-medium" id="step3">
            <h2 class="auth-form__label">Зарегистрироваться <span>3 шаг/3</span></h2>
            <div class="auth-form__text">
              <input type="text" class="hl-require" id="opt-phone" placeholder="Номер телефона*" name="opt-phone" required>
            </div>
            <div class="auth-form__text">
              <input type="text" class="hl-require" id="opt-email-input" placeholder="Email*" name="opt-email" required>
            </div>
            <div class="auth-form__text">
              <input type="password" class="hl-require" id="opt-pass" placeholder="Пароль*" name="opt-pass" required>
            </div>
            <div class="auth-form__text">
              <input type="password" class="hl-require" id="opt-pass-rep" placeholder="Повторите пароль*" name="opt-pass-rep" required>
            </div>
            <div class="remember">
              <div>
                <input type="checkbox" class="custom-checkbox" name="" id="pers-data" value="">
                <label for="pers-data" class="footer__label remember__label reg__chechbox">Даю согласие на <a href="#">обработку данных</a></label>
              </div>
            </div>
            <a href="#" class="link-half lookbook__link auth-form__login reg__reg-btn" id="reg-opt">ЗАРЕГИСТРИРОВАТЬСЯ
              <img src="img/main/arrow-rg.svg" class="btn-arrow-cat" alt="">
            </a>

          </div>
        </form>
        <p class="auth-form__reg">
          или <a href="#">войти</a>
        </p>
      </div>


      <div class="reg__pad uk-animation-slide-left-medium" id="cont-2">
        <form action="">

          <div class="reg__steps reg__steps-active" id="roz-step1">
            <h2 class="auth-form__label">Зарегистрироваться <span>1 шаг/2</span></h2>
            <div class="auth-form__text">
              <input type="text" class="hl-require" id="roz-name" placeholder="Имя*" name="roz-name" required>
            </div>
            <div class="auth-form__text">
              <input type="text" class="hl-require" id="roz-lastname" placeholder="Фамилия*" name="roz-lastname" required>
            </div>
            <div class="auth-form__text">
              <input type="text" id="roz-patronymic" placeholder="Отчество" name="roz-patronymic">
            </div>
            <div class="auth-form__text">
              <input type="text" class="hl-require" id="roz-phone" placeholder="Номер телефона*" name="roz-phone" required>
            </div>
            <div class="link-half lookbook__link auth-form__login reg__next-roz">Далее
              <img src="img/main/arrow-rg.svg" class="btn-arrow-cat" alt="">
            </div>
          </div>

          <div class="reg__steps uk-animation-slide-right-medium" id="roz-step2">
            <h2 class="auth-form__label">Зарегистрироваться <span>2 шаг/2</span></h2>
            <div class="auth-form__text">
              <input type="text" class="hl-require" id="roz-email-input" placeholder="Email*" name="roz-email" required>
            </div>
            <div class="auth-form__text">
              <input type="password" class="hl-require" id="roz-pass" placeholder="Пароль*" name="roz-pass" required>
            </div>
            <div class="auth-form__text">
              <input type="password" class="hl-require" id="roz-pass-rep" placeholder="Повторите пароль*" name="roz-pass-rep" required>
            </div>
            <div class="remember">
              <div>
                <input type="checkbox" class="custom-checkbox" name="" id="pers-dara-roz" value="">
                <label for="pers-dara-roz" class="footer__label remember__label reg__chechbox">Даю согласие на <a href="#">обработку данных</a></label>
              </div>
            </div>
            <a href="#" class="link-half lookbook__link auth-form__login reg__reg-btn" id="reg-roz">ЗАРЕГИСТРИРОВАТЬСЯ
              <img src="img/main/arrow-rg.svg" class="btn-arrow-cat" alt="">
            </a>
          </div>
        </form>
        <p class="auth-form__reg">
          или <a href="#">войти</a>
        </p>
      </div>
    </div>

    <div class="top-info__heart-dots heart-dots auth-dot-top"></div>
    <div class="heart-dots auth-dot-bottom"></div>
  </div>

</main>
@@include('_footer.html')