@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><a href="service.html">Сервис</a></li>
      <li><span>Возврат</span></li>
    </ul>
  </div>
  <section uk-scrollspy="cls: uk-animation-fade; target: div; delay: 0; repeat: false">
    <div class="top-full-size">
      <div class="top-info__wrap main-content">
        <div class="buy-top__content">
          <h2 class="top-title uk-margin-small-bottom not-hide-mob uk-margin-medium-top">Условия возврата</h2>
          <p class="top-info__col">Мы предлагаем своим клиентам самые удобные виды доставки.... Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика
            большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами.
          </p>
        </div>
      </div>
      <div class="top-info__heart-dots heart-dots"></div>
    </div>
  </section>
  <section class="sf-terms main-content deliv uk-margin-large-top">
    <div class="sf-terms__full uk-margin-medium-top">
      <div class="sf-terms__content">
        <p class="sf-terms__paragraph">
          Согласно ст. 25 закона РФ «О защите прав потребителей» в редакции Постановлений Правительства от 20.10.1998 № 1222, чулочно-носочные изделия включены в «Перечень непродовольственных товаров надлежащего качества», которые не подлежат
          возврату или обмену на аналогичные модели других размера, формы, габарита, фасона, расцветки или комплектации.
        </p>
      </div>
      <div class="sf-terms__bg"></div>
    </div>
  </section>
</main>
@@include('_footer.html')