@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><span>Сервис</span></li>
    </ul>
  </div>
  <h1>Сервис</h1>

</main>
@@include('_footer.html')