@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><a href="about-company.html">О компании</a></li>
      <li><span>Команда</span></li>
    </ul>
  </div>

  <div class="top-info minify-top-info" uk-scrollspy="cls: uk-animation-fade uk-animation-fast; target: .staff__item; delay: 0; repeat: false">
    <div class="top-info__wrap main-content">
      <div class="top-info__content production__content">
        <h2 class="top-title">Наша команда</h2>
        <p class="top-info__col">Текст про дружный клиентоориентированный коллектив. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех <br>
          живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми
          необходимыми правилами.
        </p>
      </div>
      <div class="top-info__slider slider production__slider">
        <div class="top-info__slider-wrap">
          <div class="uk-position-relative uk-visible-toggle uk-light slider__container" tabindex="-1" uk-slider>

            <ul class="uk-slider-items uk-grid">
              <li class="uk-width-4-4">
                <div class="uk-panel slider__item">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
              <li class="uk-width-4-4 slider__item">
                <div class="uk-panel">
                  <img src="img/main/f1.jpg" alt="">
                </div>
              </li>
            </ul>
            <div class="slider__wrap-arrows">
              <a class="slider__prev" href="#" uk-slider-item="previous"></a>
              <a class="slider__next" href="#" uk-slider-item="next"></a>
            </div>
          </div>
          <div class="slider__bg top-info__bg production__bg team__bg"></div>
        </div>
      </div>
      <h2 class="top-title-mob">Наша команда</h2>
    </div>
    <div class="top-info__heart-dots heart-dots"></div>
  </div>

  <section class="main-content staff" uk-scrollspy="cls: uk-animation-fade; target: div; delay: 0; repeat: false" offset-top="0">
    <h3 class="title staff__title">Руководство</h3>
    <div class="staff__row">
      <div class="staff__item">
        <div class="staff__img-wrap">
          <div class="staff__img">
            <img src="img/team/sindeeva.jpg" alt="">
          </div>
          <div class="staff__img-bg"></div>
        </div>
        <div class="staff__content">
          <h4 class="staff__label">Синдеева <div>Татьяна Геннадьевна</div>
          </h4>
          <div class="staff__rang">cобственник торговой марки
          </div>
          <!-- <div class="staff__info">
            <img src="img/main/mini-phone.svg" alt="">
            <a href="tel:+74212751700" class="staff__link">+7 4212 75-17-00</a>
          </div> -->
          <div class="staff__info">
            <img src="img/main/message.svg" alt="">
            <a href="mailto:star-way@mail.ru" class="staff__link">star-way@mail.ru</a>
          </div>
        </div>
      </div>
    </div>

    <h3 class="title staff__title">Отдел продаж</h3>
    <div class="staff__row">

      <div class="staff__item">
        <div class="staff__img-wrap">
          <div class="staff__img">
            <img src="img/team/kazak.jpg" alt="">
          </div>
          <div class="staff__img-bg"></div>
        </div>
        <div class="staff__content">
          <h4 class="staff__label">Казак <div>Григорий Анатольевич</div>
          </h4>
          <div class="staff__rang">начальник отдела продаж
          </div>
          <div class="staff__info">
            <img src="img/main/message.svg" alt="">
            <a href="mailto:grkazak@yandex.ru" class="staff__link">grkazak@yandex.ru</a>
          </div>
        </div>
      </div>

      <div class="staff__item">
        <div class="staff__img-wrap">
          <div class="staff__img">
            <img src="img/team/mejeckaya.jpg" alt="">
          </div>
          <div class="staff__img-bg"></div>
        </div>
        <div class="staff__content">
          <h4 class="staff__label">Межецкая Людмила
          </h4>
          <div class="staff__rang">сетевой менеджер
          </div>
          <div class="staff__info">
            <img src="img/main/message.svg" alt="">
            <a href="mailto:lyuda.burdakova@yandex.ru" class="staff__link">lyuda.burdakova@yandex.ru</a>
          </div>
        </div>
      </div>

      <div class="staff__item">
        <div class="staff__img-wrap">
          <div class="staff__img">
            <img src="img/main/staff.jpg" alt="">
          </div>
          <div class="staff__img-bg"></div>
        </div>
        <div class="staff__content">
          <h4 class="staff__label">Яринчук Наталья
          </h4>
          <div class="staff__rang">сетевой менеджер
          </div>
          <div class="staff__info">
            <img src="img/main/message.svg" alt="">
            <a href="mailto:new_visota@mail.ru" class="staff__link">new_visota@mail.ru</a>
          </div>
        </div>
      </div>

      <div class="staff__item">
        <div class="staff__img-wrap">
          <div class="staff__img">
            <img src="img/team/sinkevich.jpg" alt="">
          </div>
          <div class="staff__img-bg"></div>
        </div>
        <div class="staff__content">
          <h4 class="staff__label">Синкевич Анна
          </h4>
          <div class="staff__rang">старший менеджер оптовых продаж
          </div>
          <div class="staff__info">
            <img src="img/main/message.svg" alt="">
            <a href="mailto:annasinkevich@yandex.ru" class="staff__link">annasinkevich@yandex.ru</a>
          </div>
        </div>
      </div>

      <div class="staff__item">
        <div class="staff__img-wrap">
          <div class="staff__img">
            <img src="img/main/staff.jpg" alt="">
          </div>
          <div class="staff__img-bg"></div>
        </div>
        <div class="staff__content">
          <h4 class="staff__label">Куц Евгения
          </h4>
          <div class="staff__rang">менеджер оптовых продаж
          </div>
          <div class="staff__info">
            <img src="img/main/message.svg" alt="">
            <a href="mailto:EvgeniyaKuts93@yandex.ru" class="staff__link">EvgeniyaKuts93@yandex.ru</a>
          </div>
        </div>
      </div>

      <div class="staff__item">
        <div class="staff__img-wrap">
          <div class="staff__img">
            <img src="img/team/pechenkina.jpg" alt="">
          </div>
          <div class="staff__img-bg"></div>
        </div>
        <div class="staff__content">
          <h4 class="staff__label">Печенкина Лариса
          </h4>
          <div class="staff__rang">менеджер оптовых продаж
          </div>
          <div class="staff__info">
            <img src="img/main/message.svg" alt="">
            <a href="mailto:lorkanv@mail.ru" class="staff__link">lorkanv@mail.ru</a>
          </div>
        </div>
      </div>

      <div class="staff__item">
        <div class="staff__img-wrap">
          <div class="staff__img">
            <img src="img/team/pak.jpg" alt="">
          </div>
          <div class="staff__img-bg"></div>
        </div>
        <div class="staff__content">
          <h4 class="staff__label">Пак Алена
          </h4>
          <div class="staff__rang">менеджер оптовых продаж
          </div>
          <div class="staff__info">
            <img src="img/main/message.svg" alt="">
            <a href="mailto:Alena-opt-starway@mail.ru" class="staff__link">Alena-opt-starway@mail.ru</a>
          </div>
        </div>
      </div>

      <div class="staff__item">
        <div class="staff__img-wrap">
          <div class="staff__img">
            <img src="img/main/staff.jpg" alt="">
          </div>
          <div class="staff__img-bg"></div>
        </div>
        <div class="staff__content">
          <h4 class="staff__label">Полякова Светлана
          </h4>
          <div class="staff__rang">менеджер оптовых продаж
          </div>
          <div class="staff__info">
            <img src="img/main/message.svg" alt="">
            <a href="mailto:mariniha@yandex.ru" class="staff__link">mariniha@yandex.ru</a>
          </div>
        </div>
      </div>

      <div class="staff__item">
        <div class="staff__img-wrap">
          <div class="staff__img">
            <img src="img/team/timofeeva.jpg" alt="">
          </div>
          <div class="staff__img-bg"></div>
        </div>
        <div class="staff__content">
          <h4 class="staff__label">Тимофеева Наталья
          </h4>
          <div class="staff__rang">менеджер оптовых продаж и розничных продаж
          </div>
          <div class="staff__info">
            <img src="img/main/message.svg" alt="">
            <a href="mailto:koftochka-woman@mail.ru" class="staff__link">koftochka-woman@mail.ru</a>
          </div>
        </div>
      </div>

      <div class="staff__item">
        <div class="staff__img-wrap">
          <div class="staff__img">
            <img src="img/main/staff.jpg" alt="">
          </div>
          <div class="staff__img-bg"></div>
        </div>
        <div class="staff__content">
          <h4 class="staff__label">Насыпайко Кристина
          </h4>
          <div class="staff__rang">менеджер оптовых продаж
          </div>
          <div class="staff__info">
            <img src="img/main/message.svg" alt="">
            <a href="mailto:kristina_demina_2021@mail.ru" class="staff__link">kristina_demina_2021@mail.ru</a>
          </div>
        </div>
      </div>

    </div>
  </section>

</main>
@@include('_footer.html')