@@include('_header.html')
<main>
  <div class="main-content">
    <ul class="uk-breadcrumb breadcrumb">
      <li><a href="index.html">Главная</a></li>
      <li><a href="about-company.html">О компании</a></li>
      <li><span>Вакансии</span></li>
    </ul>
  </div>
  <section class="vacancies main-content">
    <h1 class="title vacancies__title">Ищем новые лица</h1>
    <p class="vacancies__top-article">
      Мы - компания HOBBY LINE, более 20 лет на рынке в сфере оптово-розничной продажи носочно-чулочных изделий. У нас свое производство в Хабаровске, крупная сеть партнеров и большие планы на будущее. Наш коллектив - дружная и крепкая команда
      единомышленников, многие из которых с нами с самого начала, а кто-то присоединился не так давно, но уже стал неотъемлемой частью коллектива. В связи с расширением и активно растущими оборотами мы находимся в поиске новых сотрудников, которых
      будем рады приветствовать в семье HOBBYLINE. Сегодня у нас есть следующие вакансии:
    </p>

    <div class="accordion">
      <ul uk-accordion>
        <li class="uk-open accordion__item">
          <a class="uk-accordion-title" href="#">Маркетолог</a>
          <div class="uk-accordion-content">
            <h3 class="accordion__label">Маркетолог</h3>
            <h6 class="accordion__mini-label">Хочется найти:</h6>
            <p class="accordion__article">Целеустремленного человека, того, кому интересно развивать компанию, в которой он работает и вести ее к достижению цели: Быть №1 в своем сегменте на российском
              рынке. Того, кто очень любит маркетинг, продвижение и считает это делом своей жизни. Человека, который знает рынок, работал в сфере легкой промышленности или fashion-
              индустрии. Того, для кого маркетинг – это игра, в которой он всегда выигрывает, помогает организовывать продажи и приводит в бизнес новых клиентов!
            </p>
            <h6 class="accordion__mini-label">Обязанности:</h6>
            <ul class="circle-list">
              <li class="circle-list__item">Разработка общей маркетинговой и рекламной стратегии компании: позиционирование бренда, ценовая стратегия.</li>
              <li class="circle-list__item">Реализация маркетинговых мероприятий по выходу на новые рынки, в том числе зарубежные</li>
              <li class="circle-list__item">Изучение потребителей/рынка (проведение опросов, изучение сайтов конкурентов, поиск основных “болей” клиента, разработка ценностного предложения)</li>
              <li class="circle-list__item">Разработка маркетинговой стратегии на сезон (6 месяцев)</li>
              <li class="circle-list__item">Создание и реализация детальных (ежеквартальных, ежемесячных) маркетинговых планов в рамках стратегии</li>
              <li class="circle-list__item">Постановка измеримых показателей эффективности маркетинга</li>
              <li class="circle-list__item">Еженедельная оценка эффективности работы по показателям, их анализ и предложение путей дальнейшего развития маркетинга</li>
              <li class="circle-list__item">Управление маркетинговым бюджетом, его оптимизация</li>
              <li class="circle-list__item">Участие в планерках с собственниками и отделом продаж</li>
              <li class="circle-list__item">Поиск подрядчиков, партнеров и проведение переговоров с ними, заключение договоров</li>
              <li class="circle-list__item">Проведение планёрок с подрядчиками</li>
              <li class="circle-list__item">Постановка (распределение) задач с указанием сроков</li>
              <li class="circle-list__item lower-lvl-list">Руководство рекламными кампаниями совместно с подрядчиками:
                <ul>
                  <li>Планирование и бюджетирование </li>
                  <li>Поиск путей оптимизации расходов и повышения эффективности</li>
                  <li>Партнёрские программы.</li>
                </ul>
              </li>
              <li class="circle-list__item">Построение имиджа компании</li>
              <li class="circle-list__item">Организация участия работы компании на выставках B2B</li>
              <li class="circle-list__item">Планирование рекламных акций/ инфоповодов (июнь-июль - пора отпусков, август - Back to office, 8 марта и Новый год - праздничные активности) и реализовывать их -
                разрабатывать баннеры, креативы, ставить ТЗ закупщикам трафика, дизайнерам, копирайтерам</li>
              <li class="circle-list__item">Разработка контента: фото, видео, текстового или постановка задач исполнителям</li>
              <li class="circle-list__item">Размещение контента на сайте компании</li>
              <li class="circle-list__item">Внутренняя seo-оптимизация сайта</li>
              <li class="circle-list__item">Ведение email-маркетинга (регулярные рассылки, welcome-цепочки, тригерные рассылки, др.)</li>
              <li class="circle-list__item">Ведение соц сетей ВКонтакте, Одноклассники, Facebook, Instagram: контент-план, его реализация, ответы на запросы или передача запросов ответственному менеджеру</li>
              <li class="circle-list__item">Решение смежных оперативных маркетинговых задач, в том числе: выполнение разовых поручений (например, выбрать максимально приемлемое предложение,
                изготовить сертификаты-благодарности о сотрудничестве, заказать фирменные подарки, бейджи, фирменный скоч, корпоративную форму сотрудника склада)</li>
              <li class="circle-list__item">Изучение современных инструментов маркетинга, их оценка и внедрение в бизнес</li>
              <li class="circle-list__item">Анализ изменений на рынке, отслеживание трендов</li>
            </ul>

            <h6 class="accordion__mini-label">Требования:</h6>
            <ul class="circle-list">
              <li class="circle-list__item">Возраст от 25 до 40 лет.
              </li>
              <li class="circle-list__item">Продвинутый пользователь ПК (MS Office - Word, Excel, Power Point; 1С, Web, Mail).</li>
              <li class="circle-list__item">Высокий уровень коммуникации, презентационные навыки.</li>
              <li class="circle-list__item">Сильные аналитические способности. Умение работать с цифрами (работаете в excel на уровне простых моделей, сводных таблиц).</li>
              <li class="circle-list__item">Умение строить и проверять гипотезы (давайте покажем рекламу Продукта для аудитории женщин с интересом fashion), смотреть на результаты и делать выводы.</li>
              <li class="circle-list__item">Понимание “воронки продаж” (первичное знакомство с продуктом, заинтересованность, поиск лучших вариантов для покупки, покупка) и умение применять на практике.</li>
              <li class="circle-list__item">Умение работать с аналитикой (Google Analytics, Яндекс.Метрика, Roistat).</li>
              <li class="circle-list__item">Умение оперировать показателями эффективности рекламы (CTR, CPC, CPA, CPO, ROI) – понимание, что означают эти показатели, как считаются, как их можно изменить в лучшую сторону.</li>
              <li class="circle-list__item">Умение составлять технические задания, управлять подрядчиками.</li>
              <li class="circle-list__item">Знание профессиональных программ минимум на базовом уровне: Photoshop, CorelDRAW / Illustrator.</li>
              <li class="circle-list__item">Высшее или средне-специальное образование.</li>
              <li class="circle-list__item">Опыт работы от 1 года в маркетинге и digital-маркетинге.</li>
              <li class="circle-list__item">Быстрая обучаемость.</li>
              <li class="circle-list__item">Знание рынка чулочно-носочных изделий будет плюсом.</li>

            </ul>


            <h6 class="accordion__mini-label">Личные качества:</h6>
            <ul class="circle-list">
              <li class="circle-list__item">Активная жизненная позиция, ориентированность на результат.</li>
              <li class="circle-list__item">Ответственность за результат и принятые решение, личная организованность.</li>
              <li class="circle-list__item">Желание постоянно обучаться и профессионально расти.</li>
              <li class="circle-list__item">Четкость в выполнении поставленных задач.</li>
              <li class="circle-list__item">Умение соблюдать инструкции.</li>
              <li class="circle-list__item">Инициативность.</li>
              <li class="circle-list__item">Ответственность, презентабельный внешний вид.</li>
              <li class="circle-list__item">Грамотная письменная и устная речь.</li>
              <li class="circle-list__item">Позитивный настрой и желание зарабатывать.</li>

            </ul>

            <h6 class="accordion__mini-label">Условия:</h6>
            <ul class="circle-list">
              <li class="circle-list__item">Оформление по ТК РФ.</li>
              <li class="circle-list__item">График работы: понедельник-пятница с 9.00 до 18.00.</li>
              <li class="circle-list__item">Работа в комфортабельном офисе.</li>
              <li class="circle-list__item">Стабильность.</li>
              <li class="circle-list__item">Сложившийся дружный коллектив.</li>
              <li class="circle-list__item">Оклад 00 000 рублей + KPI. Уровень заработной платы не ограничивается и полностью зависит от желания зарабатывать!</li>
              <li class="circle-list__item">Испытательный срок 1-3 месяца.</li>
              <li class="circle-list__item">Покупка изделий компании по оптовым ценам.</li>
            </ul>

            <h6 class="accordion__mini-label">Адрес:</h6>
            <p class="vacancies__top-article">680022, Хабаровский край, г. Хабаровск, ул. Лазо, 3А/2</p>

            <h6 class="accordion__mini-label">Тип занятости:</h6>
            <p class="vacancies__top-article">Полная занятость, полный день.</p>
          </div>
        </li>
        <li class="accordion__item">
          <a class="uk-accordion-title" href="#">Региональный менеджер</a>
          <div class="uk-accordion-content">
            <h3 class="accordion__label">Маркетолог</h3>
            <h6 class="accordion__mini-label">Хочется найти:</h6>
            <p class="accordion__article">Целеустремленного человека, того, кому интересно развивать компанию, в которой он работает и вести ее к достижению цели: Быть №1 в своем сегменте на российском
              рынке. Того, кто очень любит маркетинг, продвижение и считает это делом своей жизни. Человека, который знает рынок, работал в сфере легкой промышленности или fashion-
              индустрии. Того, для кого маркетинг – это игра, в которой он всегда выигрывает, помогает организовывать продажи и приводит в бизнес новых клиентов!
            </p>
            <h6 class="accordion__mini-label">Обязанности:</h6>
            <ul class="circle-list">
              <li class="circle-list__item">Разработка общей маркетинговой и рекламной стратегии компании: позиционирование бренда, ценовая стратегия.</li>
              <li class="circle-list__item">Реализация маркетинговых мероприятий по выходу на новые рынки, в том числе зарубежные</li>
              <li class="circle-list__item">Изучение потребителей/рынка (проведение опросов, изучение сайтов конкурентов, поиск основных “болей” клиента, разработка ценностного предложения)</li>
              <li class="circle-list__item">Разработка маркетинговой стратегии на сезон (6 месяцев)</li>
              <li class="circle-list__item">Создание и реализация детальных (ежеквартальных, ежемесячных) маркетинговых планов в рамках стратегии</li>
              <li class="circle-list__item">Постановка измеримых показателей эффективности маркетинга</li>
              <li class="circle-list__item">Еженедельная оценка эффективности работы по показателям, их анализ и предложение путей дальнейшего развития маркетинга</li>
              <li class="circle-list__item">Управление маркетинговым бюджетом, его оптимизация</li>
              <li class="circle-list__item">Участие в планерках с собственниками и отделом продаж</li>
              <li class="circle-list__item">Поиск подрядчиков, партнеров и проведение переговоров с ними, заключение договоров</li>
              <li class="circle-list__item">Проведение планёрок с подрядчиками</li>
              <li class="circle-list__item">Постановка (распределение) задач с указанием сроков</li>
              <li class="circle-list__item lower-lvl-list">Руководство рекламными кампаниями совместно с подрядчиками:
                <ul>
                  <li>Планирование и бюджетирование </li>
                  <li>Поиск путей оптимизации расходов и повышения эффективности</li>
                  <li>Партнёрские программы.</li>
                </ul>
              </li>
              <li class="circle-list__item">Построение имиджа компании</li>
              <li class="circle-list__item">Организация участия работы компании на выставках B2B</li>
              <li class="circle-list__item">Планирование рекламных акций/ инфоповодов (июнь-июль - пора отпусков, август - Back to office, 8 марта и Новый год - праздничные активности) и реализовывать их -
                разрабатывать баннеры, креативы, ставить ТЗ закупщикам трафика, дизайнерам, копирайтерам</li>
              <li class="circle-list__item">Разработка контента: фото, видео, текстового или постановка задач исполнителям</li>
              <li class="circle-list__item">Размещение контента на сайте компании</li>
              <li class="circle-list__item">Внутренняя seo-оптимизация сайта</li>
              <li class="circle-list__item">Ведение email-маркетинга (регулярные рассылки, welcome-цепочки, тригерные рассылки, др.)</li>
              <li class="circle-list__item">Ведение соц сетей ВКонтакте, Одноклассники, Facebook, Instagram: контент-план, его реализация, ответы на запросы или передача запросов ответственному менеджеру</li>
              <li class="circle-list__item">Решение смежных оперативных маркетинговых задач, в том числе: выполнение разовых поручений (например, выбрать максимально приемлемое предложение,
                изготовить сертификаты-благодарности о сотрудничестве, заказать фирменные подарки, бейджи, фирменный скоч, корпоративную форму сотрудника склада)</li>
              <li class="circle-list__item">Изучение современных инструментов маркетинга, их оценка и внедрение в бизнес</li>
              <li class="circle-list__item">Анализ изменений на рынке, отслеживание трендов</li>
            </ul>

            <h6 class="accordion__mini-label">Требования:</h6>
            <ul class="circle-list">
              <li class="circle-list__item">Возраст от 25 до 40 лет.
              </li>
              <li class="circle-list__item">Продвинутый пользователь ПК (MS Office - Word, Excel, Power Point; 1С, Web, Mail).</li>
              <li class="circle-list__item">Высокий уровень коммуникации, презентационные навыки.</li>
              <li class="circle-list__item">Сильные аналитические способности. Умение работать с цифрами (работаете в excel на уровне простых моделей, сводных таблиц).</li>
              <li class="circle-list__item">Умение строить и проверять гипотезы (давайте покажем рекламу Продукта для аудитории женщин с интересом fashion), смотреть на результаты и делать выводы.</li>
              <li class="circle-list__item">Понимание “воронки продаж” (первичное знакомство с продуктом, заинтересованность, поиск лучших вариантов для покупки, покупка) и умение применять на практике.</li>
              <li class="circle-list__item">Умение работать с аналитикой (Google Analytics, Яндекс.Метрика, Roistat).</li>
              <li class="circle-list__item">Умение оперировать показателями эффективности рекламы (CTR, CPC, CPA, CPO, ROI) – понимание, что означают эти показатели, как считаются, как их можно изменить в лучшую сторону.</li>
              <li class="circle-list__item">Умение составлять технические задания, управлять подрядчиками.</li>
              <li class="circle-list__item">Знание профессиональных программ минимум на базовом уровне: Photoshop, CorelDRAW / Illustrator.</li>
              <li class="circle-list__item">Высшее или средне-специальное образование.</li>
              <li class="circle-list__item">Опыт работы от 1 года в маркетинге и digital-маркетинге.</li>
              <li class="circle-list__item">Быстрая обучаемость.</li>
              <li class="circle-list__item">Знание рынка чулочно-носочных изделий будет плюсом.</li>

            </ul>


            <h6 class="accordion__mini-label">Личные качества:</h6>
            <ul class="circle-list">
              <li class="circle-list__item">Активная жизненная позиция, ориентированность на результат.</li>
              <li class="circle-list__item">Ответственность за результат и принятые решение, личная организованность.</li>
              <li class="circle-list__item">Желание постоянно обучаться и профессионально расти.</li>
              <li class="circle-list__item">Четкость в выполнении поставленных задач.</li>
              <li class="circle-list__item">Умение соблюдать инструкции.</li>
              <li class="circle-list__item">Инициативность.</li>
              <li class="circle-list__item">Ответственность, презентабельный внешний вид.</li>
              <li class="circle-list__item">Грамотная письменная и устная речь.</li>
              <li class="circle-list__item">Позитивный настрой и желание зарабатывать.</li>

            </ul>

            <h6 class="accordion__mini-label">Условия:</h6>
            <ul class="circle-list">
              <li class="circle-list__item">Оформление по ТК РФ.</li>
              <li class="circle-list__item">График работы: понедельник-пятница с 9.00 до 18.00.</li>
              <li class="circle-list__item">Работа в комфортабельном офисе.</li>
              <li class="circle-list__item">Стабильность.</li>
              <li class="circle-list__item">Сложившийся дружный коллектив.</li>
              <li class="circle-list__item">Оклад 00 000 рублей + KPI. Уровень заработной платы не ограничивается и полностью зависит от желания зарабатывать!</li>
              <li class="circle-list__item">Испытательный срок 1-3 месяца.</li>
              <li class="circle-list__item">Покупка изделий компании по оптовым ценам.</li>
            </ul>

            <h6 class="accordion__mini-label">Адрес:</h6>
            <p class="vacancies__top-article">680022, Хабаровский край, г. Хабаровск, ул. Лазо, 3А/2</p>

            <h6 class="accordion__mini-label">Тип занятости:</h6>
            <p class="vacancies__top-article">Полная занятость, полный день.</p>
          </div>
        </li>
        <li class="accordion__item">
          <a class="uk-accordion-title" href="#">Менеджер по продажам</a>
          <div class="uk-accordion-content">
            <h3 class="accordion__label">Маркетолог</h3>
            <h6 class="accordion__mini-label">Хочется найти:</h6>
            <p class="accordion__article">Целеустремленного человека, того, кому интересно развивать компанию, в которой он работает и вести ее к достижению цели: Быть №1 в своем сегменте на российском
              рынке. Того, кто очень любит маркетинг, продвижение и считает это делом своей жизни. Человека, который знает рынок, работал в сфере легкой промышленности или fashion-
              индустрии. Того, для кого маркетинг – это игра, в которой он всегда выигрывает, помогает организовывать продажи и приводит в бизнес новых клиентов!
            </p>
            <h6 class="accordion__mini-label">Обязанности:</h6>
            <ul class="circle-list">
              <li class="circle-list__item">Разработка общей маркетинговой и рекламной стратегии компании: позиционирование бренда, ценовая стратегия.</li>
              <li class="circle-list__item">Реализация маркетинговых мероприятий по выходу на новые рынки, в том числе зарубежные</li>
              <li class="circle-list__item">Изучение потребителей/рынка (проведение опросов, изучение сайтов конкурентов, поиск основных “болей” клиента, разработка ценностного предложения)</li>
              <li class="circle-list__item">Разработка маркетинговой стратегии на сезон (6 месяцев)</li>
              <li class="circle-list__item">Создание и реализация детальных (ежеквартальных, ежемесячных) маркетинговых планов в рамках стратегии</li>
              <li class="circle-list__item">Постановка измеримых показателей эффективности маркетинга</li>
              <li class="circle-list__item">Еженедельная оценка эффективности работы по показателям, их анализ и предложение путей дальнейшего развития маркетинга</li>
              <li class="circle-list__item">Управление маркетинговым бюджетом, его оптимизация</li>
              <li class="circle-list__item">Участие в планерках с собственниками и отделом продаж</li>
              <li class="circle-list__item">Поиск подрядчиков, партнеров и проведение переговоров с ними, заключение договоров</li>
              <li class="circle-list__item">Проведение планёрок с подрядчиками</li>
              <li class="circle-list__item">Постановка (распределение) задач с указанием сроков</li>
              <li class="circle-list__item lower-lvl-list">Руководство рекламными кампаниями совместно с подрядчиками:
                <ul>
                  <li>Планирование и бюджетирование </li>
                  <li>Поиск путей оптимизации расходов и повышения эффективности</li>
                  <li>Партнёрские программы.</li>
                </ul>
              </li>
              <li class="circle-list__item">Построение имиджа компании</li>
              <li class="circle-list__item">Организация участия работы компании на выставках B2B</li>
              <li class="circle-list__item">Планирование рекламных акций/ инфоповодов (июнь-июль - пора отпусков, август - Back to office, 8 марта и Новый год - праздничные активности) и реализовывать их -
                разрабатывать баннеры, креативы, ставить ТЗ закупщикам трафика, дизайнерам, копирайтерам</li>
              <li class="circle-list__item">Разработка контента: фото, видео, текстового или постановка задач исполнителям</li>
              <li class="circle-list__item">Размещение контента на сайте компании</li>
              <li class="circle-list__item">Внутренняя seo-оптимизация сайта</li>
              <li class="circle-list__item">Ведение email-маркетинга (регулярные рассылки, welcome-цепочки, тригерные рассылки, др.)</li>
              <li class="circle-list__item">Ведение соц сетей ВКонтакте, Одноклассники, Facebook, Instagram: контент-план, его реализация, ответы на запросы или передача запросов ответственному менеджеру</li>
              <li class="circle-list__item">Решение смежных оперативных маркетинговых задач, в том числе: выполнение разовых поручений (например, выбрать максимально приемлемое предложение,
                изготовить сертификаты-благодарности о сотрудничестве, заказать фирменные подарки, бейджи, фирменный скоч, корпоративную форму сотрудника склада)</li>
              <li class="circle-list__item">Изучение современных инструментов маркетинга, их оценка и внедрение в бизнес</li>
              <li class="circle-list__item">Анализ изменений на рынке, отслеживание трендов</li>
            </ul>

            <h6 class="accordion__mini-label">Требования:</h6>
            <ul class="circle-list">
              <li class="circle-list__item">Возраст от 25 до 40 лет.
              </li>
              <li class="circle-list__item">Продвинутый пользователь ПК (MS Office - Word, Excel, Power Point; 1С, Web, Mail).</li>
              <li class="circle-list__item">Высокий уровень коммуникации, презентационные навыки.</li>
              <li class="circle-list__item">Сильные аналитические способности. Умение работать с цифрами (работаете в excel на уровне простых моделей, сводных таблиц).</li>
              <li class="circle-list__item">Умение строить и проверять гипотезы (давайте покажем рекламу Продукта для аудитории женщин с интересом fashion), смотреть на результаты и делать выводы.</li>
              <li class="circle-list__item">Понимание “воронки продаж” (первичное знакомство с продуктом, заинтересованность, поиск лучших вариантов для покупки, покупка) и умение применять на практике.</li>
              <li class="circle-list__item">Умение работать с аналитикой (Google Analytics, Яндекс.Метрика, Roistat).</li>
              <li class="circle-list__item">Умение оперировать показателями эффективности рекламы (CTR, CPC, CPA, CPO, ROI) – понимание, что означают эти показатели, как считаются, как их можно изменить в лучшую сторону.</li>
              <li class="circle-list__item">Умение составлять технические задания, управлять подрядчиками.</li>
              <li class="circle-list__item">Знание профессиональных программ минимум на базовом уровне: Photoshop, CorelDRAW / Illustrator.</li>
              <li class="circle-list__item">Высшее или средне-специальное образование.</li>
              <li class="circle-list__item">Опыт работы от 1 года в маркетинге и digital-маркетинге.</li>
              <li class="circle-list__item">Быстрая обучаемость.</li>
              <li class="circle-list__item">Знание рынка чулочно-носочных изделий будет плюсом.</li>

            </ul>


            <h6 class="accordion__mini-label">Личные качества:</h6>
            <ul class="circle-list">
              <li class="circle-list__item">Активная жизненная позиция, ориентированность на результат.</li>
              <li class="circle-list__item">Ответственность за результат и принятые решение, личная организованность.</li>
              <li class="circle-list__item">Желание постоянно обучаться и профессионально расти.</li>
              <li class="circle-list__item">Четкость в выполнении поставленных задач.</li>
              <li class="circle-list__item">Умение соблюдать инструкции.</li>
              <li class="circle-list__item">Инициативность.</li>
              <li class="circle-list__item">Ответственность, презентабельный внешний вид.</li>
              <li class="circle-list__item">Грамотная письменная и устная речь.</li>
              <li class="circle-list__item">Позитивный настрой и желание зарабатывать.</li>

            </ul>

            <h6 class="accordion__mini-label">Условия:</h6>
            <ul class="circle-list">
              <li class="circle-list__item">Оформление по ТК РФ.</li>
              <li class="circle-list__item">График работы: понедельник-пятница с 9.00 до 18.00.</li>
              <li class="circle-list__item">Работа в комфортабельном офисе.</li>
              <li class="circle-list__item">Стабильность.</li>
              <li class="circle-list__item">Сложившийся дружный коллектив.</li>
              <li class="circle-list__item">Оклад 00 000 рублей + KPI. Уровень заработной платы не ограничивается и полностью зависит от желания зарабатывать!</li>
              <li class="circle-list__item">Испытательный срок 1-3 месяца.</li>
              <li class="circle-list__item">Покупка изделий компании по оптовым ценам.</li>
            </ul>

            <h6 class="accordion__mini-label">Адрес:</h6>
            <p class="vacancies__top-article">680022, Хабаровский край, г. Хабаровск, ул. Лазо, 3А/2</p>

            <h6 class="accordion__mini-label">Тип занятости:</h6>
            <p class="vacancies__top-article">Полная занятость, полный день.</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="vacancies__heart-top-left heart-dots"></div>
    <div class="vacancies__heart-middle-left heart-dots"></div>
    <div class="vacancies__heart-middle-right heart-dots"></div>
  </section>

  <section class="vacancies__form form main-content">
    <h2 class="title vacancies__form-title">Если вас заинтересовала
      работа в HOBBY LINE,
      отправьте резюме,
      используя форму
      справа:</h2>
    <div class="form__wrap">
      <form action="" name="vacancies">
        <div class="form__row">
          <input type="text" class="form__input" name="name-vac" value="" placeholder="Имя*" required>
          <input type="text" class="form__input" name="lastName" value="" placeholder="Фамилия*" required>
          <input type="text" class="form__input" name="phone" value="" placeholder="Номер телефона*" required>
          <input type="text" class="form__input" name="mail-vac" value="" placeholder="E-mail*" required>
          <!-- -->
          <div class="__select" data-state="">
            <div class="__select__title" data-default="Option 0">Выбрать вакансию</div>
            <div class="__select__content">
              <input id="singleSelect0" class="__select__input" type="radio" name="singleSelect" checked />
              <label for="singleSelect0" class="__select__label"></label>
              <input id="singleSelect1" class="__select__input" type="radio" name="singleSelect" />
              <label for="singleSelect1" class="__select__label">Маркетолог</label>
              <input id="singleSelect1" class="__select__input" type="radio" name="singleSelect" />
              <label for="singleSelect1" class="__select__label">Региональный менеджер</label>
              <!-- <input id="singleSelect2" class="__select__input" type="radio" name="singleSelect" disabled />
              <label for="singleSelect2" class="__select__label">Директор (disabled)</label> -->
              <input id="singleSelect3" class="__select__input" type="radio" name="singleSelect" />
              <label for="singleSelect3" class="__select__label">Менеджер по продажам</label>
            </div>
          </div>
          <!-- -->
        </div>
        <textarea name="textarea" class="form__textarea" placeholder="Сопроводительное письмо"></textarea>
        <div class="uk-flex uk-flex-between form__btn-wrap">
          <div class="uk-margin">
            <div uk-form-custom class="form__file-wrap">
              <input type="file">
              <span class="form__file">ПРИКРЕПИТЬ РЕЗЮМЕ</span><img src="img/ico/file.svg" alt="">
            </div>
          </div>
          <button class="link-half form__link">ОТПРАВИТЬ <img src="img/main/arrow-rg.svg" class="btn-arrow-cat" alt=""></button>
        </div>
      </form>
    </div>
  </section>

</main>

@@include('_footer.html')